#socialSingleSignOn {
	right: 10px;
	bottom: 50px;
	z-index: 30;
	position: fixed;
	display: inline-block;
}
#socialSingleSignOn div {
	float: left;
}
#socialSingleSignOn .textInside {
	color: #FFF;
	font-size: 9px;
	font-family: "Gotham", "Helvetica", Arial, sans-serif;
	font-weight: normal;
	text-align: right;
	line-height: 30px;
}
#socialSingleSignOn ul {
	padding: 0;
	margin: 0 0 0 10px;
}
#socialSingleSignOn ul li {
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
}
#socialSingleSignOn ul li a {
	list-style: none;
	width: 20px;
	height: 20px;
	overflow: hidden;
	float: left;
}
#socialSingleSignOn ul li.sofacebook a img {
	/*background: url(../../images/skin_lj_rl/buttons/icon_white_facebook.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;*/
	width: 20px;
	height: 40px;
}
#socialSingleSignOn ul li.sotwitter a img {
	/*background: url(../../images/skin_lj_rl/buttons/icon_white_twitter.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;*/
	width: 20px;
	height: 40px;
}
#socialSingleSignOn ul li.sofacebook a:hover img,
#socialSingleSignOn ul li.sofacebook a:focus img,
#socialSingleSignOn ul li.sotwitter a:hover img,
#socialSingleSignOn ul li.sotwitter a:focus img {
	width: 20px;
	height: 40px;
	top:-20px;
}