body { background:#fff; }
div,
input[type="submit"] { box-sizing: border-box; }
h1 {
	color:#dc2c27;
	font-size: 100%;
	line-height:normal;
	text-align: center;
	padding: 10px 0;
	text-transform:uppercase;
}
#user {
	color:#fff;
	background:#000;
	font-size:8px;
	line-height:11px;
	text-transform:uppercase;
	text-align:center;
	width:100%;
	padding:5px 0;
	display: inline-block;
}
span.userName { color:#f05224; }
#loginContent,
#recoverPassContent,
#registrationContent,
#legalesLayerID {
	width:100%;
	height:100%;
	display:inline-block;
}
#legalesLayerID {
	box-sizing:border-box; 
	padding:20px 0;
	font-size:90%;
	line-height:130%;
	text-align:justify;
}
#legalesLayerID p { padding: 0 20px; }
#legalesLayerID h1 { font-size:160%; font-weight:bold; padding:20px 0; }
#legalesLayerID h3 { font-size:140%; padding:40px 20px 20px 20px; }
#legalesLayerID a.indexButtonBase { font-size:160%; margin-right:20px; }

#recoverPassContent p { padding:20px 0; }
#loginContent form,
#recoverPassContent form,
#registrationContent form {
	max-width:800px;
	margin:10px auto;
	padding:0 15px 0 15px;
}
#loginContent fieldset,
#recoverPassContent fieldset,
#registrationContent fieldset { width:100%; }

#loginContent fieldset label,
#registrationContent fieldset label {
	color:#dc2c27;
	font-size:80%;
	line-height:normal;
	text-align:left;
	text-transform:uppercase;
	width:100%;
}
#recoverPassContent fieldset label {
	color:#dc2c27;
	font-size:80%;
	line-height:normal;
	text-align:left;
	text-transform:uppercase;
}
#registrationContent fieldset label.readOnly { color:#424242; }
#loginContent select,
#loginContent select option,
#loginContent input:not([type]),
#loginContent input[type="color"],
#loginContent input[type="email"],
#loginContent input[type="number"],
#loginContent input[type="password"],
#loginContent input[type="tel"],
#loginContent input[type="url"],
#loginContent input[type="text"],
#recoverPassContent select,
#recoverPassContent input[type="email"],
#recoverPassContent input[type="text"],
#registrationContent textarea,
#registrationContent select,
#registrationContent input:not([type]),
#registrationContent input[type="color"],
#registrationContent input[type="email"],
#registrationContent input[type="number"],
#registrationContent input[type="password"],
#registrationContent input[type="tel"],
#registrationContent input[type="url"],
#registrationContent input[type="text"] {
	border:none;
	background:#2c2c2c;
	color:#fff;
	font-size:80%;
	line-height:normal;
	width:100%;
	padding:10px 0;
	margin:10px 0;
	float:right;
}
#registrationContent textarea {
	height:80px;
}
#loginContent select,
#recoverPassContent select,
#registrationContent select { line-height:18px; height:38px; padding:0; }
#registrationContent div.dateHelper { float:left; }
#registrationContent select.day-month { width: 50px; margin-right:15px; }
#registrationContent select.year { width: 100px; }

#loginContent a.buttonLink {
	color:#dc2c27;
	font-size:80%;
	line-height:normal;
	text-transform:uppercase;
	padding:10px 0;
	float: left;
}
#registrationContent input[type="submit"].indexLogin,
#loginContent input[type="submit"].indexLogin,
#recoverPassContent input[type="submit"].buttonSend,
#registrationContent input[type="submit"].buttonSend,
#legalesLayerID a.indexButtonBase {
	border:none;
	background:#dc2c27;
	color:#fff;
	font-size:100%;
	line-height:normal;
	text-transform:uppercase;
	padding:10px 20px;
	float: right;
}
#registrationContent p { color:#333; font-size:90%; padding:10px; }
#registrationContent .countrySelected { font-size:80%; text-transform:uppercase; }
#registrationContent fieldset.countryFieldset { padding:0 0 20px 0; }
#registrationContent fieldset.sexFieldset { width:25%; float:left; }
#registrationContent fieldset.sexOptionsFieldset { width:75%; float:left; }
.errorInForm { color:#cb2200; text-align:center; width:100%; float:left; }