.videoLayer {
	width: 100%;
	height: 100%;
	display: inline-block;
}
#videoWrapper {
	background:#000;
	width: 95%;
	height: 100%;
	margin: 10px auto;

}
#videoIframe {
	width:100%;
	height:80%;
	margin:0 auto;
}
.homeSample {
	background:url(../../images/skin_lj_rl/backs/homevideo_face_480.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	text-align:center;
}
.petsSample {
	background:url(../../images/skin_lj_rl/backs/petsvideo_face_480.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	text-align:center;
}
.carSample {
	background:url(../../images/skin_lj_rl/backs/carvideo_face_480.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	text-align:center;
}
#videoIframe p {
	padding: 180px 40px 15px 40px;
}
#footerizer { width: 95%; margin:0 auto; }
#footerizer h3 { color:#dc2c27; padding:10px 0 0 0; }
#footerizer p { color:#fff; font-size:70%; padding:10px 0; }