<config>
	<thumb>
		<width>0</width>
		<height>0</height>
		<margin>0</margin>
		<backgroundColor>0x666666</backgroundColor>
		<backgroundAlpha>0</backgroundAlpha>
		<coverColor>0x000000</coverColor>
		<coverAlpha>0</coverAlpha>
		<topPosition>no</topPosition>
	</thumb>
	<info>
		<space>0</space>
		<width>0</width>
		<height>0</height>
		<buttonSize>200</buttonSize>
		<buttonHeights>60</buttonHeights>
		<nextButton>swf/homeCentral/images/next.png</nextButton>
		<previousButton>swf/homeCentral/images/previous.png</previousButton>
		<playButton>swf/homeCentral/images/play.png</playButton>
		<pauseButton>swf/homeCentral/images/pause.png</pauseButton>
		<meAnimoOver>swf/homeCentral/images/meAnimo_Over.png</meAnimoOver>
		<nomeAnimoOver>swf/homeCentral/images/noAnimo_over.png</nomeAnimoOver>
	</info>
	<view>
		<loaderSize>20</loaderSize>
		<effectTime>1</effectTime>
		<timeBarColor>0x666666</timeBarColor>
		<timeBarAlpha>20</timeBarAlpha>
		<timeBarHeight>4</timeBarHeight>
		<autoPlay>yes</autoPlay>
		<timer>10000</timer>
	</view>
	<items>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/teaserPostits.jpg</view>
			<link>postits.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/buenDia.jpg</view>
			<link>buenDia.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/teaserDePadres.jpg</view>
			<link>cartasDePadresAHijos.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/teaserCartasDeHaP.jpg</view>
			<link>cartasDeHijosAPadres.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/teaserPapapedia.jpg</view>
			<link>papapedia.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/teaserFinalesDeEmails.jpg</view>
			<link>finalesDeEmail.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/apodos.jpg</view>
			<link>apodosDeAmor.jsp</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb></thumb>
			<view>swf/homeCentral/images/view/img_rotador_ayudaternura.jpg</view>
			<link>ayudasTernuras.jsp</link>
			<target>_self</target>
		</item>
	</items>
</config>