@charset "utf-8";
/* CSS Document */
/*   Reseteo CSS   ***************************************************/

body,div,dl,dt,dd,ul,ol,li,h1,pre,form,fieldset,input,textarea,p,blockquote,th,td,select,input {
	margin:0;
	padding:0;
	border:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
* {
	margin: 0;
	padding: 0;
}
img {
	border:0;
}
body {
	background-color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #fff;	
}

div {
	/*border:dotted 1px #00FF00;*/
}

/************************************* Comienzo del country selection *************************************/
h3 a, h3 a:hover, h3 a:visited, h3 a:active  {
	color:#fef455;
}
.hide {
	display:none;
}
#BlockCoutrySelection {
	background-image: url(../images/selector-pais.gif);
	background-repeat: no-repeat;
	width:980px;
	height:560px;
	margin:0 auto;
	position:relative;
	background-position: center top;

}
#BlockCoutrySelection #labelCountrySelection {
	line-height: 14px;
	font-weight: bold;
	width: 220px;
	font-size: 10px;
	height: 40px;
	left: 520px;
	top: 250px;
	position: relative;
}
#BlockCoutrySelection #countryCombo {
	left: 520px;
	top: 250px;
	width: 250px;
	height: 40px;
	margin-top:0px;
	float:left;
	position: relative;
}
select {
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	width:180px;
}
.specialMargin {
	margin-top:10px;
}
#BlockCoutrySelection #countryCombo select {
	float:left;
}
.okCircle, .okCircle a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:14px;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/buttons/button_circle.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:40px;
	height:40px;
	border:none;
	cursor:hand;
	margin:0;
	padding:0;
}
/************************************* Comienzo del home *************************************/
.okCircleSuscribe, .okCircleSuscribe a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/buttons/button_circle_suscribe.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:24px;
	height:24px;
	border:none;
	cursor:hand;
}
body {
	background-image: url(../images/bg-main.jpg);
	background-repeat: repeat-x;
/*	background-color:#FFFFFF;
	background-image: url(../images/nuevoFondo.gif);
	background-repeat: repeat;*/
}
#portaHeader {
	background-image: url(../images/bg-headerHome.png);
	background-repeat: repeat;
	width: 1010px;
	height: 123px;
	margin:0 auto;
	clear: both;
	float: none;
}
#portaHeader #header {
	height: 123px;
/*	width: 1010px;
	margin-right: auto;
	margin-left: auto;*/
}
#portaHeader #header #logo {
	background-image: url(../images/logoHome.png);
	background-repeat: no-repeat;
	float: left;
	height: 123px;
	width: 197px;
	border-right: 1px solid #386061;
}
#portaHeader #header #menu {
	height: 123px;
	float: left;
	width: 808px;
	padding:0;
	margin:0;
	overflow:hidden;
}
#portaHeader #header #menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 812px;
	height:123px;
	display: inline-block;
}
#portaHeader #header #menu li {
	margin: 0px;
	padding: 0px;
	display: inline;
}
#portaHeader #header #menu li a {
	background-image: url(../images/bg-headerHomeLight.png);
	background-repeat: repeat;
	font-family: 'Doppio One', sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	float: left;
	line-height: 123px;
	text-decoration: none;
	font-size: 15px;
	padding-right: 12px;
	padding-left: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #386061;
}
#portaHeader #header #menu li a:hover {
	background-image: none;
	background-color:#e25237;
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	line-height: 123px;
	text-decoration: none;
	font-size: 15px;
	color: #FFFF66;
}
#bannerHeader {
	background-image: url(../images/bg-headerHomeLight.png);
	background-repeat: repeat;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	height: 91px;
}
#BlockMain {
	background-image: url(../images/bg-headerHomeLight.png);
	background-repeat: repeat;
	height: 385px;
	width: 1010px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
}
#BlockMain #mainContent {
	float: left;
	height: 385px;
	width: 428px;
	margin-left: 15px;
	display:block;
}
#BlockMain #top100Home {
	display:block;
	background-image: url(../images/bg-top100Home.png);
	background-repeat: no-repeat;
	float: left;
	height: 383px;
	width: 250px;
	margin-left: 25px;
	display: inline-block;
}
#BlockMain #top100Home #position {
	font-size: 12px;
	line-height: 25px;
	font-weight: normal;
	color: #e25237;
	text-align: right;
	float: left;
	width: 19px;
	padding-right: 11px;
	padding-left: 21px;
}
#BlockMain #top100Home #rankedHome {
	font-size: 13px;
	line-height: 25px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	float: left;
	width: 170px;
	height:25px;
	overflow: hidden;
}
#BlockMain #top100Home #rankedHome:hover {
	background-color:#525252;
}
#BlockMain #top100Home #linkMore, #BlockMain #top100Home #linkMore a {
	color:#e25237;
	float:left;
	font-size: 12px;
	position: relative;
	width: 220px;
	text-align: right;
	height: 20px;
	padding-top: 3px;
}
#BlockMain #BlockMainRight {
	width:250px;
	height: 385px;
	margin-left: 25px;
	float:left;
	display:block;
}
#BlockMain #BlockMainRight #selectedCountry {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
	background-color: #d7f5ff;
	padding-right: 3px;
	padding-left: 8px;
	position: relative;
	right: 0px;
	float: right;
}
#BlockMain #BlockMainRight #socialAtHome {
	height: 0px;/*23px;*/
	width: 250px;
	margin-top: 5px;
	margin-bottom: 18px; /*8*/
	position: relative;
	overflow: hidden;
	float: right;
}
#BlockMain #BlockMainRight #suscribe {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #e25237;
	float: right;
	height: 51px;
	width: 250px;
	line-height: 51px;
	margin-bottom: 13px; /*borrar cuando vuelva el socialAtHome*/
}
#BlockMain #BlockMainRight #suscribe span {
	padding-left:5px;
	padding-right:8px;
}
#BlockMain #BlockMainRight #bannerRight {
	margin-top:12px;
	width:250px;
	height:268px;
	position:relative;
	float: right;
}
.suscribeField {
	width:119px;
	height:24px;
	border:solid 1px #b0b0b0;
	margin-top:10px;
}
#BlockSecondaryContent {
	height: 1170px;
	width: 1010px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#BlockSecondaryContent h2 {
	font-family: 'Doppio One', sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #525252;
	padding-top: 38px;
	padding-bottom: 8px;
	position:relative;
}
#BlockSecondaryContent #leftContent {
	float: left;
	height: 1170px;
	width: 635px;
	margin-left: 15px;
	position:relative;
}
#BlockSecondaryContent #rightContent {
	float: right;
	height: 1170px;
	width: 309px;
	margin-right: auto;
	margin-left: auto;
}
#BlockSecondaryContent #rightContent #BlockTwFeed {
	width:309px; 
	height:330px;
	overflow:hidden;
	margin-top:10px;
	position:relative;
}
#BlockSecondaryContent #rightContent #BlockFbFeed {
	width:309px; 
	height:484px;
	overflow:hidden;
	margin-top:15px;
	position:relative;
	background-color:#525252;
}
#spacer {
	height:20px;
}
#footer {
	width:100%;
	height:389px;
	background-image:url(../images/bg-footer.gif);
	background-repeat: repeat-x;
	float:left;
}
#footer #upButton {
	width:67px;
	height:67px;
	margin-left:auto;
	margin-right:auto;	
}
#footer h4 {
	font-family: 'Doppio One', sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #525252;
	padding-top: 19px;
	padding-bottom: 8px;
	margin-bottom:15px;
	position:relative;
}
#footer #linksContainer {
	width:1010px;
	height:264px;
	margin-left:auto;
	margin-right:auto;
}
#footer #linksContainer #BlockLinks {
	width:140px;
	height:264px;
	margin-left:14px;
	margin-right:14px;
	float:left;
	overflow:hidden;
}
#footer #linksContainer #BlockLinks a {
	font-size:13px;
	color:#FFFFFF;
	text-decoration:none;
	width:100%;
	float:left;
	padding-top:4px;
	padding-bottom:4px;
}
#footer #linksContainer #BlockLinks a:hover {
	color:#FFFF33;
	text-decoration:underline;
}
#footer #linksContainer #BlockLinks #iconLink a {
	color:#a7a7a7;
	text-decoration:none;
}
#footer #linksContainer #BlockLinks #iconLink a:hover {
	color:#fff;
	text-decoration:underline;
}
#footer #linksContainer #BlockLinks #iconLink img {
	margin-right:9px;
}
#footer #copyright {
	width:980px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	font-size:11px;
	text-align:center;
}
#footer #copyright a {
	color:#e25237;
}
#footer #copyright a:hover {
	color:#FFFF33;
	text-decoration:underline;
}