/* peugeot expanded extra light rg */

@font-face {
    font-family: 'PeugeotExpanded';
    src: url('peugeot_expanded_extralight-webfont.eot');
    src: url('peugeot_expanded_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('peugeot_expanded_extralight-webfont.woff') format('woff'),
         url('peugeot_expanded_extralight-webfont.ttf') format('truetype'),
         url('peugeot_expanded_extralight-webfont.svg#PeugeotExpandedExtraLightRg') format('svg');
    font-weight: 100;
    font-style: normal;
}

/* peugeot expanded light regular */

@font-face {
    font-family: 'PeugeotExpanded';
    src: url('peugeot_expanded_light-webfont.eot');
    src: url('peugeot_expanded_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('peugeot_expanded_light-webfont.woff') format('woff'),
         url('peugeot_expanded_light-webfont.ttf') format('truetype'),
         url('peugeot_expanded_light-webfont.svg#PeugeotExpandedLightRegular') format('svg');
    font-weight: 200;
    font-style: normal;
}

/* peugeot expanded regular */

@font-face {
    font-family: 'PeugeotExpanded';
    src: url('peugeot_expanded_normal-webfont.eot');
    src: url('peugeot_expanded_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('peugeot_expanded_normal-webfont.woff') format('woff'),
         url('peugeot_expanded_normal-webfont.ttf') format('truetype'),
         url('peugeot_expanded_normal-webfont.svg#PeugeotExpandedRegular') format('svg');
    font-weight: normal; /* 400 */
    font-style: normal;
}

/* peugeot expanded medium regular */

@font-face {
    font-family: 'PeugeotExpanded';
    src: url('peugeot_expanded_medium-webfont.eot');
    src: url('peugeot_expanded_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('peugeot_expanded_medium-webfont.woff') format('woff'),
         url('peugeot_expanded_medium-webfont.ttf') format('truetype'),
         url('peugeot_expanded_medium-webfont.svg#PeugeotExpandedMediumRegular') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* peugeot expanded bold */

@font-face {
    font-family: 'PeugeotExpanded';
    src: url('peugeot_expanded_bold-webfont.eot');
    src: url('peugeot_expanded_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('peugeot_expanded_bold-webfont.woff') format('woff'),
         url('peugeot_expanded_bold-webfont.ttf') format('truetype'),
         url('peugeot_expanded_bold-webfont.svg#PeugeotExpandedBold') format('svg');
    font-weight: bold; /* 700 */
    font-style: normal;
}

/* peugeot style */

@font-face {
    font-family: 'PeugeotStyle';
    src: url('peugeot_style_v2-webfont.eot');
    src: url('peugeot_style_v2-webfont?#iefix') format('embedded-opentype'),
         url('peugeot_style_v2-webfont.woff') format('woff'),
         url('peugeot_style_v2-webfont.ttf') format('truetype'),
         url('peugeot_style_v2-webfont.svg#peugeot_style_v2-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* peugeot bold */

@font-face {
    font-family: 'Peugeot';
    src: url('peugeot_expanded_bold-webfont.eot');
    src: url('peugeot_expanded_bold-webfont?#iefix') format('embedded-opentype'),
         url('peugeot_expanded_bold-webfont.woff') format('woff'),
         url('peugeot_expanded_bold-webfont.ttf') format('truetype'),
         url('peugeot_expanded_bold-webfont.svg#peugeot_expanded_bold-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
