<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <display-name>MilkaWeb</display-name>
 <context-param>
  <param-name>application.resources</param-name>
  <param-value>com.tdil.milka.struts.resources.ApplicationResources</param-value>
 </context-param>
 <context-param>
  <param-name>system.config</param-name>
  <param-value>com.tdil.milka.utils.MilkaConfig</param-value>
 </context-param>
 <filter>
  <filter-name>UrlRewriteFilter</filter-name>
  <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  <init-param>
   <param-name>logLevel</param-name>
   <param-value>WARN</param-value>
  </init-param>
 </filter>
 <filter>
  <filter-name>NoCachingFilter</filter-name>
  <filter-class>com.tdil.web.NoCacheFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>UrlRewriteFilter</filter-name>
  <url-pattern>/notes/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>NoCachingFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>NoCachingFilter</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.tdil.pool.DBCPoolingListener</listener-class>
 </listener>
 
 <!-- Cache static content -->
 <filter>
    <filter-name>imagesCache</filter-name>
    <filter-class>com.samaxes.filter.CacheFilter</filter-class>
    <init-param>
        <param-name>static</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>expirationTime</param-name>
        <param-value>1800</param-value>
    </init-param>
</filter>

<filter>
    <filter-name>cssCache</filter-name>
    <filter-class>com.samaxes.filter.CacheFilter</filter-class>
    <init-param>
        <param-name>expirationTime</param-name>
        <param-value>1800</param-value>
    </init-param>
</filter>

<filter>
    <filter-name>swfCache</filter-name>
    <filter-class>com.samaxes.filter.CacheFilter</filter-class>
    <init-param>
        <param-name>expirationTime</param-name>
        <param-value>1800</param-value>
    </init-param>
</filter>

<filter>
    <filter-name>jsCache</filter-name>
    <filter-class>com.samaxes.filter.CacheFilter</filter-class>
    <init-param>
        <param-name>private</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>expirationTime</param-name>
        <param-value>1800</param-value>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>imagesCache</filter-name>
    <url-pattern>/boImages/*</url-pattern>
</filter-mapping>
<filter-mapping>
    <filter-name>imagesCache</filter-name>
    <url-pattern>/images/*</url-pattern>
</filter-mapping>
<filter-mapping>
    <filter-name>imagesCache</filter-name>
    <url-pattern>/img/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>cssCache</filter-name>
    <url-pattern>/css/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>swfCache</filter-name>
    <url-pattern>/swf/*</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>jsCache</filter-name>
    <url-pattern>*.js</url-pattern>
</filter-mapping>
 
  <!-- Download -->
  <servlet>
  <servlet-name>DownloadServlet</servlet-name>
  <servlet-class>com.tdil.web.DownloadController</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>DownloadServlet</servlet-name>
  <url-pattern>/download.st</url-pattern>
 </servlet-mapping>
 <servlet>
  <servlet-name>DownloadAttachmentController</servlet-name>
  <servlet-class>com.tdil.web.DownloadAttachmentController</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>DownloadAttachmentController</servlet-name>
  <url-pattern>/downloadAttach.st</url-pattern>
 </servlet-mapping>
 <servlet>
  <servlet-name>DownloadThumbnailController</servlet-name>
  <servlet-class>com.tdil.web.DownloadThumbnailController</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>DownloadThumbnailController</servlet-name>
  <url-pattern>/downloadThumb.st</url-pattern>
 </servlet-mapping>
 
<servlet>
  <servlet-name>IsAlive</servlet-name>
  <servlet-class>com.tdil.web.IsAlive</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>IsAlive</servlet-name>
  <url-pattern>/isAlive.st</url-pattern>
 </servlet-mapping>
 
 <!-- Finales de email -->
   <servlet>
    <servlet-name>EmailEndingsServlet</servlet-name>
    <servlet-class>com.tdil.milka.web.EmailEndingsServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmailEndingsServlet</servlet-name>
    <url-pattern>/finalesDeEmail.xml</url-pattern>
  </servlet-mapping>
  
 <!-- Cartas de email -->
   <servlet>
    <servlet-name>MailToParentServlet</servlet-name>
    <servlet-class>com.tdil.milka.web.MailToParentServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>MailToParentServlet</servlet-name>
    <url-pattern>/cartasDeHijosAPadres.xml</url-pattern>
  </servlet-mapping>
  
  <!-- PostIts -->
   <servlet>
    <servlet-name>PostItServlet</servlet-name>
    <servlet-class>com.tdil.milka.web.PostItServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>PostItServlet</servlet-name>
    <url-pattern>/postIts.xml</url-pattern>
  </servlet-mapping>
  
  
    <!-- Apodos -->
   <servlet>
    <servlet-name>LoveNicknamesServlet</servlet-name>
    <servlet-class>com.tdil.milka.web.LoveNicknamesServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoveNicknamesServlet</servlet-name>
    <url-pattern>/apodosDeAmor.xml</url-pattern>
  </servlet-mapping>
 
 <!-- Action Servlet Configuration -->
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!-- Action Servlet Mapping -->
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <!-- The Usual Welcome File List -->
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <jsp-config>
  <taglib>
   <taglib-uri>/WEB-INF/struts-bean</taglib-uri>
   <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>/WEB-INF/struts-logic</taglib-uri>
   <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>/WEB-INF/struts-html</taglib-uri>
   <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>/WEB-INF/struts-nested</taglib-uri>
   <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>
 </jsp-config>
</web-app>
