@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
}
body {
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
}
/* / HEADER //////////////////////////////////////////////////// */
#headers {
	background-image: url(../images/skin_basic/backgrounds/header.gif);
	background-repeat: repeat-x;
	width:100%;
	height:130px;
	margin:0;
	padding:0;
	position:relative;
}
#headers #header {
	font-family: "Tahoma", "Trebuchet MS", Arial, sans-serif;
	width:980px;
	height:130px;
	margin:0 auto;
	clear:both;
}
#headers #header #logo {
	width:141px;
	height:130px;
	float:left;
}
#headers #header #centralhead {
	width: 830px;
	height:130px;
	float:left;
}
#headers #header #centralhead #border {
	/*background-color:#00FF33;*/
	background-image: url(../images/skin_basic/header/border.gif);
	background-repeat: no-repeat;
	width:6px;
	height:107px;
	margin-top:11px;
	float:left;
}
#headers #header #centralhead #taglineAndMenu {
	width:474px;
	margin-left:16px;
	margin-top:57px;
	float:left;
}
#headers #header #centralhead #taglineAndMenu p {
	font-size: 18px;
	color: #005a9e;
}
* {
	list-style:none;
	text-decoration:none;
	margin:0;
	padding:0;
}
.nav > li {
	font-size:11px;
	margin-top:12px;
	float:left;
}
.nav li a, .userLogged {
	color:#8d8d8d;
	display:block;
	padding:0 10px;
	float:left;
}
.userLogged {
	padding-right:0;
	float:left;
}
.selected {
	color:#d59b00;
	display:block;
	float:left;
}
.nav li a:hover {
	color:#d59b00;
}
.nav li ul {
	display:none;
	position:absolute;
	min-width:80px;
}
.nav li:hover > ul {
	display:block;
}
.nav li ul li {
	position:relative;
}
.nav li ul li ul {
	right:-165px;
	top:0;
}
#headers #header #centralhead #search {
	color:#8e8e8e;
	font-size:13px;
	width:230px;
	margin-left:17px;
	margin-top:50px;
	float:left;
	overflow:hidden;
}
#headers #header #centralhead #search .searchField {
	font-size: 12px;
	background:none;
	background-image: url(../images/skin_basic/header/baseSimpleSearch.gif);
	background-repeat: no-repeat;
	background-position: left center;
	border:none;
	width:157px;
	height:28px;
	padding-top:3px;
	padding-left:13px;
	padding-bottom:3px;
	padding-right:0px;	
}
#headers #header #centralhead #social {
	width:54px;
	height:36px;
	margin-left:12px;
	margin-top:48px;
	float:left;
	overflow:hidden;
}
#headers #header #centralhead #social ul li a {
	width:27px;
	height:36px;
	float:left;
	overflow:hidden;
}
#headers #header #centralhead #social ul li.fb a {
	background-image: url(../images/skin_basic/header/icon_FB.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
}
#headers #header #centralhead #social ul li.tw a {
	background-image: url(../images/skin_basic/header/icon_TW.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
}
#headers #header #centralhead #social ul li.fb a:hover, #headers #header #centralhead #social ul li.tw a:hover {
	background-position: 0px -36px;	
}
/* / FOOTER //////////////////////////////////////////////////// */
#footers {
	background-image: url(../images/skin_basic/backgrounds/footer.gif);
	background-repeat: repeat-x;
	margin: 0px;
	height: 108px;
	width: 100%;
	float:left;
	position:relative;
}
#footers #footer {
	width:980px;
	margin: 0 auto;
}
#footers #footer #logo {
	width:120px;
	height:96px;
	margin-top: 12px;
	float:left;
}
#footers #footer #linkAndCopy {
	width:500px;
	margin-left:16px;
	margin-right:16px;
	margin-top:37px;
	float:left;
	
	font-size:11px;
	text-align:center;
}
#footers #footer #linkAndCopy a, #footers #footer #linkAndCopy a:active, #footers #footer #linkAndCopy a:visited {
	margin-left:3px;
	margin-right:3px;
}
#footers #footer #linkAndCopy a:hover {
	color:#f46048;
}
#footers #footer #social {
	width:158px;
	height:41px;
	margin-top:46px;
	margin-left:37px;
	float:left;
}
#footers #footer #tdil {
	width:105px;
	margin-top:46px;
	margin-left:19px;
	float:left;
}
#footers #footer #tdil #logo {
	width:105px;
	height:23px;
	margin:0;
	float:left;
}
#footers #footer #tdil #tagline {
	width:105px;
	font-size:10px;
	line-height:normal;
	text-align:center;
	padding-top:8px;
	float:left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}
#footers a, #footers a:active, #footers a:visited {
	color:#919191;
	text-decoration:none;
}
#footers a:hover {
	color:#919191;
	text-decoration:underline;
}
/* ///////////////////////////////////////////////////////////// */
/* / CONTENT /////////////////////////////////////////////////// */
#divisionHeaderBody {
	background-image: url(../images/skin_basic/backgrounds/divisionLineHeaderBody.gif);
	background-repeat: repeat-x;
	background-position: center center;
	width:100%;
	height:14px;
}
#preContainer {
	width:1000px;
	margin:0 auto;
}
#content {
	background-image: url(../images/skin_basic/backgrounds/borders_central.png);
	background-repeat: repeat-y;
	background-position: center center;
	width:1000px;
	margin:0 auto;
	padding:0;
	position:relative;
	float:left;
}
#content h1, #content h2, #content h3, #content h4 {
	padding:8px 8px;
}
#content h1, #content h2, #content h3, #content h4 {
	font-family: "Tahoma", "Trebuchet MS", Arial, sans-serif;
}
#content h3 {
	padding:8px 8px;
}
#content h1 {
	font-size:28px;
	line-height:28px;
	color:#035b9c;
}
#content h2 {
	font-size:16px;
	line-height:22px;
	color:#596066;
}
/* FORMS */
#formSection {
	background-image: url(../images/skin_basic/backgrounds/formBackground.gif);
	background-repeat: repeat;
	background-color:#fff;

	color:#3f495b;
	font-size:13px;
	width:780px;
	margin:10px 0 10px 0;
	padding:10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
	-webkit-box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
	-moz-box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
	-o-box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);

	float:left;
}
#formSection h2, .subAtForm {
	color:#035b9c;
	font-size:20px;
	padding:10px 0 10px 0;
	margin-bottom:10px;
	border-bottom:dotted 1px #CCCCCC;
}
.subAtForm {
	color:#febe10;
	font-size:16px;
}
#formSection a {
	color:#004089;
}
#normalContent {
	margin:15px;
}
/* reescritura */
#zoneNavigation, #categoryNavigation {
	width:290px;	
	overflow:hidden;
	padding:0;
}
#zoneNavigation p, #categoryNavigation p {
	-moz-column-width: 190px;
	-moz-column-gap: 15px;
	-webkit-column-width: 190px;
	-webkit-column-gap: 15px;

	font-size:13px;
	line-height:20px;
	width:410px;
	height:262px;
	
	overflow:hidden;
}
#zoneNavigation a, #categoryNavigation a {
	color:#d59b00;
}
table {
	border:solid 1px #ccc;
	margin-top:20px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform:lowercase;
}
.sortable {
	line-height:normal;
	font-weight:bold;
	color:#999;
	padding-left:5px;
	padding-right:5px;
	background:#FFF;
}
.sortable a {
	color:#666;
}
tr {
	height:30px;
}
td {
	padding:5px;
	border-bottom:dotted 1px #CCC;
	border-right:dotted 1px #CCC;
}
td a {
	color:#292f3a;
}
.odd, .d0 {
	text-align:left;
	background-color: #f9f9f9;
}
.even, .d1 {
	text-align:left;
	background-color: #fff;
}
a {
	text-decoration:none
}
.nonelyLink {
	padding:0 5px 0 5px;
}
.comment, .comment2 {
	font-size:11px;
	line-height:18px;
	font-style: italic;
	font-weight: normal;
	color: #6c6c6c;
}
.comment2 {
	color: #990000;
}
.alerta {
	background-image: url(../images/skin_basic/icons/alert.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:25px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.usersListing {
	font-weight:bold;
	color:#000066;
	text-transform:lowercase;
}
.usersListing {
/*	text-transform:capitalize;*/
}
/*  */
#titleArea {
	padding-left:20px;
	padding-right:20px;
}
#formContent {
	border-top:dotted 1px #CCCCCC;
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	padding-top:10px;
}
#formContent h3 {
	color:#596066;
	font-size:12px;
	line-height:12px;
	margin:0 0 0 15px;
	padding-bottom:0;
}
#formContent a {
	color:#d59b00;
}
#formContent #leftBar {
	width:400px;
	padding-top:20px;
	padding-bottom:50px;
	float:left;
}
#formContent #leftBar p {
	color:#252e35;
	font-size:13px;
	line-height:20px;
	margin-top:20px;
	text-shadow: 0 1px 0 rgba(43, 168, 255, 0.5);
}
#formContent #rightBar {
	background-image: url(../images/skin_basic/backgrounds/contactForm.gif);
	background-repeat: no-repeat;
	background-position: center center;

	width:528px;
	height:373px;
	margin-top:20px;
	margin-left:10px;
	float:left;
}
#formContent #rightBar #formWrapper {
	color:#252e35;
	font-size:13px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	
	margin-top:50px;
	margin-right:30px;
	margin-left:30px;
}
.prodServCategoryPath {
	color:#d59b00;
}
#loginBase {
	background-image: url(../images/skin_basic/backgrounds/formBackground.gif);
	background-repeat: repeat;
	background-color:#fff;

	color:#3f495b;
	font-size:13px;
	width:940px;
	margin: 0 auto;
	padding:10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
	-webkit-box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
	-moz-box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
	-o-box-shadow: 0 0 3px 3px rgba(80, 80, 80, 0.1);
}

/*  / LOS DE MARCOS /////////////////////////////////////////////// */
/* the forward and backward buttons */
.addfwd { display:block; position:absolute; cursor:pointer; width:25px; top:0; right:0px; background:url(../images/gallery_fwd.jpg) no-repeat 0 0; z-index:300;  }
.addbkwd { display:block; position:absolute; cursor:pointer; width:25px; top:0; left:0px; background:url(../images/gallery_back.jpg) no-repeat 0 0; z-index:300;  }
/* Target FireFox 3 [!] */
html>/**/body #col_derecha h2, x:-moz-any-link, x:default {
	font-size:16px;
	line-height:40px;
	margin-bottom:0px;
}
html>/**/body #col_derecha h3, x:-moz-any-link, x:default {
	top:-3px;
	position:relative;
}
html>/**/body #col_derecha ul li a.playlist, x:-moz-any-link, x:default {
	margin-top:0px;
}
.enviar{
}
.hidden {
	visibility:hidden;
}
/**/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #fff;
	background-color: #000;
	padding: 10px;
	opacity: 0.85;
	color: #FFCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
#tooltip h3, #tooltip div { margin: 0; }
/**/
.hide {
	display: none;
}
.banner {
	float:left;
}
.b250x250 {
	width:250px;
/*	height:250px;*/
	margin-top:20px;
	margin-left:20px;
}
.b250x250 img {
	width:250px;
	height:250px;
}