<config>
	<thumb>
		<width>0</width>
		<height>0</height>
		<margin>0</margin>
		<backgroundColor>0x666666</backgroundColor>
		<backgroundAlpha>0</backgroundAlpha>
		<coverColor>0x000000</coverColor>
		<coverAlpha>0</coverAlpha>
		<topPosition>no</topPosition>
	</thumb>
	<info>
		<space>0</space>
		<width>0</width>
		<height>0</height>
		<buttonSize>110</buttonSize>
		<buttonHeights>60</buttonHeights>
		<nextButton>swf/ExpCartasHaP/images/next.png</nextButton>
		<uploadButton>swf/ExpCartasHaP/images/upload.png</uploadButton>
		<previousButton>swf/ExpCartasHaP/images/previous.png</previousButton>
		<playButton>swf/ExpCartasHaP/images/play.png</playButton>
		<pauseButton>swf/ExpCartasHaP/images/pause.png</pauseButton>
	</info>
	<view>
		<loaderSize>20</loaderSize>
		<effectTime>1</effectTime>
		<timeBarColor>0x666666</timeBarColor>
		<timeBarAlpha>40</timeBarAlpha>
		<timeBarHeight>4</timeBarHeight>
		<autoPlay>no</autoPlay>
		<timer>7000</timer>
	</view>
	<items>
		<item>
			<text><!--
				<p><font face="verdana" size="13" color="#f7a453">Monks Balcony of Greek Monastery</font></p>
				<p><font face="calibri" size="11" color="#000000">Photo provide by Photos8.com</font></p>
			--></text>
			<thumb>swf/ExpCartasHaP/images/thumb/dibujo1.jpg</thumb>
			<view>swf/ExpCartasHaP/images/view/dibujo1.jpg</view>
			<link>#</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb>swf/ExpCartasHaP/images/thumb/dibujo2.jpg</thumb>
			<view>swf/ExpCartasHaP/images/view/dibujo2.jpg</view>
			<link>#</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb>swf/ExpCartasHaP/images/thumb/dibujo3.jpg</thumb>
			<view>swf/ExpCartasHaP/images/view/dibujo3.jpg</view>
			<link>#</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb>swf/ExpCartasHaP/images/thumb/dibujo4.jpg</thumb>
			<view>swf/ExpCartasHaP/images/view/dibujo4.jpg</view>
			<link>#</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb>swf/ExpCartasHaP/images/thumb/dibujo5.jpg</thumb>
			<view>swf/ExpCartasHaP/images/view/dibujo5.jpg</view>
			<link>#</link>
			<target>_self</target>
		</item>
		<item>
			<text></text>
			<thumb>swf/ExpCartasHaP/images/thumb/dibujo6.jpg</thumb>
			<view>swf/ExpCartasHaP/images/view/dibujo6.jpg</view>
			<link>#</link>
			<target>_self</target>
		</item>
	</items>
</config>