body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,p,table,tr,td {
	margin:0;
	padding:0;
	font-size:12px;
}
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-image: url(../images/fondoBO.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	color:#464646;
	font-family: "Univers LT", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
}
a, a:hover, a:visited, a:active, a:link {
	color:#aa0410;
}
.remarcado {
	color:#aa0410;
}
input {
	background-color: #FFFFFF;
	border: 1px solid #464646;
	width:280px;
	color:#aa0410;
	font-family: "Univers LT", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
}
#content {
	height: auto;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#content #hello {
	text-align: right;
}
#content #portaMenu {
	margin-top: 200px;
	width: 410px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 80px;
}
#content #page {
	width: 130px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 90px;
	font-size: 12px;
	color: #464646;
	line-height: normal;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.saveButton {
	background-image: url(../images/buttons/guardar.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height:50px;
	width:167px;
	cursor: hand;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	/*border:1px dashed #212021;*/
	border:none;
}
