<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdil.lojack.rl"
    android:versionCode="4"
    android:versionName="1.4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@+id/AppTheme.NoTitleBar.Fullscreen"
        
        
        >
<!--      
android:theme="@style/AppTheme"
android:theme="@+id/AppTheme.NoTitleBar.Fullscreen"
android:theme="@android:Theme.Holo.Light"-->

        <activity
            android:name="com.tdil.thalamus.android.RequestResetPasswordActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.tdil.thalamus.android.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.IndexActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeAlarmDashboard"
            android:label="@string/title_dashboard_alarms"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:icon="@drawable/icon_main_home">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeLightDashboard"
            android:label="@string/title_dashboard_lights"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:icon="@drawable/icon_main_home">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.RegisterActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.UpdateActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.ChangePasswordActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:icon="@drawable/icon_main_home">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeAlarmsActivity"
            android:label="@string/title_home"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeAlarmsSendPanicActivity"
            android:label="@string/title_send_panic"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeLogAlarmActivity"
            android:label="@string/title_log_alarm"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeLightsActivity"
            android:label="@string/title_home"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeLogLightActivity"
            android:label="@string/title_log_light"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeCamerasActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeCameraActivity"
            android:label="@string/title_camera"
            android:configChanges="orientation"
            android:icon="@drawable/icon_main_home">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.CheckForUpdateActivity"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>