<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdil.lojack.rl"
    android:versionCode="20"
    android:versionName="2.00.00" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" android:required="false"/> 
	<uses-permission android:name="android.permission.CALL_PHONE" android:required="false"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:required="false"/>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false"/>
	
     <uses-sdk
        android:minSdkVersion="7"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <meta-data android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.tdil.thalamus.android.RequestResetPasswordActivity"
            android:label="@string/title_request_reset"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.tdil.thalamus.android.LoginActivity"
            android:label="@string/title_activity_login_for_action_bar"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.FirstAccessActivity"
            android:label="@string/title_activity_login_for_action_bar"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.NotClientActivity"
            android:label="@string/title_activity_login_for_action_bar"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.LegalesNotLoggedActivity"
            android:label="@string/title_activity_login_for_action_bar"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.LegalesLoggedActivity"
            android:label="@string/title_activity_login_for_action_bar"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.IndexActivity"
            android:label="@string/empty_text_view"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.ClubLJActivity"
            android:label="@string/empty_text_view"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.deprecated.HomeAlarmDashboard"
            android:label="@string/title_dashboard_alarms"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeLightDashboard"
            android:label="@string/title_dashboard_lights"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.ParkingsActivity"
            android:label="@string/title_parkings"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.PreventActivity"
            android:label="@string/title_prevent"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.RegisterActivity"
            android:label="@string/title_activity_register"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.UpdateActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.ChangePasswordActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.deprecated.HomeAlarmsActivity"
            android:label="@string/title_home"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeAlarmsSendPanicActivity"
            android:label="@string/title_send_panic"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeLogAlarmActivity"
            android:label="@string/title_log_alarm"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.HomeLightsActivity"
            android:label="@string/title_home"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeLogLightActivity"
            android:label="@string/title_log_light"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeCamerasActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
         <activity
            android:name="com.tdil.thalamus.android.HomeCameraActivity"
            android:label="@string/title_camera"
            android:icon="@drawable/icon_main_home"
	        android:configChanges="orientation">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.CheckForUpdateActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.car.VLUMessagesActivity"
            android:label="@string/title_vlu"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>

        <!-- HOME -->
        <activity
            android:name="com.tdil.thalamus.android.home.DemoActivityHome"
            android:label="CARS maqueta"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeIndex"
            android:label="HOME"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeAlarms"
            android:label="Listado de alarms"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeAlarmDashboard"
            android:label="Dashboard de alarma"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeAlarmLog"
            android:label="Log de alarma"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeAlarmsAgendas"
            android:label="Agendas"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeAlarmAgendaEdit"
            android:label="Agendas"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeLightsAgendas"
            android:label="Agendas"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.NotificationsActivity"
            android:label="Mensajes"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeLights"
            android:label="Listado de luces"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.home.ActivityHomeLightDashboard"
            android:label="Dashboard de luz"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
 			android:name="com.tdil.thalamus.android.home.ActivityHomeLightLog"
            android:label="Log de luces"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
           android:name="com.tdil.thalamus.android.home.ActivityHomeCameras"
            android:label="Listado de camaras"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
 			android:name="com.tdil.thalamus.android.home.ActivityHomeCamera"
            android:label="Camara"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.DemoActivityCars"
            android:label="CARS maqueta"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.places.ActivityPlaces"
            android:label="Lugares"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        
        <activity
            android:name="com.tdil.thalamus.android.car.ActivityCars"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.car.ActivityCarsPathHistory"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.tdil.thalamus.android.car.ActivityCarsPathHistoryDetail"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <!-- PARKED MODE -->
        <activity
            android:name="com.tdil.thalamus.android.car.parkedmode.ActivityParkedModeVehicles"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.car.parkedmode.ActivityParkedModeVehicleHome"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.car.parkedmode.ActivityParkedModeVehicleDetail"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.car.parkedmode.ActivityParkedModeVehicleHistory"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.car.parkedmode.ActivityParkedModeMapView"
            android:label="Cars"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <!-- NOT CLIENT -->
        <activity
     		android:name="com.tdil.thalamus.android.home.ActivityHomeNotClient"
            android:label="Home no cliente"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.car.ActivityCarsNotClient"
            android:label="CARS no cliente"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.pets.ActivityPetsNotClient"
            android:label="Pets no cliente"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tdil.thalamus.android.car.parkedmode.ActivityParkedModeNotClient"
            android:label="PM no cliente"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait">
        </activity>
        
        <meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyDeQWMrFJX5TqOy6c7ZdG8bw4PCqBblgds"/>
    </application>

</manifest>