/* COPYRIGHT */
#copyright					{ width:100%; bottom:20px; position:absolute; z-index:1000; }
#copyright .wrapper 		{ width:1000px; margin:0 auto; }
#copyright .copy			{ color:#fff; font-size:9px; font-family:'GothamLightRegular','Gotham', 'Helvetica', Arial, sans-serif; text-align:center; line-height:13px; text-transform:uppercase; width:580px; margin:23px 10px 0; float:left; }
#copyright a				{ color:#ee5222; -o-transition:color .2s ease-out; -ms-transition:color .2s ease-out; -moz-transition:color .2s ease-out; -webkit-transition:color .2s ease-out; /* ...and now override with proper CSS property */ transition:color .2s ease-out; }
#copyright a:hover,
#copyright a:focus			{ color:#FFC431; }
#copyright p 				{ color:#fff; }
#copyright .android_play,
#copyright .ios_store		{ width:200px; float:left; }
#copyright .ios_store		{ text-align:right; }
#copyright .ios_store img	{ height:74px; }


@media only screen and (max-width:1780px) {
	#copyright { top:860px; }
}
@media only screen and (max-width:1000px) {
	#copyright .wrapper 		{ width:100%; display:inline-block; }
	#copyright .android_play	{ width:200px; float:none; position:absolute; top:0; right:10px; }
	#copyright .ios_store		{ top:0; left:10px; position:absolute; }
	#copyright .copy			{ width:100%; margin:0; padding:0 220px; top:20px; left:0; position:absolute; }
	#copyright p				{ padding:0 43px; }
}
@media only screen and (max-width:850px) {
	#copyright .copy			{ padding:0 20px; top:100px; }
}
@media only screen and (max-width:450px) {
	#copyright .ios_store,
	#copyright .android_play	{ width: 100%; float: none; left:0px; text-align: center; }
	#copyright .android_play	{ top: 90px; }
	#copyright .copy			{ top: 185px; }
}