body {
	color:#333;
	background-color:#531A1A;
	font-family:"Gotham","Helvetica",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:normal;
}
#accordion {
	background:#fff;
	text-align:left;
	padding:10px;
	float:left;
	display:inline-block;
}
#accordion,
#agendaWrapper {
	width:100%;
	margin:5px 0 0 0;
}
#agendaWrapper {
	background:#fff;
	text-align:left;
	padding:10px;
	float:left;
}
#agendaWrapper h1 {
	color:#761617;
	font-size:150%;
	line-height:normal;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	padding:10px;
	margin:0;
}
#agendaWrapper form {
	padding-top:5px;
}
#agendaWrapper fieldset {
	border:0;
	padding:0 10px;
	margin:0;
}
#agendaWrapper fieldset.frequencyFieldset {
	margin:0 0 5px 0;
	padding:0 0 15px 10px;
}
#agendaWrapper fieldset.frequencyDaysFieldset {
	padding:0;
}
#agendaWrapper label {
	border:none;
	font-size:120%;
	line-height:normal;
	font-weight:normal;
	width:100%;
	padding:0;
	margin:0;
	cursor:default;
	display:block;
}
#agendaWrapper label.timeLabel {
	font-size:100%;
	text-align:center;
	width:35px;
	padding:15px 0 0 0;
}
#agendaWrapper label.desdeHastaLabel {
	text-align:left;
	width:55px;
}
#agendaWrapper input[type="text"] {
	border:0;
	border-radius:5px;
	background:#EAEAEA;
	color:#333;
	font-size:12px;
	line-height:25px;
	text-transform:none;
	width:100%;
	height:25px;
	margin:10px 0;
	padding:0;
	float: left;
}
#agendaWrapper form fieldset label div {
	width:100%;	
}
#agendaWrapper h4 {
	color:#F05224;
	font-size:15px;
	font-weight:lighter;
	text-rendering:optimizelegibility;
	margin:10px 0 10px 10px;
}
.mRight20 { margin-right:20px; }
.width80 { width:80px; }
#agendaWrapper select {
	background-color:#fff;
	border:1px solid #CCC;
	line-height:30px;
	height:30px;	
}
#dateHelper { width:50%; float:left; }
#dateHelper .comboHelper1,
#dateHelper .comboHelper2 { float:left; }

select.day-month,
select.year  {
	border:0;
	border-radius:5px;
	background:#EAEAEA;
	color:#333;
	font-size:12px;
	line-height:25px;
	text-transform:none;
	height:25px;
	margin:10px 0;
	padding:0;
}
#dateHelper select.day-month { width:40px; padding:0; }
#dateHelper select.year { width:60px; padding:0; }



#agendaWrapper label.radiosFreq {
	font-size:12px;
	width:49%;
	padding:10px 0;
	margin:0;
}
#agendaWrapper label.days {
	font-size:12px;
	text-align:center;
	width:26px;
	padding:15px 0;
	margin:5px 8px;
}
#agendaWrapper label [disabled] { color:red; }
#agendaWrapper .tagsOnInputs,
#agendaWrapper fieldset span {
	color:#999;
	font-family:"Gotham", "Helvetica", Arial, sans-serif;
	font-weight:normal;
	line-height:45px;
	margin:0;
	padding:0 20px 0 0;
	float:left;
	cursor:auto;
}
#agendaWrapper fieldset span {
	width:100%;
}
#agendaWrapper fieldset input[type="radio"] {
	margin:0 5px 0 0;
}
#agendaWrapper fieldset input[type="checkbox"] {
	margin: 0 9px 9px;
}
.pagebanner {
	text-align:center;
	width:100%;
	padding:10px 0;
}
#agendaWrapper table {
	color:#000;
	background:#fff;
	/*width:350px;*/
	margin:20px 0;
}
#agendaWrapper thead {
	background:#ccc;
	font-size:12px;
	line-height:25px;
}
#agendaWrapper tr {
	border-bottom:dotted 1px #F0ECE4;
	font-size:12px;
	line-height:25px;
}
#agendaWrapper tr.odd {
	background:#F0ECE4;
}
#agendaWrapper th,
#agendaWrapper td {
	padding:2px 4px;
	white-space:nowrap;
}
#agendaWrapper div.tableContainer {
	width:100%;
	padding:0;
	overflow-x:scroll;
}


#accordion .portaToggle {
	width:27px;
	height:27px;
	margin:5px 0 0 5px;
	float:left;
}
#accordion img {
	border:0;
	width:auto 9;
	max-width:100%;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic;
}
#accordion .titleContainer {
	width:95%;
	height:auto;
}
#accordion .portaTitleAndSwitch {
	border-bottom:solid 2px #F0ECE4;
	width:89%;
	padding-bottom:5px;
	float:right;
}
#accordion .editable {
	font-size:100%;
	color:#761617;
	font-weight:bold;
	line-height:21px;
	text-transform:uppercase;
	/*max-width:25%;*/
	width:100%;
	margin:0;
	padding:4px 0;
	float:left;
}
#accordion .switchContainer {
	text-align:right;
	float:left;
	width:100%;
	padding:17px 0 10px 0;
}
.has-switch input[type="checkbox"] {
	display:none;
	cursor:pointer;
}
#productHomeContent.col1_798 { width:100%; padding:5px 0 0 0; }
#camerasList { background:#fff; width:100%; padding:10px 0 30px 0; margin:0 0 5px 0; }
#camerasList h3 { font-size:100%; text-align:left; text-transform:uppercase; padding:0 0 10px 20px; }
#camerasList ul { text-align:left; list-style: inherit; padding:0 0 0 20px; margin:0 0 0 20px; }
#camerasList ul li { padding:10px 0; }

#accordion { padding:15px 0 0; }
#agendaWrapper { padding:15px 0; }
#accordion .portaTitleAndSwitch { margin:0; padding:5px 0; float:right; }

.has-switch.switch-mini { min-width:92px; }
.has-switch span.switch-warning { left:-46px; }
.random-switch { left: -66px; }
.has-switch span.switch-danger { left:1px; }
.has-switch label { left:45px; }
input,
textarea,
.uneditable-input {
	margin-left:0;
}
input,
button,
select,
textarea {
	font-family:"Gotham","Helvetica",Helvetica,Arial,sans-serif;
}
.has-switch {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-align:left;
	line-height:8px;
	position:relative;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	min-width: 100px;
}
.has-switch > div.switch-on {
	left:0%;
}
.has-switch > div.switch-animate {
	-webkit-transition:left 0.5s;
	-moz-transition:left 0.5s;
	-o-transition:left 0.5s;
	transition:left 0.5s;
}
.has-switch > div {
	display:inline-block;
	width:150%;
	position:relative;
	top:0;
}
/* random switches y porta switches normales para luces */
#normalSwitches,
#randomSwitches {
	width:92px;
	float:left;
	overflow:hidden;
}
#randomSwitches { margin:0 0 0 5px; }

#randomSwitches .has-switch span.switch-warning {
	background:url(../images/skin_lj_rl/backs/icon_shuffle_switch_on.png);
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
	text-shadow:none;
}
#randomSwitches .has-switch span.switch-danger {
	background:url(../images/skin_lj_rl/backs/icon_shuffle_switch_off.png);
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
	text-shadow:none;
}
/* end random switches */
/* Status de luces */
#portaStatus { text-align:left; float:left; width:60px; padding:5px 0 0 0; }
.XswitchContainer { float:right; }
div[id^="alarm-status-"] {
	float:left;
}
div[id^="alarm-job-"] {
	float:left;
}
.jobsStyle,
.jobsStyleOff {
	width:2px;
	float:left;
	padding:5px;
}

#accordion .fakeButtons {
	color:#fff;
	margin:0 0 0 10px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	padding:4px 2px;
	font-size:10px;
	line-height:9px;
	background-color:#d14641;
	background-image:-moz-linear-gradient(top, #bd362f, #ee5f5b);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#ee5f5b));
	background-image:-webkit-linear-gradient(top, #bd362f, #ee5f5b);
	background-image:-o-linear-gradient(top, #bd362f, #ee5f5b);
	background-image:linear-gradient(to bottom, #bd362f, #ee5f5b);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ffee5f5b', GradientType=0);
	border-color:#ee5f5b #ee5f5b #e51d18;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	float:left;
}
#accordion .randomButtonOff {
	background: url(../images/skin_lj_rl/backs/icon_shuffle_switch_off.png); 
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
	text-shadow:none;
	/*border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color:#ee5f5b #ee5f5b #e51d18;*/
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	float:left;
}
#accordion .randomButtonOn {
	background:url(../images/skin_lj_rl/backs/icon_shuffle_switch_on.png); 
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
	text-shadow:none;
	/*border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color:#fbb450 #fbb450 #f89406;*/
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	float:left;
}
#accordion .on {
	background-color:#f9a123;
	background-image:-moz-linear-gradient(top, #f89406, #fbb450);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#fbb450));
	background-image:-webkit-linear-gradient(top, #f89406, #fbb450);
	background-image:-o-linear-gradient(top, #f89406, #fbb450);
	background-image:linear-gradient(to bottom, #f89406, #fbb450);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff89406', endColorstr='#fffbb450', GradientType=0);
	border-color:#fbb450 #fbb450 #f89406;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#accordion .disableButton { 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#accordion .hasButton:hover { cursor: pointer; }
.alarm-status-DESARMADA,
.alarm-status-DISPARADA,
.alarm-status-ARMADA,
.alarm-status-DESCONOCIDO {
	font-size: 9px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;
	float:left;
	clear: both;
}
.alarm-status-DESARMADA { color: #f05224; }
.alarm-status-DISPARADA { color: #e51b24; }
.alarm-status-ARMADA { color: #7f9e48; }
.alarm-status-DESCONOCIDO { color: #666; }

.status-Apagada,
.status-Encendida,
.status-Desconocido,
.status {
	color: #e2e2e2;
	font-size: 9px;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;
	float:left;
	clear: both;
}
.status-Apagada { color:#e51b24; }
.status-Encendida { color: #7f9e48; }
.status-Desconocido { color:#666; }


#switchBoard {
	width:100%;
	padding:15px 38px 5px;
	float:left;
}
#switchBoard .lastChange {
	font-size:13px;
	line-height:20px;
}
#switchBoard span {
	color:#761617;
	font-size:15px;
	line-height:20px;
	width:100%;
	padding:5px 0;
	float:left;
}
#switchBoard .changesLog,
#switchBoard .notifyme,
#switchBoard .linkToAgenda {
	font-size:15px;
	line-height:20px;
}
#switchBoard button.buttonFullLog,
#switchBoard button.buttonAgendas,
table button.nonelyLinkEditar,
table button.nonelyLinkOFF,
table button.nonelyLinkON {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-color:#f9a123;
	background-image:-moz-linear-gradient(top, #f89406, #fbb450);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#fbb450));
	background-image:-webkit-linear-gradient(top, #f89406, #fbb450);
	background-image:-o-linear-gradient(top, #f89406, #fbb450);
	background-image:linear-gradient(to bottom, #f89406, #fbb450);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff89406', endColorstr='#fffbb450', GradientType=0);
	border-color:#fbb450 #fbb450 #f89406;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color:#FFF;
	font-size:15px;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	width:100%;
	padding: 10px 0;
	cursor:pointer;
}
table button.nonelyLinkOFF {
	background-color:#d14641;
	background-image:-moz-linear-gradient(top, #bd362f, #ee5f5b);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#ee5f5b));
	background-image:-webkit-linear-gradient(top, #bd362f, #ee5f5b);
	background-image:-o-linear-gradient(top, #bd362f, #ee5f5b);
	background-image:linear-gradient(to bottom, #bd362f, #ee5f5b);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ffee5f5b', GradientType=0);
	border-color:#ee5f5b #ee5f5b #e51d18;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border-color:#d14641 #d14641 #cf7775;
}
table button.nonelyLinkON {
	background-color:#266725;
	background-image:-moz-linear-gradient(top, #318a2f, #6dc664);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#318a2f), to(#6dc664));
	background-image:-webkit-linear-gradient(top, #318a2f, #6dc664);
	background-image:-o-linear-gradient(top, #318a2f, #6dc664);
	background-image:linear-gradient(to bottom, #318a2f, #6dc664);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff318a2f', endColorstr='#ff6dc664', GradientType=0);
	border-color:#ee5f5b #ee5f5b #e51d18;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
table button.nonelyLinkEditar,
table button.nonelyLinkOFF,
table button.nonelyLinkON { width:auto; padding:10px; float:left; }
.camarasBG {
	padding:0;
	float:left;
}
#cameraTitle {
	background-color:#fff;
	background-image:url(../images/skin_lj_rl/buttons/toggle_arrow.png);
	background-repeat:no-repeat;
	background-position:10px 14px;
	width:100%;
	height:54px;
	position:relative;
}
#cameraTitle h1 {
	color:#761617;
	font-size:100%;
	line-height:normal;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	margin:0;
	padding:20px 0 0 40px;
}
#pictureContainer {
	background:#fff;
	width:100%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
	float:left;
}
#pictureContainer img {
	width:100%;
	/*min-width:350px;*/
	height:auto;
}
.controlsBasicView {
	background:#fff;
	width:100%;
	margin:0 auto;
	position:relative;
	top:0;
	z-index: 1400;
}
#linksAside {
	background:#fff;
	width:100%;
	height:auto;
	margin:0 auto;
	float:left;
}
#linksAside a { width:100%; padding:10px 0; float:left; }

#passwordLayer input[type="password"] { width:100%; padding:0; }
#passwordLayer label { padding:0 10px 0 0; }
.logLayerContent { height:auto; max-height:350px; }
#right img,
#up img,
#down img,
#left img {
	min-width:24px;
	width:24px;
	height:24px;
	margin:10px;
}