header					{ width:100%; position:fixed; z-index:1499; top:0px; display:inline-block; }
#floatyMenu 			{ background:url(../images/skin_lj_rl/backs/topLayer70.png); width:100%; display:inline-block; }
#floatyMenu .wrapper	{ text-align:center; }
#floatyMenu ul			{ width:auto; display:inline-block; }
#floatyMenu ul li		{ float:left; }
#floatyMenu ul li a 	{ color:#fff; font-weight:bold; text-transform:uppercase; line-height:63px; margin:0; padding:0 20px; float:right; display:block; position:relative; }
#floatyMenu ul li a:hover,
#floatyMenu ul li a:focus { background: #ee5222; }
#floatyMenu ul li.avatarLi { float: left; }
#floatyMenu ul li.avatarLi a,
#floatyMenu ul li.avatarLi a:hover,
#floatyMenu ul li.avatarLi a:focus {
	background:none;
	padding:0;
	margin:0;
	float: left;
}
#floatyMenu ul li.avatarLi img {
	width: 48px;
	height: 48px;
	margin: 0 10px 0 10px;
}
#floatyOpener {
	background: url(../images/skin_lj_rl/backs/tabMenu_index.png);
	background-repeat: no-repeat;
	background-position: 731px 0;
	font-size: 10px;
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 237px;
	height: 22px;
	padding-left: 731px;
	margin: 0 auto;
}
#floatyOpener a { color:#fff; }
span.userName { color:#f05223; line-height:63px; padding:0 20px 0 0; float:left; }
span.userSaludation { line-height:63px; float: left; }

#floatyMenu ul li a.fb { background:url(../images/skin_lj_rl/buttons/icon_white_facebook.png); background-repeat:no-repeat; background-position:0px 0px; width:30px; height:30px; padding:0; margin:16px 10px; -o-transition:background-position .1s ease-out; -ms-transition:background-position .1s ease-out; -moz-transition:background-position .1s ease-out; -webkit-transition:background-position .1s ease-out; transition:background-position .1s ease-out; }
#floatyMenu ul li a.tw { background:url(../images/skin_lj_rl/buttons/icon_white_twitter.png); background-repeat:no-repeat; background-position:0px 0px; width:30px; height:30px; padding:0; margin:16px 10px; -o-transition:background-position .1s ease-out; -ms-transition:background-position .1s ease-out; -moz-transition:background-position .1s ease-out; -webkit-transition:background-position .1s ease-out; transition:background-position .1s ease-out; }
#floatyMenu ul li a:hover.fb,
#floatyMenu ul li a:hover.tw { background-position:0px -30px; }

.clubLoJackLayerContent { background:#fff; text-align:center; padding:20px; }
#tarjeta { background: url(../images/skin_lj_rl/clubLoJack/tarjeta-club-lojack_black_hi-res.jpg); background-size:100%; background-repeat:no-repeat; background-position:center top; width:450px; height:323px; }
#tarjeta span.nameoncard { color:#fff; font-size:18px; text-transform:uppercase; text-align:left; top:200px; left:-55px; position:relative; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.8); }
#clubLoJackLayer a.linkAsButton {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-color:#f9a123;
	background-image:-moz-linear-gradient(top, #f89406, #fbb450);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#fbb450));
	background-image:-webkit-linear-gradient(top, #f89406, #fbb450);
	background-image:-o-linear-gradient(top, #f89406, #fbb450);
	background-image:linear-gradient(to bottom, #f89406, #fbb450);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff89406', endColorstr='#fffbb450', GradientType=0);
	border-color:#fbb450 #fbb450 #f89406;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color:#FFF;
	font-size:15px;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	padding:10px;
	margin:10px 0 20px;
	cursor:pointer;
}




