#loginLayer {}
.layerOnTop, .layerOnTop20, .layerOnTop70 {
	background: url(../images/skin_lj_rl/backs/topLayer.png);
	background-repeat: repeat;

	font-size: 11px;

	height: 100%;
	width: 100%;
	padding:0;
	margin:0;
}
.layerOnTop20 {
	background: url(../images/skin_lj_rl/backs/topLayer20.png);
}
.layerOnTop70 {
	background: url(../images/skin_lj_rl/backs/topLayer70.png);
}
.loginLayerStyles {}
.loginLayerContent,
.registerLayerContent {
	border: 10px solid rgb(0, 0, 0);
	border: 10px solid rgba(0, 0, 0, .8);
	-webkit-background-clip: padding-box; /* for Safari */
	border-radius: 10px;
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	background: #fff;
	width: 334px;
	height: 303px;
	margin: 120px auto;
	padding: 0 73px 0 73px;
}
.registerLayerContent {
	width: 450px;
	height: 560px;
	margin: 30px auto;
}
#loginLayer h3,
#registerLayer h3 {
	color: #ee5222;
	font-family: "Gotham", "Helvetica", Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
/*	//-webkit-text-stroke-width: .05px;
	//-webkit-text-stroke-color: white;
	-webkit-font-smoothing:antialiased;*/
}
.tagsOnInputs, label, fieldset span {
	color: #999;
	font-family: "Gotham", "Helvetica", Arial, sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 45px;
	
	width: 100px;
	margin:0;
	padding:0;

	/*z-index: 9999;
	position: absolute;*/
	float: left;
	cursor: auto;
}
fieldset input[type="radio"] {
	line-height: 10px;
	margin: 15px 5px 0 0;
	float: left;
}
fieldset select {
	margin: 10px 0;
}
#xContainer {
	width: 30px;
	margin: 0 auto;
	top: 5px;
	right: -215px;
	z-index: 9998;
	position: relative;
}
/* imputs */
#loginLayer input:not([type]),
#loginLayer input[type="color"],
#loginLayer input[type="email"],
#loginLayer input[type="number"],
#loginLayer input[type="password"],
#loginLayer input[type="tel"],
#loginLayer input[type="url"],
#loginLayer input[type="text"] {
	border: 0;
	border-radius: 5px;
	background: #eaeaea;
	color: #333;
	font-size: 12px;
	line-height: 35px;
	text-transform: uppercase;

	width: 268px;
	padding: 0 0 0 10px;
	margin: 5px auto;
	float: left;
}
#loginLayer label {
	width: 50px;
}
#registerLayer input:not([type]),
#registerLayer input[type="color"],
#registerLayer input[type="email"],
#registerLayer input[type="number"],
#registerLayer input[type="password"],
#registerLayer input[type="tel"],
#registerLayer input[type="url"],
#registerLayer input[type="text"] {
	border: 0;
	border-radius: 5px;
	background: #eaeaea;
	color: #333;
	font-size: 12px;
	line-height: 35px;
	text-transform: uppercase;

	width: 300px;
	padding: 0 0 0 10px;
	margin: 5px auto;
}
#loginLayer button,
#registerLayer button {
	background: transparent;
	background-color: #fff;

	border: none;

	color: #ee5222;
	font-family: "Gotham", "Helvetica", Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;

	margin: 10px 0;
	left:0px;
	text-align: right;

	cursor: pointer;
}
.indexLogin {
	border: none;
	background: url(../images/skin_lj_rl/buttons/button_ingresar.png);
	background-repeat: no-repeat;
	width: 132px;
	height: 35px;

	margin-top: 5px;

	cursor: pointer;
}


#video1Layer {}
#video1Layer h3 {
	color: #fff;
	font-size: 38px;
	text-transform: uppercase;
	font-weight: lighter;

}
#video1Layer p {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;

}
.defaultLayerStyles {}
.defaultLayerContent {
	width: 927px;

	margin: 0 auto;
}
.closeLayerVideoLink {
	margin-top: 30px;
	text-align: right;
}
.customLink {
	font-size: 11px;
	text-transform: uppercase;
}
#videoWrapper {
	background: #000;
	width: 927px;
	height: 431px;
	margin: 10px 0;
}
/*			<div class="col1_300 marginRight_60">
				<h3>LoJack for<br/>Laptopts</h3>
				<p>Con LoJack for Laptopts sabés que si te roban la computadora, te la encontramos.</p>
				<button class="btn btn-mini btn-primary" type="button">Mas info >></button>
			</div>
*/