.layerOnTop,
.layerOnTop20,
.layerOnTop70 				{ background:url(../images/skin_lj_rl/backs/topLayer.png); background-repeat:repeat; font-size:11px; width:100%; height:100%; padding:0; margin:0; position:fixed; }
#resetPassLayer				{ position:fixed; }
.layerOnTop20				{ background:url(../images/skin_lj_rl/backs/topLayer20.png); background-repeat:repeat; }
.layerOnTop70 				{ background:url(../images/skin_lj_rl/backs/topLayer70.png); background-repeat:repeat; }
.loginLayerStyles,
.defaultLayerStyles,
.legalLayerStyles,
.contactLayerStyle,
.editProfileLayer			{ width:auto; height:auto; position:relative; display:inline-block; }
.loginLayerContent,
.registerLayerContent,
.legalLayerContent,
.modalStyle,
.contactLayerContent,
.changePasswordLayerContent,
.forgotPasswordLayerContent,
.logLayerStyle,
.ajaxErrorAccess,
.vluMessages 				{ border:10px solid rgb(0, 0, 0); border:10px solid rgba(0, 0, 0, .8); -webkit-background-clip:padding-box; /* for Safari */ border-radius:10px; background-clip:padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ background:#fff; padding:30px 53px; }
.ajaxErrorAccess 			{ width:450px; }
.ajaxErrorAccess p			{ line-height:20px; }
.logLayerStyle				{ max-width:400px; }
.panicLayerStyle			{ max-width:300px; }
.changePasswordLayerContent { width:466px; }
#changePassLayerID form 	{ margin:20px 0 0 0; }
.registerLayerContent 		{ /*width:580px;*/ }
.legalLayerContent			{ max-width:500px; max-height:450px; }
.vluMessages				{ width:400px; margin:80px auto; padding:30px; }
.legalLayerContent p		{ line-height:18px; padding-bottom:10px; }
.logLayerContent			{ width:100%; height:263px; overflow:auto; }
#logRow 					{ background:#f0ece4; width:100%; margin:5px 0; display:inline-block; }
#logRow img,
#logRow span,
#logRow p					{ float:left; }
#logRow img					{ width:48px; height:48px; padding:5px 0 5px 5px; }
#logRow span				{ width:100%; }
#logRow p					{ padding:25px 10px 0; }
.legalLayerContentWrapper	{ height:293px; overflow:auto; }
.modalStyle 				{ margin:10px; padding:20px; }
.modalWrapper				{ height:auto; display:inline-block; }
.modalLayerContent 			{ width:100%; }
.contactLayerContent 		{ max-width:500px; height:auto; }
.scrollable					{ height:350px; margin:20px 0; overflow-x:hidden; overflow-y:auto; }
#invalidPasswordLayer h3,
#loginLayer h3,
#registerLayer h3,
#parkingsNotLoggedLayer h3,
#forgotPasswordLayer h3,
#forgotPasswordUserNotFoundLayer h3,
#forgotPasswordErrorLayer h3,
#legalesLayer h3,
#logLayer h3,
#passwordLayer h3,
#sendPanicLayer h3,
#changePassLayer h3,
#legalesLayer h2,
h3							{ color:#ee5222; font-family:"Gotham", "Helvetica", Arial, sans-serif; font-weight:bold; font-size:20px; line-height:25px; padding-bottom:15px; margin:0; }
h4,
#sendPanicLayer h4 			{ font-size:15px; font-weight:lighter; padding-bottom:20px; }
#registerLayer h4			{ padding:15px 0 0; }
#sendPanicLayer h3			{ padding-bottom:5px; }
#sendPanic					{ width:auto; height:350px; overflow-y:auto; }
fieldset.tableHeader				{ background:#000; line-height:normal; height:auto; margin:10px 0 0; }
fieldset.tableHeader label			{ color:#fff!important; }
.tagsOnInputs, label, fieldset span { color:#000; font-family:"Gotham","Helvetica",Arial,sans-serif; font-weight:normal; line-height:45px; margin:0; float:left; cursor:auto; }
fieldset.tableHeader				{ background:#000; text-align:center; }
fieldset.tableBody:nth-child(odd)	{ background:#cecece; text-align:center; }
fieldset.tableBody:nth-child(even)	{ background:#fff; text-align:center; }
fieldset label.monoColumna			{ float:none; }
fieldset input[type="radio"],
fieldset input[type="checkbox"]		{ line-height:10px; margin:15px 5px 0 0; float:left; }
fieldset select						{ margin:10px 0; }
#xContainer							{ width:30px; z-index:9998;position:relative; float:right; }
#xContainer button,
button.buttonLink					{ background:transparent; background-color:#fff; border:none; color:#ee5222; font-family:"Gotham", "Helvetica", Arial, sans-serif; font-weight:bold; font-size:20px; margin:0; left:0px; text-align:right; cursor:pointer; }

/* inputs */
#loginLayer select					{ border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; width:250px; height:35px; margin:5px auto; padding:0 0 0 10px; }
#loginLayer option 						{ background:#fff; font-size:12px; line-height:35px; padding:10px; }
#loginLayer input:not([type]),
#loginLayer input[type="color"],
#loginLayer input[type="email"],
#loginLayer input[type="number"],
#loginLayer input[type="password"],
#loginLayer input[type="tel"],
#loginLayer input[type="url"],
#loginLayer input[type="text"]			{ border:0; border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; width:240px; height:35px; padding:0 0 0 10px; margin:5px auto; float:left; }
#passwordLayer input[type="text"],
#passwordLayer input[type="password"]	{ border:0; border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; width:200px; height:35px; padding:0 0 0 10px; margin:5px auto; float:left; }
#loginLayer label 						{ width:80px; }
#changePassLayer label 					{}
.loginLayerContent 						{ padding:30px 35px 30px 35px; }
.forgotPasswordLayerContent 			{ width:420px; }
#registerLayer label.ajuste 			{ width:120px; }
#resetPassLayer select,
#resetPassLayer input[type="text"],
#resetPassLayer input[type="password"],
#changePassLayer select,
#changePassLayer input:not([type]),
#changePassLayer input[type="color"],
#changePassLayer input[type="email"],
#changePassLayer input[type="number"],
#changePassLayer input[type="password"],
#changePassLayer input[type="tel"],
#changePassLayer input[type="url"],
#changePassLayer textarea,
#changePassLayer input[type="text"],
#loginPreventContentLayer input[type="text"],
#loginPreventContentLayer input[type="password"]	{ border:0; border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; width:210px; height:35px; padding:0 0 0 10px; margin:5px auto; float:right; }
#contactLayerContentID input[type="text"],
#contactLayerContentID textarea,
#loginPreventContentLayer input[type="text"],
#loginPreventContentLayer input[type="password"],
#changePassLayerID input[type="password"] 		{ float:right; }
#changePassLayer textarea 						{ padding:10px 0 10px 10px; line-height:16px; height:65px; }
input[type="text"].width240 					{ width:240px; }
#forgotPasswordLayer input:not([type]),
#forgotPasswordLayer input[type="color"],
#forgotPasswordLayer input[type="email"],
#forgotPasswordLayer input[type="number"],
#forgotPasswordLayer input[type="password"],
#forgotPasswordLayer input[type="tel"],
#forgotPasswordLayer input[type="url"],
#forgotPasswordLayer input[type="text"] { border:0; border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; height:35px; padding:0 0 0 10px; margin:5px auto; float:right; }
#forgotPasswordLayer select 			{ width:230px; float:right; }
#forgotPasswordLayer input[type="text"] { width:220px; float:right; }
#registerLayer fieldset				{ width:460px; }
#registerLayer select				{ border:solid 1px #eaeaea; border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; width:290px; height:35px; margin:5px auto; padding:0 0 0 10px; }
#registerLayer option				{ background:#fff; font-size:12px; line-height:35px; padding:10px; }
#registerLayer input:not([type]),
#registerLayer input[type="color"],
#registerLayer input[type="email"],
#registerLayer input[type="number"],
#registerLayer input[type="password"],
#registerLayer input[type="tel"],
#registerLayer input[type="url"],
#registerLayer input[type="text"] 	{ border:0; border-radius:5px; background:#eaeaea; color:#333; font-size:12px; line-height:35px; width:280px; height:35px; padding:0 0 0 10px; margin:5px auto; }
.indexLogin							{ border:none; background:url(../images/skin_lj_rl/buttons/button_ingresar.png); background-repeat:no-repeat; width:132px; height:35px; cursor:pointer; float:right; }
.indexButtonBase 					{ border:none; color:#fff; background:url(../images/skin_lj_rl/buttons/button_base.png); background-repeat:no-repeat; text-transform:uppercase; width:120px; height:35px; margin:15px 0 0 0; cursor:pointer; float:right; }
#video1Layer button.btn-primary 	{ background-image:url(../images/skin_lj_rl/buttons/punta_boton_bg-464542.png); background-repeat:no-repeat; background-position:right 0px; margin:10px 0 0 0; }
#video1Layer h3			{ color:#fff; font-size:38px; line-height:38px; text-transform:uppercase; font-weight:lighter; padding:10px 0; }
#video1Layer p			{ color:#fff; font-size:12px; font-weight:normal; line-height:18px; }
.videoLayer				{ width:927px; margin:0 auto; }
#videos 				{ background:#999; width:927px; height:430px; }
.defaultLayerContent	{ border:10px solid rgb(0, 0, 0); border:10px solid rgba(0, 0, 0, .8); -webkit-background-clip:padding-box; /* for Safari */ border-radius:10px; background-clip:padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ background:#fff; width:360px; padding:20px; }
.loginLayerContent p,
.defaultLayerContent p 	{ font-size:13px; line-height:18px; }
.closeLayerVideoLink 	{ text-align:right; }
.customLink 			{ background:transparent; border:none; color:#ee5222; font-size:11px; text-transform:uppercase; cursor:pointer; }
#videoWrapper 			{ background:#000; width:927px; height:431px; margin:10px 0; }
iframe#videoIframe 		{ width:927px; height:431px; }
.readOnly				{ font-size:14px; font-weight:bold; }
#loginLayer label.error { text-align:right; line-height:15px; width:100%; }
.olPopupCloseBox		{ background:#000; background-image:url(../images/skin_lj_rl/buttons/map_x_close.png); background-repeat:no-repeat; background-position:center center; }

div.wsmodal				{ width:30%; display:inline-block; box-shadow:0 0 10px 1px #000; position:relative; }