#laRuedita {
	width: 100%;
	height: 360px;
	margin:0;
	top: 100px;
	z-index: 999;
	position: fixed;
	overflow: hidden;
}
#laRuedita .fakeRuedita {
	background: url(../images/skin_lj_rl/backs/wheel.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 361px;
	height: 360px;
	margin: 0 auto;
	/*opacity:0.5;
	filter:alpha(opacity=50);*/
}
#logoIndex {
	background: url(../images/skin_lj_rl/logos/lo-jack_index.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 243px;
	height: 169px;
	top: 60px;
	z-index: 998;
	position: fixed;
}
/* ICONOS */
#iconoLogin {
	/*border: dotted 1px red;*/
	background: url(../images/skin_lj_rl/buttons/wheel_lock_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 117px;
	height: 117px;
	top:27px;
	left:27px;
	z-index: 1101;
	position: relative;
}
#iconoLogin img,
#iconoProfile img,
#iconoCar img,
#iconoPets img {
	width: 117px;
	height: 117px;
	margin: 0;
	padding: 0;
}
#iconoLogin:hover,
#iconoLogin:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_lock_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoParkings {
	background: url(../images/skin_lj_rl/buttons/wheel_parkings_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 139px;
	height: 96px;
	top: -107px;
	left: 107px;
	z-index: 1102;
	position: relative;
}
#iconoParkings img {
	width: 139px;
	height: 96x;
	margin: 0;
	padding: 0;
}
#iconoParkings:hover,
#iconoParkings:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_parkings_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoProfile {
	background: url(../images/skin_lj_rl/buttons/wheel_profile_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 117px;
	height: 117px;
	top: -186px;
	left: 217px;
	z-index: 1103;
	position: relative;
}
#iconoProfile:hover, #iconoProfile:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_profile_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoCar {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_car_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 117px;
	height: 117px;
	top: -114px;
	left: 27px;
	z-index: 1104;
	position: relative;
}
#iconoCar:hover, #iconoCar:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_car_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoHome {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_home_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 131px;
	height: 96px;
	top: -193px;
	left: 115px;
	z-index: 1105;
	position: relative;
}
#iconoHome img {
	width: 131px;
	height: 96px;
}
#iconoHome:hover, #iconoHome:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_home_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoPets {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_pets_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 117px;
	height: 117px;
	top: -327px;
	left: 217px;
	z-index: 1106;
	position: relative;
}
#iconoPets:hover, #iconoPets:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_pets_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}