#laRuedita {
	width: 100%;
	height: 421px;
	top: 100px;
	z-index: 999;
	position: fixed;
	overflow: hidden;
}
#laRuedita .fakeRuedita {
	background: url(../images/skin_lj_rl/backs/wheel.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 422px;
	height: 421px;
	margin: 0 auto;
	/*opacity:0.5;
	filter:alpha(opacity=50);*/
}
#logoIndex {
	background: url(../images/skin_lj_rl/logos/lo-jack_index.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 243px;
	height: 169px;
	top: 60px;
	z-index: 998;
	position: fixed;
}
/* ICONOS */
#iconoLogin {
	/*border: dotted 1px red;*/
	background: url(../images/skin_lj_rl/buttons/wheel_lock_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 139px;
	height: 138px;
	top:30px;
	left:30px;
	z-index: 1101;
	position: relative;
}
#iconoLogin img,
#iconoProfile img,
#iconoCar img {
	width: 139px;
	height: 138px;
	margin: 0;
	padding: 0;
}
#iconoLogin:hover, #iconoLogin:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_lock_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoParkings {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_parkings_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 155px;
	height: 114px;
	top: -128px;
	left: 134px;
	z-index: 1102;
	position: relative;
}
#iconoParkings img {
	width: 155px;
	height: 114px;
	margin: 0;
	padding: 0;
}
#iconoParkings:hover, #iconoParkings:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_parkings_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoProfile {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_profile_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 138px;
	height: 138px;
	top: -222px;
	left: 254px;
	z-index: 1103;
	position: relative;
}
#iconoProfile:hover, #iconoProfile:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_profile_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoCar {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_car_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 139px;
	height: 138px;
	top: -136px;
	left: 29px;
	z-index: 1104;
	position: relative;
}
#iconoCar:hover, #iconoCar:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_car_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoHome {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_home_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 155px;
	height: 133px;
	top: -230px;
	left: 133px;
	z-index: 1105;
	position: relative;
}
#iconoHome img {
	width: 155px;
	height: 133px;
}
#iconoHome:hover, #iconoHome:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_home_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
#iconoPets {
	/*border: dotted 1px yellow;*/
	background: url(../images/skin_lj_rl/buttons/wheel_pets_off.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 138px;
	height: 138px;
	top: -406px;
	left: 255px;
	z-index: 1106;
	position: relative;
}
#iconoPets img {
	width: 138px;
	height: 138px;
}
#iconoPets:hover, #iconoPets:focus {
	background: url(../images/skin_lj_rl/buttons/wheel_pets_on.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
/* Animaciones */
#laRuedita {
	animation:myfirst 3s;
	-webkit-animation:myfirst 3s; /* Safari and Chrome */
}
#logoIndex {
	animation:mySecond 2s;
	-webkit-animation:mySecond 2s; /* Safari and Chrome */
}

#iconoLogin {
	animation:myIconsOne 5s;
	-webkit-animation:myIconsOne 5s; /* Safari and Chrome */
	animation-delay:myIconsOne 5s; /* W3C and Opera */
	-moz-animation-delay:myIconsOne 5s; /* Firefox */
	-webkit-animation-delay:myIconsOne 5s; /* Safari and Chrome */
}
#iconoParkings {
	animation:myIconsTwo 7s;
	-webkit-animation:myIconsTwo 7s; /* Safari and Chrome */
}
#iconoProfile {
	animation:myIconsThree 9s;
	-webkit-animation:myIconsThree 9s; /* Safari and Chrome */
}
#iconoCar {
	animation:myIconsFour 11s;
	-webkit-animation:myIconsFour 11s; /* Safari and Chrome */
}
#iconoHome {
	animation:myIconsFive 13s;
	-webkit-animation:myIconsFive 13s; /* Safari and Chrome */
}
#iconoPets {
	animation:myIconsSix 15s;
	-webkit-animation:myIconsSix 15s; /* Safari and Chrome */
}

@keyframes myfirst {
	from {top: -500px;}
	to {top: 100px;}
}
@-webkit-keyframes myfirst { /* Safari and Chrome */
	from {top: -3500px;}
	to {top: 100px;}
}
@keyframes mySecond {
	from {left: -280px;}
	to {left: 0px;}
}
@-webkit-keyframes mySecond { /* Safari and Chrome */
	from {left: -280px;}
	to {left: 0px;}
}

@keyframes myIconsOne { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsOne { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsTwo { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsTwo { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsThree { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsThree { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsFour { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsFour { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsFive { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsFive { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsSix { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsSix { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}