/* Animaciones */
#elTelefono {
	animation:myfirst 1s;
	-webkit-animation:myfirst 1s; /* Safari and Chrome */
	animation-delay:myfirst 1s; /* W3C and Opera */
	-moz-animation-delay:myfirst 1s; /* Firefox */
	-webkit-animation-delay:myfirst 1s; /* Safari and Chrome */
}
#logoIndex {
	animation:mySecond 2s;
	-webkit-animation:mySecond 2s; /* Safari and Chrome */
	animation-delay:myIconsOne 3s; /* W3C and Opera */
	-moz-animation-delay:myIconsOne 3s; /* Firefox */
	-webkit-animation-delay:myIconsOne 3s; /* Safari and Chrome */
}
#iconoLogin {
	animation:myIconsOne 3s;
	-webkit-animation:myIconsOne 3s; /* Safari and Chrome */
	animation-delay:myIconsOne 3s; /* W3C and Opera */
	-moz-animation-delay:myIconsOne 3s; /* Firefox */
	-webkit-animation-delay:myIconsOne 3s; /* Safari and Chrome */
}
#iconoParkings {
	animation:myIconsTwo 4s;
	-webkit-animation:myIconsTwo 4s; /* Safari and Chrome */
	animation-delay:myIconsTwo 4s; /* W3C and Opera */
	-moz-animation-delay:myIconsTwo 4s; /* Firefox */
	-webkit-animation-delay:myIconsTwo 4s; /* Safari and Chrome */
}
#iconoProfile {
	animation:myIconsThree 5s;
	-webkit-animation:myIconsThree 5s; /* Safari and Chrome */
	animation-delay:myIconsThree 5s; /* W3C and Opera */
	-moz-animation-delay:myIconsThree 5s; /* Firefox */
	-webkit-animation-delay:myIconsThree 5s; /* Safari and Chrome */
}
#iconoCar {
	animation:myIconsFour 6s;
	-webkit-animation:myIconsFour 6s; /* Safari and Chrome */
	animation-delay:myIconsFour 6s; /* W3C and Opera */
	-moz-animation-delay:myIconsFour 6s; /* Firefox */
	-webkit-animation-delay:myIconsFour 6s; /* Safari and Chrome */
}
#iconoHome {
	animation:myIconsFive 7s;
	-webkit-animation:myIconsFive 7s; /* Safari and Chrome */
	animation-delay:myIconsFive 7s; /* W3C and Opera */
	-moz-animation-delay:myIconsFive 7s; /* Firefox */
	-webkit-animation-delay:myIconsFive 7s; /* Safari and Chrome */
}
#iconoPets {
	animation:myIconsSix 8s;
	-webkit-animation:myIconsSix 8s; /* Safari and Chrome */
	animation-delay:myIconsSix 8s; /* W3C and Opera */
	-moz-animation-delay:myIconsSix 8s; /* Firefox */
	-webkit-animation-delay:myIconsSix 8s; /* Safari and Chrome */
}
#losIconos {
	animation:myBgIcons 12s;
	-webkit-animation:myBgIcons 12s; /* Safari and Chrome */
	animation-delay:myBgIcons 12s; /* W3C and Opera */
	-moz-animation-delay:myBgIcons 12s; /* Firefox */
	-webkit-animation-delay:myBgIcons 12s; /* Safari and Chrome */
}
@keyframes myfirst {
	from {top: -1500px;}
	to {top: 10%;}
}
@-webkit-keyframes myfirst { /* Safari and Chrome */
	from {top: -1500px;}
	to {top: 10%;}
}
@keyframes mySecond {
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes mySecond { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}

@keyframes myIconsOne { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsOne { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsTwo { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsTwo { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsThree { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsThree { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsFour { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsFour { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsFive { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsFive { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myIconsSix { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myIconsSix { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}
@keyframes myBgIcons { /* For IE8 and earlier */
	from { filter:alpha(opacity=0); }
	to { filter:alpha(opacity=100); }
}
@-webkit-keyframes myBgIcons { /* Safari and Chrome */
	from { opacity:0.0; }
	to { opacity:1; }
}