/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

@media only screen and (min-height : 842px) {
	#laRuedita {
		top:250px;
	}
	#socialSingleSignOn {
		top: 750px;
	}
	#copyright {
		top: 800px;
	}
}
@media only screen and (max-height : 842px) {
	#laRuedita {
		top:30%;
	}
	#socialSingleSignOn {
		bottom: 50px;
	}
	#copyright {
		bottom:  10px;
	}
}
@media only screen
and (min-width : 600px) {
	#floatyMenu .wrapper {
		min-width: 500px;
	}
}
@media only screen
and (min-width : 1568px) {
	#socialSingleSignOn {
		width:198px;
		margin:0 auto;
		padding-left:1360px;
		left:0;
		bottom: 50px;
		position: absolute;
		display: inline-block;
	}
}
@media only screen
and (max-width : 927px) {
	#videoWrapper {
		width: 100%;
		height: auto;
		margin: 10px auto;
	}
	.videoLayer {
		width:90%;
		margin:0 auto;
	}
	#videos {
		width:100%;
		height:auto;
	}
	#video1Layer h3 {
		color:#ee5222;
		font-size: 16px;
		line-height: normal;
		padding-bottom: 0px;
	}
	#video1Layer p {
		font-size: 11px;
		font-weight: normal;
		line-height: 15px;
		padding: 0 0 20px 0;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
/* Smartphones SAMSUNG GALAXY1S (portrait) ----------- */
@media only screen 
and (max-width : 479px) {
	div {
		box-sizing:border-box;
	}
	#socialSingleSignOn {
		bottom: 80px;
	}
	#laRuedita {
		width: 100%;
		height: 100%;
		margin:0 auto;
		top: 30%;
		z-index: 999;
		position: fixed;
		/*overflow: hidden;*/
	}
	#laRuedita .fakeRuedita {
		background: url(../images/skin_lj_rl/backs/wheel_mobile.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width: 180px;
		height: 180px;
		margin: 0 auto;
	}
	#logoIndex {
		width: 33%;
		height: auto;
		top:0px;;
		z-index: 1400;
		position: fixed;
	}
	#logoIndex img {
		width: 100%;
		height: auto;
	}
	/* ICONOS */
	#iconoLogin,
	#iconoLogout {
		/*border: dotted 1px red;*/
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_lock_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width:59px;
		height:59px;
		top:13px;
		left:13px;
		z-index: 1101;
		position: relative;
	}
	#iconoLogout {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_logout_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoLogin img,
	#iconoLogout img,
	#iconoProfile img,
	#iconoCar img,
	#iconoPets img {
		width: 59px;
		height: 59px;
		margin: 0;
		padding: 0;
	}
	#iconoLogin:hover,
	#iconoLogin:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_lock_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoLogout:hover,
	#iconoLogout:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_logout_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoParkings {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_parkings_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width: 70px;
		height: 48px;
		top: -55px;
		left: 54px;
		z-index: 1102;
		position: relative;
	}
	#iconoParkings img {
		width: 70px;
		height: 48x;
		margin: 0;
		padding: 0;
	}
	#iconoParkings:hover,
	#iconoParkings:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_parkings_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoProfile {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_profile_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width: 59px;
		height: 59px;
		top: -94px;
		left: 109px;
		z-index: 1103;
		position: relative;
	}
	#iconoProfile:hover, #iconoProfile:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_profile_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoCar {
		/*border: dotted 1px yellow;*/
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_car_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width: 59px;
		height: 59px;
		top: -57px;
		left: 13px;
		z-index: 1104;
		position: relative;
	}
	#iconoCar:hover, #iconoCar:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_car_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoHome {
		/*border: dotted 1px yellow;*/
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_home_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width: 66px;
		height: 48px;
		top: -97px;
		left: 58px;
		z-index: 1105;
		position: relative;
	}
	#iconoHome img {
		width: 66px;
		height: 48px;
	}
	#iconoHome:hover, #iconoHome:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_home_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#iconoPets {
		/*border: dotted 1px yellow;*/
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_pets_off.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		width: 59px;
		height: 59px;
		top: -165px;
		left: 109px;
		z-index: 1106;
		position: relative;
	}
	#iconoPets:hover, #iconoPets:focus {
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_pets_on.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	#centralRuedita {
		color: #ee5222;
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		background: url(../images/skin_lj_rl/buttons/mobile/wheel_central.png);
		background-position: center center;
		background-repeat: no-repeat;
		width: 100%;
		height: 73px;
		padding-top: 30px;
		margin: 0 auto;
		z-index: 1008;
		position: absolute;
		top: 53px;
	}
	
	#xContainer {
		width: 30px;
		top: 0px;
		right: 0px;
		z-index: 9998;
		position: relative;
		float:right;
	}
	#xContainer button, button.buttonLink {
		margin: 0;
	}
	.loginLayerStyles {}
	.loginLayerContent,
	.registerLayerContent,
	.legalLayerContent,
	.modalStyle,
	.changePasswordLayerContent {
		border: 5px solid rgb(0, 0, 0);
		border: 5px solid rgba(0, 0, 0, .8);
		-webkit-background-clip: padding-box; /* for Safari */
		border-radius: 5px;
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		background: #fff;
		/*width: 90%;*/
		margin: 0 auto;
		padding: 10px;
	}
	#registerLayer fieldset { width: auto; }
	#loginLayer input:not([type]),
	#loginLayer input[type="color"],
	#loginLayer input[type="email"],
	#loginLayer input[type="number"],
	#loginLayer input[type="password"],
	#loginLayer input[type="tel"],
	#loginLayer input[type="url"],
	#loginLayer input[type="text"],
	#loginLayer input[type="password"],
	#registerLayer input:not([type]),
	#registerLayer input[type="color"],
	#registerLayer input[type="email"],
	#registerLayer input[type="number"],
	#registerLayer input[type="password"],
	#registerLayer input[type="tel"],
	#registerLayer input[type="url"],
	#registerLayer input[type="text"],
	#registerLayer input[type="password"] {
		width: 90%;
		margin-right:10px;
		float:right;
	}
	#loginLayer select,
	#registerLayer select {
		width: 95%;
		margin-right:10px;
		float:right;
	}
	#registerLayer label { line-height: 25px; }
	#registerLayer label.sexLabel { width:100%; }
	.registerLayerContent { height: auto; }
	.defaultLayerContent { width: auto; }
	.changePasswordLayerContent,
	.registerLayerContent { width: auto; }
	.scrollable {
		height: 200px;
		margin-top:30px;
		overflow-x:hidden;
		overflow-y:auto;
	}
	/* HOME STYLES */
	#floatyMenu ul li.avatarLi {
		margin-right: 20px;
		text-align: right;
		float: right;
		width: 100%;
	}
	span.userName { float: right; }
	span.userSaludation { float: left; }
	.changePasswordLayerContent { }
	.legalLayerContent {}
	.legalLayerContentWrapper { overflow: auto; }
}
@media only screen 
and (max-height : 492px) {
	/* MODALES */
	.layerOnTop, .layerOnTop20, .layerOnTop70 {
		top:0;
		left:0;
	}
}
@media only screen and (max-width: 968px) {
	body { background: #531a1a; }
	header, header.menuInternas { display: none; } 
	#productsMenu { height:83px; top:0; z-index: 2; position: relative; }
	#productsMenu .userLoggedThalamusMenu {  }
	.correctNav { width: 100%; height: auto; }
	#productsMenu ul li { font-size: 16px; line-height: 43px; }
	#productsMenu ul li a { padding: 0; }
	#productsMenu ul li.logoContainer { width:100%; text-align: center; }
	#productsMenu ul li a.logo { width:100%; height: auto; }
	#productsMenu ul li a img { width:auto; height:43px; }
	#productsMenu ul li.toRight { line-height: 38px; width:25%; text-align:center; float: right; }
	#productsMenu ul li.toRight:hover, #productsMenu ul li.toRight:focus { background:#f05224; }
	#content { width: 100%; height: 100%; padding: 0px; margin: 0px; text-align: center; display: inline-block; overflow: auto; top:0; left:0; position: relative; z-index:1; }
	.pageWrapper { width: 100%; height: 100%; }
	#productHomeMenu { width: 100%; margin: 0px auto; top:auto; bottom: 0px; position: fixed; z-index: 3000; }
	#productHomeMenu.col1_170 { background:#f3f1ee; width: 100%; }
	#productHomeMenu.tabServices {  }
	#productHomeMenu ul li { width:33%; list-style: none; float:left; }
	#productHomeMenu ul li a { color:#531a1a; width:100%; height:auto; }
	#productHomeMenu li.tabAlarms a, #productHomeMenu li.tabLights a, #productHomeMenu li.tabCameras a { background-image:none; height:auto; padding:5px 0; }
	#productHomeMenu li.tabLights a, #productHomeMenu li.tabCameras a { border-left:solid 1px #fff; }
	/*.camarasBG,.lucesBG, .camarasBG { background-image:none; background:transparent; width: auto; height: auto; padding: 0px; }*/
	#productHomeContent.col1_798 { color:#fff; background:#531a1a; width: 100%; height: 100%; padding: 5px; }
	#tab { display: none;}
	footer { display: none; }
	
	/**/
	body { margin:0; padding:0; overflow-x: hidden; }
	#accordion, #agendaWrapper { width:100%; margin:0; margin: 0 0 5px 0; }
	#accordion .editable { font-size:80%; min-width:39%; }
	#switchBoard { padding: 2px; }
	#accordion .portaTitleAndSwitch { width:90%; padding-bottom: 5px; }
	#accordion .switchContainer { float: left; }
	#switchBoard { padding:0; }
	#switchBoard span { font-size: 12px; }
	#switchBoard .notifyme, #switchBoard .linkToAgenda { font-size: 12px; line-height: 16px; }
	.logLayerContent { width: 100%; }
	
	#agendaWrapper h1 { font-size: 100%; line-height: normal; padding: 10px 0 10px 0; }
	form { padding-top: 5px; }
	#agendaWrapper label { min-width:60px; line-height:25px; padding:0 0 0 10px; margin: 10px 10px 10px 0; font-size: 80%; cursor: default; }
	#agendaWrapper input[type="text"] { line-height:25px; text-transform: none; width: auto; height: 25px; margin: 10px 0; padding: 0; }
	fieldset input[type="radio"], fieldset input[type="checkbox"] { line-height: 25px; margin: 5px 5px 0 0; }
	#agendaWrapper table { color:#000; font-size:10px; width:100%; }
	#cameraTitle { width:100% }
	#appletHolder { width:100%; height: 100%; }
	#linksAside { display: none; }
	embed, object { width:100%; }
	#cameraTitle h1 { font-size:100%; line-height:normal; padding:20px 0 0 40px; }
	#pictureContainer { width:100%; height:auto; margin: 0 auto; }
	.controlsBasicView { width:100%; background:#fff; margin: 0 auto; position: relative; top:0; }
}
@media only screen and (max-width: 350px) {
	#productsMenu ul li a {
		font-size: 60%;
	}
	#productHomeMenu ul li a {
		font-size: 60%;
	}
	#agendaWrapper label.radiosFreq { width:100%; }
	#agendaWrapper label.days { width:100%; margin:0 0 0 20px; float:left; }
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}