/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

@media only screen and (min-height : 842px) {
	#socialSingleSignOn {
		top: 750px;
	}
}
@media only screen and (max-height : 378px) {
	#copyright {
		top: 305px;
	}
}
@media only screen and (max-height : 842px) {
	#socialSingleSignOn {
		bottom: 50px;
	}
	#copyright {
		bottom:  10px;
	}
}
@media only screen
and (min-width : 600px) {
	#floatyMenu .wrapper {
		min-width: 500px;
	}
}
@media only screen
and (min-width : 1568px) {
	#socialSingleSignOn {
		width:198px;
		margin:0 auto;
		padding-left:1360px;
		left:0;
		bottom: 50px;
		position: absolute;
		display: inline-block;
	}
}
@media only screen
and (max-width : 1200px) {
	#welcomeText {
		width: 30%;
		left: 65%;
		top: 40%;
	}
}
@media only screen
and (max-width : 1000px) {
	#welcomeText {
		width: 30%;
		left: 69%;
		top: 39%;
	}
}
@media only screen
and (max-width : 900px) {
	#welcomeText {
		width: 25%;
		left: 75%;
		top: 44%;
	}
}
@media only screen
and (max-width : 800px)
and (max-height : 700px) {
	#welcomeText {
		width: 31%;
		left: 67%;
		top: 44%;
	}
}
@media only screen
and (max-width : 700px)
and (max-height : 600px) {
	#welcomeText {
		width: 31%;
		left: 68%;
		top: 44%;
	}
}
@media only screen
and (max-width : 680px) {
	#welcomeText { display: none; }
}
@media only screen
and (max-width : 927px) {
	#videoWrapper {
		width: 100%;
		height: auto;
		margin: 10px auto;
	}
	iframe#videoIframe {
		width: 100%;
		height: 100%;
	}
	.videoLayer {
		width:90%;
		margin:0 auto;
	}
	#videos {
		width:100%;
		height:auto;
	}
	#video1Layer h3 {
		color:#ee5222;
		font-size: 16px;
		line-height: normal;
		padding-bottom: 0px;
	}
	#video1Layer p {
		font-size: 11px;
		font-weight: normal;
		line-height: 15px;
		padding: 0 0 20px 0;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
@media only screen 
and (max-width : 850px) {
	#logoIndex {
		width: 30%;
		height: auto;
		top:7%;
		z-index: 1400;
		position: fixed;
	}
}
/* Smartphones SAMSUNG GALAXY1S (portrait) ----------- */
@media only screen 
and (max-width : 599px) {
	#logoIndex {
		width: 25%;
		height: auto;
		top:5%;
		z-index: 1400;
		position: fixed;
	}
	#logoIndex img {
		width: 100%;
		height: auto;
	}
}
@media only screen 
and (max-width : 479px) {
	div {
		box-sizing:border-box;
	}
	#socialSingleSignOn {
		bottom: 80px;
	}
	#laRuedita {
		top: 30%;
	}
	#logoIndex {
		width: 45%;
		top:5%;
	}
	#elTelefono { display:none; }
	#elTelefono img { display:none; }
	#losIconos { display:none; }
	#xContainer {
		width: 30px;
		top: 0px;
		right: 0px;
		z-index: 9998;
		position: relative;
		float:right;
	}
	#xContainer button, button.buttonLink {
		margin: 0;
	}
	.loginLayerStyles {}
	.loginLayerContent,
	.registerLayerContent,
	.legalLayerContent,
	.modalStyle,
	.changePasswordLayerContent {
		border: 5px solid rgb(0, 0, 0);
		border: 5px solid rgba(0, 0, 0, .8);
		-webkit-background-clip: padding-box; /* for Safari */
		border-radius: 5px;
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		background: #fff;
		/*width: 90%;*/
		margin: 0 auto;
		padding: 10px;
	}
	#registerLayer fieldset { width: auto; }
	#loginLayer input:not([type]),
	#loginLayer input[type="color"],
	#loginLayer input[type="email"],
	#loginLayer input[type="number"],
	#loginLayer input[type="password"],
	#loginLayer input[type="tel"],
	#loginLayer input[type="url"],
	#loginLayer input[type="text"],
	#loginLayer input[type="password"],
	#registerLayer input:not([type]),
	#registerLayer input[type="color"],
	#registerLayer input[type="email"],
	#registerLayer input[type="number"],
	#registerLayer input[type="password"],
	#registerLayer input[type="tel"],
	#registerLayer input[type="url"],
	#registerLayer input[type="text"],
	#registerLayer input[type="password"] {
		width: 90%;
		margin-right:10px;
		float:right;
	}
	#loginLayer select,
	#registerLayer select {
		width: 95%;
		margin-right:10px;
		float:right;
	}
	#registerLayer label { line-height: 25px; }
	#registerLayer label.sexLabel { width:100%; }
	.registerLayerContent { height: auto; }
	.defaultLayerContent { width: auto; }
	.changePasswordLayerContent,
	.registerLayerContent { width: auto; }
	.scrollable {
		height: 200px;
		margin-top:30px;
		overflow-x:hidden;
		overflow-y:auto;
	}
	/* HOME STYLES */
	#floatyMenu ul li.avatarLi {
		margin-right: 20px;
		text-align: right;
		float: right;
		width: 100%;
	}
	span.userName { float: right; }
	span.userSaludation { float: left; }
	.changePasswordLayerContent { }
	.legalLayerContent {}
	.legalLayerContentWrapper { overflow: auto; }
}
@media only screen 
and (max-height : 550px) {
	#laRuedita .fakeRuedita {
	/*	background: url(../images/skin_lj_rl/backs/wheel_mobile_demo.png);
		background-repeat: no-repeat;
		background-position:0 0;*/
		width: 110px;
		height: 110px;
		overflow: hidden;
	}
	/* ICONOS */
	#iconoLogin,
	#iconoLogout {
		width:36px;
		height:36px;
		top:8px;
		left:8px;
	}
	#iconoLogin img,
	#iconoLogout img,
	#iconoProfile img,
	#iconoCar img,
	#iconoPets img {
		width: 36px;
		height: 36px;
	}
	#iconoParkings {
		width: 42.5px;
		height: 29px;
		top: -33px;
		left: 32px;
	}
	#iconoParkings img {
		width: 42.5px;
		height: 29px;
	}
	#iconoProfile {
		width: 36px;
		height: 36px;
		top: -57px;
		left: 66px;
	}
	#iconoCar {
		width: 36px;
		height: 36px;
		top: -35.5px;
		left: 8px;
	}
	#iconoHome {
		width: 40px;
		height: 29px;
		top: -60px;
		left: 35px;
	}
	#iconoHome img {
		width: 40px;
		height: 29px;
	}
	#iconoPets {
		width: 36px;
		height: 36px;
		top: -100px;
		left: 66px;
	}

	/* proporcion imagenes bg*/
	#laRuedita .fakeRuedita,
	#iconoLogin,
	#iconoLogout,
	#iconoParkings,
	#iconoProfile,
	#iconoCar,
	#iconoHome,
	#iconoPets,
	#iconoLogin:hover,
	#iconoLogin:focus,
	#iconoLogout:hover,
	#iconoLogout:focus,
	#iconoParkings:hover,
	#iconoParkings:focus,
	#iconoProfile:hover,
	#iconoProfile:focus,
	#iconoCar:hover,
	#iconoCar:focus,
	#iconoHome:hover,
	#iconoHome:focus,
	#iconoPets:hover,
	#iconoPets:focus {
		background-size: contain;
		-moz-background-size: contain;
		-webkit-background-size: contain;
	}
}
@media only screen and (max-width: 968px) {
	body { background-color: #531a1a; }
	header, header.menuInternas { display: none; } 
	#productsMenu { height:83px; top:0; z-index: 2; position: relative; }
	#productsMenu .userLoggedThalamusMenu {  }
	.correctNav { width: 100%; }
	#productsMenu ul li { font-size: 16px; line-height: 43px; }
	#productsMenu ul li a { padding: 0; }
	#productsMenu ul li.logoContainer { width:100%; text-align: center; }
	#productsMenu ul li a.logo { width:100%; height: auto; }
	#productsMenu ul li a img { width:auto; height:43px; }
	#productsMenu ul li.toRight { line-height: 38px; width:25%; text-align:center; float: right; }
	#productsMenu ul li.toRight:hover, #productsMenu ul li.toRight:focus { background:#f05224; }
	#content { width: 100%; height: 100%; padding: 0px; margin: 0px; text-align: center; display: inline-block; overflow: auto; top:0; left:0; position: relative; z-index:1; }
	.pageWrapper { width: 100%; height: 100%; }
	#productHomeMenu { width: 100%; margin: 0px auto; top:auto; bottom: 0px; position: fixed; z-index: 3000; }
	#productHomeMenu.col1_170 { background:#f3f1ee; width: 100%; }
	#productHomeMenu.tabServices {  }
	#productHomeMenu ul li { width:33%; list-style: none; float:left; }
	#productHomeMenu ul li a { color:#531a1a; width:100%; height:auto; }
	#productHomeMenu li.tabAlarms a, #productHomeMenu li.tabLights a, #productHomeMenu li.tabCameras a { background-image:none; height:auto; padding:5px 0; }
	#productHomeMenu li.tabLights a, #productHomeMenu li.tabCameras a { border-left:solid 1px #fff; }
	/*.camarasBG,.lucesBG, .camarasBG { background-image:none; background:transparent; width: auto; height: auto; padding: 0px; }*/
	#productHomeContent.col1_798, #productHomeContent.col1_798_noSpaces { color:#fff; background:#531a1a; width: 100%; height: 100%; padding: 5px; }
	#productHomeContent.col1_798_noSpaces { padding:0; }
	#productHomeContent { overflow-x:hidden; position:relative; }
	#productHomeMenu.col1_170 { position: relative; }
	#tab { display: none;}
	footer { display: none; }
	#panicButtonContainer {
		width: 100%;
		height: 30px;
		margin: 0 auto;
		top:auto; /*570*/
		z-index:500;
		position:relative;
	}
	#panicButtonContainer a { float:right; }
	#panicButtton {
		color:#fff;
		background:url(../images/skin_lj_rl/buttons/button_panic_base.png);
		background-repeat:no-repeat;
		background-position: center center;
		font-size:17px;
		font-weight:bold;
		line-height:60px;
		text-align:center;
		width:260px;
		height:60px;
		margin:0;
	}
	/**/
	#accordion, #agendaWrapper { width:100%; margin: 0 0 5px 0; }
	#accordion .editable { font-size:80%; max-width:25%; }
	#accordion .portaToggle { width:27px; float: left; }
	#accordion .titleContainer { width: 95%; }
	#switchBoard { padding: 2px; }
	#accordion .portaTitleAndSwitch { width: 89%; padding-bottom: 5px; float: right; }
	#accordion .switchContainer { float: right; }
	div[id^="alarm-status-"] {
		float:right;
		top:0;
	}
	/*#switchBoard { padding:0; }*/
	#switchBoard span { font-size: 12px; }
	#switchBoard .notifyme,
	#switchBoard .linkToAgenda { font-size: 12px; line-height: 16px; }
	.logLayerContent { width: 100%; }
	
	#agendaWrapper h1 { font-size: 100%; line-height: normal; padding: 10px 0 10px 0; }
	form { padding-top: 5px; }
	#agendaWrapper label { min-width:60px; line-height:25px; padding:0 0 0 10px; margin: 10px 10px 10px 0; font-size: 80%; cursor: default; }
	#agendaWrapper input[type="text"] { line-height:25px; text-transform: none; width: auto; height: 25px; margin: 10px 0; padding: 0; }
	fieldset input[type="radio"], fieldset input[type="checkbox"] { line-height: 25px; margin: 5px 5px 0 0; }
	#agendaWrapper table { color:#000; font-size:10px; width:100%; }
	#cameraTitle { width:100% }
	#appletHolder { width:100%; height: 100%; }
	#linksAside { display: none; }
	embed, object { width:100%; }
	#cameraTitle h1 { font-size:100%; line-height:normal; padding:20px 0 0 40px; }
	#pictureContainer { width:100%; height:auto; margin: 0 auto; }
	.controlsBasicView { width:100%; background:#fff; margin: 0 auto; position: relative; top:0; }
	div.controlsBasicView img { padding:5px; margin: 0 5px; }

	/* switch */
	.has-switch.switch-mini { min-width: 100px; }
	.has-switch span.switch-warning { left: -54px; }
	.has-switch label { left: 53px; }
}
@media only screen and (max-width: 350px) {
	body { overflow-x:hidden; overflow-y:auto; }
	#productsMenu ul li a {
		font-size: 60%;
	}
	#productHomeMenu ul li a {
		font-size: 60%;
	}
	#agendaWrapper label.radiosFreq { width:100%; }
	#agendaWrapper label.days { width:100%; margin:0 0 0 20px; float:left; }
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}