


/* MENSAJES DE ERROR */
p.attention,
p.warning,
p.message,
p.success,
#duplicatedErr p		{ border-radius:10px; border:solid 2px #d2bd4b; font-size:13px; line-height:19px; width:100%; padding:10px 10px 10px 65px; margin:15px 0 0 0; cursor:pointer; }

p.attention,
#duplicatedErr p		{ color:#5c4f05; background-color:#fcf6d2; background-image:url(../images/skin_RealLife_two/icons/ic_attention_gray.png); background-repeat:no-repeat; background-position:15px center; background-size:40px; }
p.warning		{  }
p.message		{  }
p.success		{  }


/* //////////>>>>>>> ESPECÍFICOS */
#duplicatedErr			{ width:350px; }
#registrationContent fieldset p.attention	{ text-align:left; width:initial; padding:10px 10px 10px 65px; margin:15px 0; } /* webmobile */