@charset "utf-8";
/* CSS Document */
/*   Reseteo CSS   ***************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,pre,form,fieldset,input,textarea,p,blockquote,th,td,section,table,tr,header,menu,.dir { margin:0px; padding:0px; border:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }
ol,ul { margin:0; padding:0; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; padding:0; margin:0; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
a img{ border:0; outline:none; }
a { color:#ee5222; outline:none; cursor:pointer; text-decoration:none; }
a:hover, a:focus { color:#000; outline:none; text-decoration:none; }
body {
	color:#3F3F3F;
	font-weight:normal;
	font-family:"Gotham", "Helvetica", Arial, sans-serif;
	font-size:100%;
}
ul {
/*	display:inline-block;*/
	list-style-type:none;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:0;
}
div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* END RESET */
#testerDeAltura { background:url(../images/skin_lj_rl/backs/topLayer70.png); background-repeat:repeat; position:fixed; line-height:25px; top:40px;  color:#fff; z-index:8000; }
#placaLoader	{ background:url(../images/skin_lj_rl/backs/topLayer70.png); background-repeat:repeat; position:fixed; width:100%; height:100%; top:0; left:0;  color:#fff; z-index:8001; display:inline-block; }

header { display:none; }
#productsMenu { background:url(../images/skin_lj_rl/backs/productMenu/menu_base.png); background-repeat:repeat-x; background-position:0px 0px; width:100%; z-index:2; position:relative; display:inline-block; }
#productsMenu .userLoggedThalamusMenu { width:100%; text-transform:uppercase; font-family:Arial,sans-serif; }
#productsMenu .correctNav { width:100%; }
#productsMenu ul li.logoContainer { width:100%; height:83px; text-align:center; }
#productsMenu ul li a { color:#FFF; line-height:36px; margin:5px; display:inline-block; }
#productsMenu ul li a.logo { width:100%; display:initial; }
#productsMenu ul li a img { width:auto; height:80%; padding:10px; }
#productsMenu ul li.toRight { background:#e51b24; width:25%; text-align:center; float:right; }
#content { width:100%; height:100%; text-align:center; display:inline-block; overflow:hidden; left:0px; position:relative; z-index:1; }
#controls { background:url(../images/skin_lj_rl/backs/topLayer70.png); background-repeat:repeat; width:100%; margin:0 auto; position:fixed; z-index:1300;}
.smallmap,
.pageWrapper { width:100%; }
.pageWrapper { display:inline-block; }
.smallmap { }
#productHomeMenu.col1_170 {
	background:#F3F1EE;
	position:relative;
	width:100%;
	float:left;
}
#tab { /*display:none;*/ }
ul.tabServices {  }
#productHomeMenu ul li		{ list-style:none; line-height:normal; width:33%; float:left; }
#productHomeMenu ul li a	{ line-height:36px; margin:5px; display:inline-block; }
#productHomeContent.col1_798_noSpaces {
	color:#FFF;
	background:#531A1A;
	width:100%;
	height:100%;
	padding:0;
	float:left;
}
#productHomeContent img.homeAd {
	width:100%;
	height:auto;
}
#panicButtonContainer {
	width:100%;
	margin:0 auto;
	position:relative;
}
#panicButtton {
	color:#FFF;
	background:url(../images/skin_lj_rl/buttons/button_panic_base.png);
	background-repeat:no-repeat;
	background-position:center center;
	font-size:17px;
	font-weight:bold;
	line-height:60px;
	text-align:center;
	width:260px;
	height:60px;
	margin:0 auto;
}
/* mobile specific */
@media only screen and (max-width: 968px) {
	body {
		height:100%;
		width:100%;
	}
	#title {
		font-size:1.3em;
		line-height:2em;
		text-indent:1em;
		margin:0;
		padding:0;
	}
	#docs {
		bottom:0;
		padding:1em;
	}
	#shortdesc {
		color:#aaa;
		font-size:0.8em;
		padding:1em;
		text-align:right;
	}
	#tags {
		display:none;
	}
}

button.iconEall,
button.icon100mts,
button.icon500mts,
button.icon1mks,
button.iconClear,
button.iconHome,
button.iconMaxSpeed,
button.iconZSeguras,
button.iconGetPosit,
button.iconPhoneAdm,
button.icon_zoom_in,
button.icon_zoom_out {
	border:none;
	background:transparent;
	width:55px;
	height:60px;
	padding:0;
	margin:5px 0;
	cursor:pointer;
}
button.icon_zoom_in,
button.icon_zoom_out { border:1px #000; width:32px; height:32px; }

button.iconEall		{ background:url(../mobile/images/webApp/parkings/control_E_all.png); 		background-repeat:no-repeat; background-position:center center; }
button.icon100mts	{ background:url(../mobile/images/webApp/parkings/control_100mts.png); 		background-repeat:no-repeat; background-position:center center; }
button.icon500mts	{ background:url(../mobile/images/webApp/parkings/control_500mts.png); 		background-repeat:no-repeat; background-position:center center; }
button.icon1mks		{ background:url(../mobile/images/webApp/parkings/control_1000mts.png); 	background-repeat:no-repeat; background-position:center center; }
button.iconClear	{ background:url(../mobile/images/webApp/parkings/control_clear.png); 		background-repeat:no-repeat; background-position:center center; }
button.iconMaxSpeed { background:url(../mobile/images/webApp/car/control_maxSpeed_60x60.png); 	background-repeat:no-repeat; background-position:center center; }
button.iconZSeguras { background:url(../mobile/images/webApp/car/control_zSeguras_60x60.png); 	background-repeat:no-repeat; background-position:center center; }
button.iconGetPosit { background:url(../mobile/images/webApp/car/control_getPosit_60x60.png); 	background-repeat:no-repeat; background-position:center center; }
button.iconPhoneAdm { background:url(../mobile/images/webApp/car/control_phoneAdm_60x60.png); 	background-repeat:no-repeat; background-position:center center; }
button.icon_zoom_in  { background:url(../mobile/images/webApp/parkings/icon_ZoomIn.png);		background-repeat:no-repeat; background-position:center center; }
button.icon_zoom_out { background:url(../mobile/images/webApp/parkings/icon_ZoomOut.png);		background-repeat:no-repeat; background-position:center center; }

#zoomSection {
	width:50px;
	top:50%;
	margin-top:-42px;
	position:fixed;
	z-index:1420;
}
#zoomSection .zoomControls {
	background:url(../images/skin_lj_rl/backs/topLayer70.png);
	background-repeat:repeat;
	border-radius:16px;
	width:32px;
	top:0;
	left:0;
	margin:0 0 0 10px;
	position:absolute;
	z-index:1300;
}
.defaultLayerStyles {
	width:100%;
	height:100%;
}
#tableStyle { width:100%; height:auto; overflow-y:auto; }
fieldset.tableHeader {
	background:#333;
}
fieldset label {
	color:#999;
	font-size:16px;
	padding:0 5px;
	margin:0;
	height:auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;   
}
fieldset.tableHeader label {
	color:#FFF;
}
fieldset label.w1 {
	width:30%;
}

fieldset label.w2 {
	text-align:center;
	width:auto;
}
fieldset label.w3 {
	width:70%;
}
fieldset label.w4,
fieldset label.w100 {
	width:100%;
}
a fieldset { background:#f0f0f0; margin:3px 0; }
a fieldset:hover,
a fieldset:active,
a fieldset label:hover,
a fieldset label:active,
a fieldset.touch { color:#000; background:#c3c3c3; }
a fieldset.no-touch { color:#999; background:transparent; }

fieldset select { -webkit-appearance:listbox; }
fieldset select { background:url(../images/skin_lj_rl/buttons/arrow_dropdown.png); background-position:right center; background-repeat:no-repeat; width:100%; height:50px; border:1px solid #999; border-radius:6px; padding:5px 34px 5px 5px; }
fieldset input[type="text"] { color:#999; font-size:16px; width:100%; border:1px solid #999; border-radius:6px; padding:5px; }
fieldset input[type="text"].areacode { width:30px; margin:8px 15px 8px 0; }
fieldset input[type="text"].phonenum { width:100px; }
.plateHighltd { color:#000; font-weight:bold; }
.modalStyle { width:100%; height:100%; margin:0; padding:20px; }
.panicLayerStyle { width:100%; max-width:100%; }
footer { width:0px; height:0px; visibility:hidden; display:none; }


#invalidPasswordLayer h3,
#loginLayer h3,
#registerLayer h3,
#parkingsNotLoggedLayer h3,
#forgotPasswordLayer h3,
#forgotPasswordUserNotFoundLayer h3,
#forgotPasswordErrorLayer h3,
#legalesLayer h3,
#logLayer h3,
#passwordLayer h3,
#sendPanicLayer h3,
#changePassLayer h3,
#legalesLayer h2, h3 {
	font-size:150%;
	text-transform:uppercase;
	padding:0 0 15px 0;
}
h4 { font-size:140%; line-height:180%; }