#slider-stage, #slider-stage1 {
	/*border:dotted 1px #FF0000;*/
	width: 396px;
	overflow:hidden;
	height: 192px;
	padding-top:17px;
	float:left;
	position:relative;
}
#slider-list {
	width:2000px;
	border:0;
	margin:0;
	padding:0;
	left:0px;
	position:absolute;
}
#slider-list a.theme {
	color:#292f3a;
	font-size:13px;
	list-style: none;
	float: left;
	width: 188px;
	height: 192px;
	margin: 0 20px 0 0;
	padding: 0;
	border: 0;
	position:relative;
	cursor:pointer;
	text-decoration:none;
	overflow:hidden;
}
#slider-list a.theme:hover {
	color:#ffb631;
}
#slider-list a.theme span.nameVignette {
	color:#a0a09b;
	font-size:11px;
}
#slider-list a.theme:hover span.nameVignette, #slider-list a.theme:hover span.priceTheme {
	color:#494947;
}
#slider-list a.theme span.changeTheme {
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	display:block
}
#slider-list a.theme:hover span.changeTheme {
	display:block
}
#slider-list a.theme span.priceTheme {
	color:#a0a09b;
	font-size:12px;
	font-weight:normal;
	display:block
}
#sliderBloc {
	height:250px;
	width:500px;
	overflow:hidden;
}
#sliderBloc a#previous, #sliderBloc a#next, #sliderBloc a#previous1, #sliderBloc a#next1 {
	background:url(../images/skin_basic/buttons/superHighlited_right.gif) no-repeat center center;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	width:22px;
	height:42px;
	margin:89px 10px 0 10px;
}
#sliderBloc a#previous, #sliderBloc a#previous1 {
	background:url(../images/skin_basic/buttons/superHighlited_left.gif) no-repeat center center;
}
#sliderBloc a#next:hover, #sliderBloc a#next1:hover {
	background:url(../images/skin_basic/buttons/superHighlited_right_on.gif) no-repeat center center;
}
#sliderBloc a#previous:hover, #sliderBloc a#previous1:hover {
	background:url(../images/skin_basic/buttons/superHighlited_left_on.gif) no-repeat center center;
}
.demo{
	background: #F3F2DA none repeat scroll 0 0;
	padding:0 1em 1em;
}
