@charset "utf-8";
/* CSS Document */
/*   Reseteo CSS   ***************************************************/

body,div,dl,dt,dd,ul,ol,li,h1,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	margin:0;
	padding:0;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
	border:0;
}
a img{border:0; outline:none;}
a{
	color:#c8c8c8;
	outline:none;
	cursor:pointer;
	text-decoration:none;
}
a:hover{
	color:#FFF;
	outline:none;
	text-decoration:underline;
}
p, ul{
	margin-bottom:10px;	
}
.derecha{
	float:right;
	width:200px;
	text-align:right;
	margin:40px 20px 5px 0;
}
.violeta{
	color:#0099FF;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
}
/* END RESET */
html, body {
	height: 100%;
}
body {
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
}
a {
	color:#0033FF;
	text-decoration:none
}
/* ///////////////////////////////////////////////////////////// */
/* / HEADER //////////////////////////////////////////////////// */
#headers {
	background-image: url(../images/skin_basic/backgrounds/header.gif);
	background-repeat: repeat-x;
	width:100%;
	height:130px;
	margin:0px;
	float:left;
}
#headers #header {
	font-family: "Tahoma", "Trebuchet MS", Arial, sans-serif;
	width:980px;
	height:130px;
	margin:0 auto;
}
#headers #header #logo {
	width:141px;
	height:130px;
	float:left;
}
#headers #header #centralhead {
	width: 830px;
	height:130px;
	float:left;
}
#headers #header #centralhead #border {
	background-image: url(../images/skin_basic/header/border.gif);
	background-repeat: no-repeat;
	width:6px;
	height:107px;
	margin-top:11px;
	float:left;
}
#headers #header #centralhead #taglineAndMenu {
	width:474px;
	margin-left:16px;
	margin-top:57px;
	float:left;
}
#headers #header #centralhead #taglineAndMenu p {
	font-size: 18px;
	color: #005a9e;
}
* {
	list-style:none;
	text-decoration:none;
	margin:0;
	padding:0;
}
.nav > li {
	font-size:11px;
	margin-top:12px;
	float:left;
}
.nav li a, .userLogged {
	color:#8d8d8d;
	display:block;
	padding:0 10px;
	float:left;
}
.userLogged {
	padding-right:0;
	float:left;
}
.selected {
	color:#efaf01;
	display:block;
	float:left;
}
.nav li a:hover {
	color:#efaf01;
}
.nav li ul {
	display:none;
	position:absolute;
	min-width:80px;
}
.nav li:hover > ul {
	display:block;
}
.nav li ul li {
	position:relative;
}
.nav li ul li ul {
	right:-165px;
	top:0;
}
#headers #header #centralhead #search {
	color:#8e8e8e;
	font-size:13px;
	width:233px;
	margin-left:17px;
	margin-top:50px;
	float:left;
}
#headers #header #centralhead #search .searchField {
	font-size: 12px;
	background-image: url(../images/skin_basic/header/baseSimpleSearch.gif);
	background-repeat: no-repeat;
	border:none;
	width:143px;
	height:22px;
	padding-top:3px;
	padding-left:13px;
	padding-bottom:3px;
	padding-right:13px;
}
#headers #header #centralhead #social {
	margin-left:12px;
	margin-top:45px;
	float:left;
}
/* / FOOTER //////////////////////////////////////////////////// */
#footers {
	background-image: url(../images/skin_basic/backgrounds/footer.gif);
	background-repeat: repeat-x;
	margin: 0px;
	float: left;
	height: 108px;
	width: 100%;
}
#footers #footer {
	width:980px;
	margin: 0 auto;
}
#footers #footer #logo {
	width:120px;
	height:96px;
	margin-top: 12px;
	float:left;
}
#footers #footer #linkAndCopy {
	width:500px;
	margin-left:16px;
	margin-right:16px;
	margin-top:37px;
	float:left;
	
	font-size:11px;
	text-align:center;
}
#footers #footer #linkAndCopy a, #footers #footer #linkAndCopy a:active, #footers #footer #linkAndCopy a:visited {
	margin-left:3px;
	margin-right:3px;
}
#footers #footer #linkAndCopy a:hover {
	color:#f46048;
}
#footers #footer #social {
	width:158px;
	height:41px;
	margin-top:46px;
	margin-left:37px;
	float:left;
}
#footers #footer #tdil {
	width:105px;
	margin-top:46px;
	margin-left:19px;
	float:left;
}
#footers #footer #tdil #logo {
	width:105px;
	height:23px;
	margin:0;
	float:left;
}
#footers #footer #tdil #tagline {
	width:105px;
	font-size:10px;
	line-height:normal;
	text-align:center;
	padding-top:8px;
	float:left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}
#footers a, #footers a:active, #footers a:visited {
	color:#919191;
	text-decoration:none;
}
#footers a:hover {
	color:#919191;
	text-decoration:underline;
}
/* ///////////////////////////////////////////////////////////// */



/* the forward and backward buttons */
.addfwd { display:block; position:absolute; cursor:pointer; width:25px; top:0; right:0px; background:url(../images/gallery_fwd.jpg) no-repeat 0 0;z-index:300;  }
.addbkwd { display:block; position:absolute; cursor:pointer; width:25px; top:0; left:0px; background:url(../images/gallery_back.jpg) no-repeat 0 0; z-index:300;  }
/* Target FireFox 3 [!] */
html>/**/body #col_derecha h2, x:-moz-any-link, x:default {
	font-size:16px;
	line-height:40px;
	margin-bottom:0px;
}
html>/**/body #col_derecha h3, x:-moz-any-link, x:default {
	top:-3px;
	position:relative;
}
html>/**/body #col_derecha ul li a.playlist, x:-moz-any-link, x:default {
	margin-top:0px;
}
.enviar{
	background:url(../images/enviar.png) no-repeat;
	width:84px;
	height:41px;
	font-size:20px;
	border:none;
	color:#FFF;
	cursor:pointer;
}

/**/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #fff;
	background-color: #000;
	padding: 10px;
	opacity: 0.85;
	color: #FFCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
#tooltip h3, #tooltip div { margin: 0; }
/**/
.hide {
	display: none;
}
input[type="button"], input[type="submit"] {
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin: 10px;
	cursor:hand;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 3px 3px rgba(44, 28, 89, 0.3);
	-webkit-box-shadow: 0 0 3px 3px rgba(44, 28, 89, 0.3);
	-moz-box-shadow: 0 0 3px 3px rgba(44, 28, 89, 0.3);
	-o-box-shadow: 0 0 3px 3px rgba(44, 28, 89, 0.3);
	
	/* gradient */
	background-image: linear-gradient(bottom, rgb(128,107,179) 0%, rgb(91,72,141) 100%);
	background-image: -o-linear-gradient(bottom, rgb(128,107,179) 0%, rgb(91,72,141) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(128,107,179) 0%, rgb(91,72,141) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(128,107,179) 0%, rgb(91,72,141) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(128,107,179) 0%, rgb(91,72,141) 100%);

	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5b488d, endColorstr=#806bb3);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5b488d, endColorstr=#806bb3)";
}
input[type="button"]:hover, input[type="submit"]:hover {
	/* gradient */
	background-image: linear-gradient(bottom, rgb(91,72,141) 0%, rgb(128,107,179) 100%);
	background-image: -o-linear-gradient(bottom, rgb(91,72,141) 0%, rgb(128,107,179) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(91,72,141) 0%, rgb(128,107,179) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(91,72,141) 0%, rgb(128,107,179) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(91,72,141) 0%, rgb(128,107,179) 100%);

	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#806bb3, endColorstr=#5b488d);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#806bb3, endColorstr=#5b488d)";
}
.width20 { width:20px; }
.width50 { width:50px; }
.width80 { width:80px; }
.width100 { width:100px; }
.width120 { width:120px; }
.width150 { width:150px; }
.width180 { width:180px; }
.width200 { width:200px; }
.width230 { width:230px; }
.width280 { width:280px; }
.width300 { width:300px; }
.width320 { width:320px; }
.width350 { width:350px; }
.width380 { width:380px; }
.width400 { width:400px; }
.width420 { width:420px; }
.width450 { width:450px; }
.width475 { width:475px; }
.width500 { width:500px; }
.width700 { width:700px; }
.width720 { width:720px; }
.width740 { width:740px; }
.width760 { width:760px; }
.width800 { width:800px; }
.width860 { width:860px; }
.width920 { width:920px; }

.height25 { height:25px; }
.height30 { height:30px; }
.height40 { height:40px; }
.height50 { height:50px; }
.height60 { height:60px; }
.height80 { height:80px; }
.height100 { height:100px; }
.height120 { height:120px; }
.height150 { height:150px; }
.height180 { height:180px; }
.height200 { height:200px; }
.height250 { height:250px; }
.height300 { height:300px; }
