div, span, p, a { /*border:dotted 1px #00FF00; background:#00CCFF;*/ }
html, body {
	height: 100%;
}
body {
	background-image: url(../images/skin_basic/backgrounds/body.gif);
	background-repeat: repeat;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
}
/* / CENTRAL /////////////////////////////////////////////////// */
#central {
	background-image: url(../images/skin_basic/backgrounds/home_promoBase.jpg);
	background-repeat: repeat-x;
	width:100%;
	height:367px;
	margin:0;
	padding:0;
	position:relative;
}
#central #centralBlock {
	background-image:url(../images/skin_basic/backgrounds/borders.png);
	background-repeat:repeat-y;
	width:1000px;
	height:365px;
	margin:0 auto;
}
#central #centralBlock #promos {
	background-image: url(../images/skin_basic/home/basePromos.png);
	background-repeat: no-repeat;
	width:638px;
	height:357px;
	margin-left:10px;
	float:left;
}
#central #centralBlock #buttons {
	width:344px;
	height:357px;
	padding-top:8px;
	padding-left:8px;
	float:left;
}
.advancedSearch a, .addProfessional a, .addClientFB a, .viewPromotions a {
	width:324px;
	margin:4px;
	padding:0;
	float:left;
	background-repeat: no-repeat;
	background-position: center center;
}
.advancedSearch a {
	background-image: url(../images/skin_basic/buttons/advancedSearch_off.png);
	height:137px;
}
.advancedSearch a:hover {
	background-image: url(../images/skin_basic/buttons/advancedSearch_on.png);
}
.addProfessional a {
	background-image: url(../images/skin_basic/buttons/registerProfessional_off.png);
	height:129px;
}
.addProfessional a:hover {
	background-image: url(../images/skin_basic/buttons/registerProfessional_on.png);
}
.addClientFB a {
	background-image: url(../images/skin_basic/buttons/registerClientFB_off.png);
	height:65px;
}
.addClientFB a:hover {
	background-image: url(../images/skin_basic/buttons/registerClientFB_on.png);
}
/* / CONTENT /////////////////////////////////////////////////// */
#divisionHeaderBody {
	background-image: url(../images/skin_basic/backgrounds/divisionLineHeaderBody.gif);
	background-repeat: repeat-x;
	background-position: center center;
	width:100%;
	height:14px;
}
#preContainer {
	width:1000px;
	margin:0 auto;
}
#content {
	background-image: url(../images/skin_basic/backgrounds/borders_central.png);
	background-repeat: repeat-y;
	background-position: center center;
	width:1000px;
	margin:0 auto;
	padding:0;
	position:relative;
	float:left;
}
#content h1, #content h2, #content h3, #content h4 {
	font-family: "Tahoma", "Trebuchet MS", Arial, sans-serif;
}
#content h3 {
	padding:8px 8px;
}
#content h1 {
	font-size:28px;
	line-height:28px;
	color:#035b9c;
}
#content h2 {
	font-size:16px;
	line-height:16px;
	color:#596066;
}
#buttonContactForm {
	background-image: url(../images/skin_basic/buttons/contactFormSubmit_off.png);
	width: 169px;
	height: 65px;
	margin:0 auto;
}
#buttonContactForm:hover {
	background-image: url(../images/skin_basic/buttons/contactFormSubmit_on.png);
}
#superHighlightedBlock {
	color: #292f3a;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../images/skin_basic/backgrounds/superHighlighted.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:490px;
	height:240px;
	
	float:left;
}
#superHighlightedBlock #navigationButtons {
	width:458px;
	height:42px;
	position:relative;
	top:99px;
	left:16px;
}
#superHighlightedBlock #navigationButtons #left {
	width:22px;
	height:42px;
	float:left;
}
#superHighlightedBlock #navigationButtons #right {
	width:22px;
	height:42px;
	float:right;
}
#superHighlightedBlock #adv {
	width:188px;
	height:190px;
	margin-left:10px;
	margin-right:10px;
	position:relative;
	top:-15px;
	left:37px;
	float:left;
}
#superHighlightedBlock #adv img {
	padding-bottom:18px;
}
#superHighlightedBlock #adv .precio {}
#superHighlightedBlock #adv h4 a, #superHighlightedBlock #adv h4 a:active, #superHighlightedBlock #adv h4 a:visited {
	color:#292f3a;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
#superHighlightedBlock #adv h4 a:hover {
	text-decoration:underline;
}
.myRow {
	width:100%;
	padding-bottom:15px;
	float:left;
}
.myLabel {
	line-height:20px;
	width:50px;
	float:left;
}
/* / BARRA LATERAR IZQUIERDA /////////////////////////////////// */
#leftCentral {
	width:624px;
	min-height:620px;
	margin-left:20px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:10px;
	float:left;
}
#lowHighlightedAdv {
	width:294px;
	height:118px;
	margin-left:15px;
	margin-bottom:15px;
	float:left;
}
#lowHighlightedAdv h5, #lowHighlightedAdv h5 a {
	color:#292f3a;
	font-family: "Tahoma", "Trebuchet MS", Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}
#lowHighlightedAdv #imageAtAdv {
	background-image: url(../images/skin_basic/demo/lha.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	width:86px;
	float:left;
}
#lowHighlightedAdv p, #lowHighlightedAdv p a {
	font-size:11px;
	width:198px;
	height:40px;
	padding-left:10px;
	padding-bottom:2px;
	overflow:hidden;
	float:left;
}
#lowHighlightedAdv .category, #lowHighlightedAdv .category a {
	color:#1b91d7;
	font-size:11px;
	text-decoration:underline;
	width:198px;
	padding-left:10px;
	padding-bottom:2px;
	overflow:hidden;
	float:left;
}
#lowHighlightedAdv .price, #lowHighlightedAdv .price a {
	color:#939393;
	font-size:11px;
	width:198px;
	padding-left:10px;
	overflow:hidden;
	float:left;
}
/* / BARRA LATERAR DERECHA ///////////////////////////////////// */
#rightCentral {
	width:323px;
	min-height:660px;
	margin-top:20px;
	background-color:#fafafa;
	float:left;
}
#punteado {
	background-image: url(../images/skin_basic/backgrounds/punteadoGrande.gif);
	background-repeat: repeat-x;
	background-position: center center;
	width:960px;
	height:2px;
	margin-left:20px;
	float:left;
}
#zoneNavigation, #categoryNavigation {
	padding:16px;
	padding-bottom:0px;
}
#zoneNavigation p, #categoryNavigation p {
	-moz-column-width: 130px;
	-moz-column-gap: 15px;
	-webkit-column-width: 130px;
	-webkit-column-gap: 15px;
	/*-webkit-column-rule: 1px solid #ccc;
	-moz-column-rule: 1px solid #ccc;*/

	font-size:11px;
	line-height:18px;
	width:290px;
	height:262px;
	
	overflow:hidden;
}
#zoneNavigation a, #categoryNavigation a {
	color:#1399f8;
}
#zoneNavigation h3, #categoryNavigation h3, #zoneNavigation h3 a {
	color:#035b9c;
	font-family: "Tahoma", "Trebuchet MS", Arial, sans-serif;
	font-size:20px;
	padding-bottom:10px;
	padding-left:0;
	text-decoration:none;
}
#categoryNavigation h3, #categoryNavigation h3 a {
	padding-left:0;
	color:#f6b400;
	text-decoration:none;
}
/**/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #fff;
	background-color: #000;
	padding: 10px;
	opacity: 0.85;
	color: #FFCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
#tooltip h3, #tooltip div { margin: 0; }
/**/
.hide {
	display: none;
}