<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdil.peugeotservice"
    android:versionCode="1"
    android:versionName="1.00.04" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
	<uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
	<uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

	<!-- uses-feature android:glEsVersion="0x00020000" android:required="true"/-->

    <uses-sdk
        android:minSdkVersion="10"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/iso"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

    <!-- meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" /-->
    
        <activity
            android:name="com.tdil.peugeotservice.android.RequestResetPasswordActivity"
            android:label="@string/title_request_reset"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.FirstAccessActivity"
            android:label="@string/title_activity_first_access"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.NotClientActivity"
            android:label="@string/title_activity_first_access"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.tdil.peugeotservice.android.LoginActivity"
            android:label="@string/title_activity_login_for_action_bar"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.IndexActivity"
            android:label="@string/user_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.ParkingsActivity"
            android:label="@string/title_parkings"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait" 
	        android:icon="@drawable/iso">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.PreventActivity"
            android:label="@string/title_prevent"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait" 
	        android:icon="@drawable/iso">
        </activity>
        
         <activity
            android:name="com.tdil.peugeotservice.android.RegisterActivity"
            android:label="@string/title_activity_register"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.UpdateActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.ChangePasswordActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.CheckForUpdateActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.ServicesDashboardActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme" >
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.MyServicesActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.OfficialServicesActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.MyVehiclesActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.SearchDealersActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.DealersListActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.SelectVehiclesForDealerActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.AddServiceActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.UpdateEmergencyConfigActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.AdvicesActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="com.tdil.peugeotservice.android.HistoricAlertsActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
	        android:icon="@drawable/iso"
            android:theme="@style/AppTheme">
        </activity>
        
         <!-- activity
            android:name="com.tdil.peugeotservice.android.MainActivity"
            android:label="@string/app_name"
	        android:configChanges="orientation"
	        android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->
        
        <meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyDeQWMrFJX5TqOy6c7ZdG8bw4PCqBblgds"/>
    </application>

</manifest>