@charset "utf-8";
/* CSS Document */
/*   Reseteo CSS   ***************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,pre,form,fieldset,input,textarea,p,blockquote,th,td,section,table,tr,header,menu,.dir { margin:0px; padding:0px; border:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }
ol,ul { margin:0; padding:0; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; padding:0; margin:0; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
a img{ border:0; outline:none; }
a { color:#ee5222; outline:none; cursor:pointer; text-decoration:none; }
a:hover, a:focus { color:#000; outline:none; text-decoration:none; }
body {
	color:#212229;
	font-weight:normal;
	font-family:"Peugeot", "Helvetica", Arial, sans-serif;
	font-size:100%;
}
ul {
/*	display:inline-block;*/
	list-style-type:none;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	-webkit-margin-start:0;
	-webkit-margin-end:0;
	-webkit-padding-start:0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,section,table,tr,header,menu,.dir, ul, ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* END RESET */
p.information	{ border:solid 1px #4493b0; border-radius:10px; color:#154658; font-size:15px; line-height:22px; background-color:#c3e4f1; background-image:url("../images/backdoor/icons/information.png"); background-repeat:no-repeat; background-size:40px 40px; background-position:10px 10px; padding:20px 20px 20px 60px !important; margin:0 0 20px; }