@charset "utf-8";
/* CSS Document */
/*   Reseteo CSS   ***************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input[type="text"],input[type="password"],select,textarea {
	margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
	}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
sup{vertical-align:super}
sub{vertical-align:sub}
b,strong{font-weight:bold}
.clear{clear:both}
.sc:after{content:".";visibility:hidden;display:block;height:0;clear:both}
.scl:after{content:".";visibility:hidden;display:block;height:0;clear:left}
.scr:after{content:".";visibility:hidden;display:block;height:0;clear:right}
* html .sc, * html .scl, * html
.scr{height:1%}
*:first-child+html .sc, *:first-child+html .scl, *:first-child+html .scr{min-height:1%}
a:focus{outline:1px dotted rgba(0,0,0,0.1)}
.vjs-control-text{display:none}
.vjs-peugeot-skin{display:block;position:relative}
.vjs-peugeot-skin .vjs-fade-in{visibility:visible!important;opacity:1!important;-webkit-transition:visibility 0s linear 0s,opacity .3s linear;-moz-transition:visibility 0s linear 0s,opacity .3s linear;-ms-transition:visibility 0s linear 0s,opacity .3s linear;-o-transition:visibility 0s linear 0s,opacity .3s linear;transition:visibility 0s linear 0s,opacity .3s linear}
.vjs-peugeot-skin .vjs-fade-out{visibility:hidden!important;opacity:0!important;-webkit-transition:visibility 0s linear 1.5s,opacity 1.5s linear;-moz-transition:visibility 0s linear 1.5s,opacity 1.5s linear;-ms-transition:visibility 0s linear 1.5s,opacity 1.5s linear;-o-transition:visibility 0s linear 1.5s,opacity 1.5s linear;transition:visibility 0s linear 1.5s,opacity 1.5s linear}
.video-js .vjs-tech{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000}
body.vjs-full-window{padding:0;margin:0;height:100%;overflow-y:auto}
.video-js.vjs-fullscreen{position:fixed;overflow:hidden;z-index:1000;left:0;top:0;bottom:0;right:0;width:100% !important;height:100% !important;_position:absolute}
.video-js:-webkit-full-screen{width:100% !important;height:100% !important}
.vjs-time-divider{display:none}
.vjs-peugeot-skin .vjs-poster{position:relative;width:100%;height:100%;cursor:pointer}
.vjs-peugeot-skin .vjs-big-play-button{position:absolute;left:50%;top:50%;width:62px;height:62px;margin:-31px 0 0 -31px;background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -109px 0px no-repeat;outline:0;cursor:pointer}
.vjs-peugeot-skin .vjs-big-play-button:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -109px -61px no-repeat}
.vjs-peugeot-skin .vjs-controls{position:absolute;display:block;background-color:rgba(0,0,0,0.8);color:#FFF;height:24px;border-radius:5px;left:15px;right:15px;bottom:10px;padding:6px 10px;box-shadow:0;cursor:pointer;opacity:0;visibility:hidden}
.vjs-peugeot-skin .vjs-control{float:left;margin-right:10px;outline:0}
.vjs-peugeot-skin .vjs-play-control{float:left;background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') 0px -1px no-repeat;display:block;width:15px;height:17px;margin-top:3px}
.vjs-peugeot-skin .vjs-play-control:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') 0px -61px no-repeat}
.vjs-peugeot-skin .vjs-play-control.vjs-playing{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -50px -2px no-repeat;display:block;width:15px;height:17px}
.vjs-peugeot-skin .vjs-play-control.vjs-playing:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -50px -63px no-repeat}
.vjs-peugeot-skin .vjs-stop-control{float:left;background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -24px -2px no-repeat;display:block;width:15px;height:17px;margin-top:3px}
.vjs-peugeot-skin .vjs-stop-control:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -24px -63px no-repeat}
.vjs-peugeot-skin .vjs-fullscreen-control{float:right;background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -75px -2px no-repeat;display:block;width:18px;height:15px;margin-top:4px;margin-right:0}
.vjs-peugeot-skin .vjs-fullscreen-control:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -75px -63px no-repeat}
.vjs-peugeot-skin .vjs-mute-control{position:absolute;right:87px;background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -75px -28px no-repeat;display:block;width:23px;height:24px;margin:0 10px 0 0}
.vjs-peugeot-skin .vjs-mute-control:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -2px -86px no-repeat}
.vjs-peugeot-skin .vjs-mute-control.vjs-vol-0{background:url('/defaultSites/peugeot_main/css/images/controls.player.png') -2px -28px no-repeat}
.vjs-peugeot-skin .vjs-mute-control.vjs-vol-0:hover{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -75px -86px no-repeat}
.vjs-peugeot-skin .vjs-mute-control.vjs-vol-1{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -25px -28px no-repeat}
.vjs-peugeot-skin .vjs-mute-control.vjs-vol-2{background:url('/defaultSites/peugeot_main/images/peugeot_common/controls.player.png') -50px -28px no-repeat}
.vjs-peugeot-skin .vjs-progress-control{position:absolute;width:auto;top:14px;left:64px;right:200px;height:6px}
.vjs-peugeot-skin .vjs-progress-holder{position:relative;cursor:pointer !important;padding:0;margin:0;height:6px}
.vjs-peugeot-skin .vjs-load-progress,
.vjs-peugeot-skin .vjs-play-progress{position:absolute;left:0;top:0;height:100%;display:block}
.vjs-peugeot-skin .vjs-load-progress{background-color:#FFF}
.vjs-peugeot-skin .vjs-play-progress{background-color:#00CDFA}
.vjs-peugeot-skin div.vjs-seek-handle{position:absolute;width:1px;height:6px}
.vjs-peugeot-skin .vjs-volume-control{width:41px;position:absolute;right:40px;margin:8px 10px 0 0}
.vjs-peugeot-skin .vjs-volume-bar{position:relative;width:41px;height:6px;cursor:pointer !important;background-color:#000}
.vjs-peugeot-skin .vjs-volume-level{position:absolute;top:0;left:0;height:6px;background-color:#00CDFA}
.vjs-peugeot-skin .vjs-volume-handle{position:absolute;width:1px;height:6px}
.vjs-peugeot-skin .vjs-time-controls{position:absolute;top:10px;font-family:'Arial';font-size:12px}
.vjs-peugeot-skin .vjs-duration{width:38px;right:116px}
.vjs-peugeot-skin .vjs-current-time{width:38px;right:160px;border-right:1px solid #FFF;text-align:right;padding-right:5px}
.vjs-peugeot-skin .vjs-remaining-time{display:none}
html,body{width:100%;height:100%}
body{background-color:#1a1a22;color:#FFF;font:12px "Arial","Verdana",sans-serif}
b{font-weight:bold}

@font-face{font-family:'Peugeot';src:url('../fonts/peugeot/peugeot_normal-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_normal-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_normal-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_normal-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_normal-webfont.svg#PeugeotRegular') format('svg');font-weight:normal;font-style:normal}

@font-face{font-family:'Peugeot';src:url('../fonts/peugeot/peugeot_italic-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_italic-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_italic-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_italic-webfont.svg#PeugeotRegular') format('svg');font-weight:normal;font-style:italic}

@font-face{font-family:'Peugeot';src:url('../fonts/peugeot/peugeot_bold-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_bold-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_bold-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_bold-webfont.svg#PeugeotBold') format('svg');font-weight:bold;font-style:normal}

@font-face{font-family:'Peugeot';src:url('../fonts/peugeot/peugeot_bold_italic-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_bold_italic-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_bold_italic-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_bold_italic-webfont.svg#PeugeotBoldItalic') format('svg');font-weight:bold;font-style:italic}

@font-face{font-family:'PeugeotLight';src:url('../fonts/peugeot/peugeot_light-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_light-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_light-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_light-webfont.svg#PeugeotLightRegular') format('svg');font-weight:normal;font-style:normal}

@font-face{font-family:'PeugeotLight';src:url('../fonts/peugeot/peugeot_light_italic-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_light_italic-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_light_italic-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_light_italic-webfont.svg#PeugeotLightItalic') format('svg');font-weight:normal;font-style:italic}

@font-face{font-family:'PeugeotStyle';src:url('../fonts/peugeot/peugeot_style-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_style-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_style-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_style-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_style-webfont.svg#PeugeotStyleRegular') format('svg');font-weight:normal;font-style:normal}

@font-face{font-family:'peugeotDoubleZero';src:url('../fonts/peugeot/peugeot_double_zero-webfont.eot');src:local('?'),
url('../fonts/peugeot/peugeot_double_zero-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/peugeot/peugeot_double_zero-webfont.woff') format('woff'),
url('../fonts/peugeot/peugeot_double_zero-webfont.ttf') format('truetype'),
url('../fonts/peugeot/peugeot_double_zero-webfont.svg#peugeot_double_zeroregular') format('svg');font-weight:normal;font-style:normal}
/* END RESET */

p.information	{ border:solid 1px #4493b0; border-radius:10px; color:#154658; font-size:15px; line-height:22px; background-color:#c3e4f1; background-image:url("../images/backdoor/icons/information.png"); background-repeat:no-repeat; background-size:40px 40px; background-position:10px 10px; padding:20px 20px 20px 60px !important; margin:0 0 20px; }