@charset "utf-8";

/* GENERAL */
body	{ color:#abadbd; }
a		{ color:#2caed6; }

/* HEADER */
header									{ background:url(../images/skn_peugeot/bgs/pgt-bg_header-B.png); background-repeat:repeat-x; width:100%; height:132px; }
header#action_bar						{ display:none; }
#barre_transversale						{ width:960px; margin:0 auto; max-height:26px; overflow:hidden; }
ul.barre_transversale					{ float:right; }
ul.barre_transversale li 				{ float:left; }
ul.barre_transversale li.logo_mobile	{ display:none; }
ul.barre_transversale li a				{ background:url(../images/skn_peugeot/bgs/pgt-bg_transversal_btn.png) no-repeat scroll right center transparent; color:#FFF; font-family:'Peugeot'; font-size:13px; line-height:27px; text-decoration:none; text-transform:uppercase; vertical-align:middle; padding:0 19px 0 20px; display:inline-block; }
ul.barre_transversale li a.hub			{ color:#2ba4c9; }
ul.barre_transversale li a:hover,
ul.barre_transversale li a.current		{ color:#2ba4c9; }

#header_all										{ background:url(../images/skn_peugeot/bgs/pgt-bg_header_central-transversal.png) no-repeat 0 0; width:1250px; height:100px; margin:0 auto; }
div#index_mobile_logo img						{ opacity:0; }
#header_all div.logo							{ background:url(../images/skn_peugeot/logos/main_bar_logo.png); width:101px; height:80px; top:6px; left:190px; position:relative; }
#header_all div.logo a							{ width:101px; height:80px; display:inline-block; }
#header_all div.signature						{ background:url(../images/skn_peugeot/logos/signature.png); background-repeat:no-repeat; background-position:0 0; width:175px; height:18px; top:-54px; left:315px; position:relative; }
#header_all div#main_menu						{ font:100% "Arial", sans-serif; width:790px; height:33px; bottom:29px; left:320px; position:relative; }
div#main_menu ul.main_menu_ul					{ height:36px; overflow:hidden; }
div#main_menu ul.main_menu_ul li				{ float:left; }
div#main_menu ul.main_menu_ul li.right			{ float:right; }
div#main_menu ul.main_menu_ul li a.special		{ color:#fff; background:url(../images/skn_peugeot/bgs/pgt-bg_useful.png); padding:0 30px; float:right; }
div#main_menu ul.main_menu_ul li a				{ color:#ACABC0; padding:0px 105px; height:36px; line-height:36px; font-size:11px; text-decoration:none; text-transform:uppercase; }
div#main_menu ul.main_menu_ul li a:hover		{ color:#fff; }
div#main_menu ul.main_menu_ul li.user			{ line-height:36px; max-width:160px; padding:0 20px; }
div#main_menu ul.main_menu_ul li.user span		{ color:#fff; }
div#main_menu ul.main_menu_ul li.home			{  }
div#main_menu ul.main_menu_ul li.home a			{ background:url(../images/skn_peugeot/icons/pgt-icon-home-inactive.png); background-repeat:no-repeat; background-position:center center; width:15px; height:15px; padding:16px 0!important; display:inline-block; }
div#main_menu ul.main_menu_ul li.home a:hover,
div#main_menu ul.main_menu_ul li.home a:active	{ background:url(../images/skn_peugeot/icons/pgt-icon-home.png); background-repeat:no-repeat; background-position:center center; width:15px; height:15px; padding:16px 0!important; display:inline-block; }


/* PAGE TITLE */
#page_title							{ background:url(../images/skn_peugeot/bgs/pgt-bg_page_title.png); background-repeat:repeat-x; background-position:0 0; }
#page_title div.page_title_wrapper	{ width:1250px; height:82px; margin:0 auto; }
#page_title div.breadcrumb			{ color:#abadbd; font-size:92%; font:11px "Arial","Verdana",sans-serif; line-height:11px; text-decoration:none; width:960px; margin:0 auto; padding:15px 0 0; }
#page_title div.breadcrumb span		{  }
#page_title div.title				{  }
#page_title div.title h1			{ color:#fff;font:32px/32px 'PeugeotLight',Arial, sans-serif; font-smooth:always!important; -webkit-font-smoothing:antialiased!important; text-shadow:1px 1px 1px rgba(0,0,0,0.004); margin:8px 0 0 0; padding:0 145px; }
#page_title div.avatar_container	{ background:url(../images/skn_peugeot/bgs/base_avatar.png) no-repeat right center; top:-70px; left:50%; padding-left:389px; position:relative; z-index:2; display:none; }
div.avatar_container ul				{ display:inline-block; }
div.avatar_container ul li.avatarLi	{ padding:20px 16px 16px; display:inline-block; }
img#avatarImg						{ width:48px; height:48px; }
img.avatar_base						{ background-color:#fff; }


/* MODAL WINDOWS */
div.layerOnTop								{ background-image:url(../images/skn_peugeot/modal/trans_40.png); width:100%; height:100%; position:fixed; }
div.layerOnTopInternal						{ width:100%; height:100%; top:0; left:0; position:fixed; z-index:1510; }
div.layerModal								{ border-radius:2px; background:#fff; width:60%; padding:18px; position:fixed; display:inline-block; -webkit-box-shadow:0 0 10px 2px rgba(0,0,0,0.5); box-shadow:0 0 10px 2px rgba(0,0,0,0.5); }
section.modal_header						{ background-image:url(../images/skn_peugeot/modal/divider_horizontal.png); background-repeat:no-repeat; background-position:center bottom; background-size:100% 11px; width:100%; padding:0 0 30px 0; margin:0 0 30px; }
button.close								{ border:none; background:transparent; background-image:url(../images/skn_peugeot/buttons/btn_modal_close.png); background-repeat:no-repeat; background-position:right 5px; color:#4d4f5b; font-size:13px; font-family:'PeugeotLight'; line-height:13px; padding:5px 25px 5px 0; margin:22px; position:absolute; top:0px; right:0px; cursor:pointer; }
section.modal_header button:hover,
section.modal_header button:active			{ outline:none; }
section.modal_header h2						{ color:#00aad5; font-size:20px; font-family:'PeugeotLight'; padding:0 0 9px 0; }
section.modal_header h3						{ color:#373743; font-size:13px; font-weight:bold; padding:6px 0; }
section.modal_header h4						{ color:#595a67; font-size:13px; font-weight:normal; padding:4px 0; }
section.modal_content						{ width:100%; display:inline-block; }
section.modal_content p						{ color:#373743; font-size:13px; }
span.modal_subtitle							{ color:#373743; font-size:20px; font-weight:normal; font-family:'Peugeot'; line-height:20px; padding:0 0 25px 0; display:inline-block; }
section.modal_content div.content_at_layer	{ background:#f0f0f0; color:#595a67; font-size:13px; line-height:18px; padding:25px; margin:0 0 25px; }
section.modal_content div.content_at_layer p { padding:0 0 15px; }
section.modal_content div.content_at_layer p:last-of-type { padding:0; }

section.apps_listing						{}
section.apps_listing ul						{}
section.apps_listing ul li					{}
section.apps_listing ul li a				{ background:#ffffff; background:-moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); background:-webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%); background:-o-linear-gradient(top, #ffffff 0%,#dddddd 100%); background:-ms-linear-gradient(top, #ffffff 0%,#dddddd 100%); background:linear-gradient(to bottom, #ffffff 0%,#dddddd 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); display:inline-block; font-size:24px; font-family:'PeugeotLight'; color:#43434e; width:100%; margin:5px 0; text-align:center; padding:18px 0; border-radius:5px; -webkit-box-shadow:0 0 5px 1px #B5B5B5; box-shadow:0 0 5px 1px #B5B5B5; text-decoration:none; text-shadow:1px 1px 1px #C9C9C9; }
section.apps_listing ul li a:hover			{ color:#00aad5; }

div.scrollable				{ overflow:auto; }


/* ERROR S */
div.alert 						{ border-radius:3px; text-align:center; padding:10px; margin:0 0 15px; }
div.alert-error					{ background-color:#ffe9e9; border:solid 1px #faacac; color:#6b1f1f; }
.errorText,
label.error						{ color:#FF5500; }

/* FORMS */
form.modal_wrapper									{ background:#f0f0f0; width:100%; display:inline-block; }
form.modal_wrapper h4								{ color:#595a67; font-size:18px; font-family:'Peugeot'; width:100%; padding:0 25px 5px; display:inline-block; }
form.modal_wrapper div.column						{ width:50%; padding:17px 0; float:left; }
form.modal_wrapper fieldset							{ float:left; display:inline-block; }
label												{ color:#595a67; font-size:13px; display:inline-block; padding:15px 0 15px 25px; vertical-align:top; overflow:hidden; }
form.modal_wrapper label							{ color:#595a67; font-size:13px; min-width:110px; display:inline-block; padding:15px 0 15px 25px; vertical-align:top; overflow:hidden; }
input[type="text"],
input[type="password"],
select,
textarea,
form.modal_wrapper input[type="text"],
form.modal_wrapper input[type="password"],
form.modal_wrapper select,
form.modal_wrapper textarea							{ border:solid 1px #d9d9d9; color:#595a67; font-size:13px; font-family:Arial; padding:8px; margin:7px 0; width:125px; }
form.modal_wrapper textarea							{ height:120px; }
form.modal_wrapper select							{ width:143px!important; }
form.modal_wrapper select.full						{ width:100%!important; }
fieldset.button_bar									{ background:#fff!important; width:100%!important; padding:0; }
div.errorInForm										{  }
div.errorInForm	label								{ color:#FF5500; }
div.errorInForm	span								{ color:#FF5500; }

form.regular_form_page								{ width:1000px; margin:0 auto; }
div.mini_form_wrapper								{ background:#f0f0f0; min-height:291px; padding:10px 25px; display:inline-block; }
div.mini_form_wrapper fieldset						{ width:100%; float:left; display:inline-block; }
div.mini_form_wrapper label							{ color:#595a67; font-size:13px; width:91px; display:inline-block; padding:15px 25px 15px 0; vertical-align:top; }
div.mini_form_wrapper input[type="text"],
div.mini_form_wrapper input[type="password"],
div.mini_form_wrapper select,
div.mini_form_wrapper textarea						{ border:solid 1px #d9d9d9; color:#595a67; font-size:13px; font-family:Arial; padding:8px; margin:7px 0; width:150px; }
div.mini_form_wrapper select						{ width:169px; }
textarea.comment									{ width:410px!important; }

form.template_form_page								{ width:100%; margin:0 auto; }
div.template_form_wrapper							{ background:#f0f0f0; width:100%; padding:10px 25px; display:inline-block; }

div.template_half div.content_template fieldset					{ width:100%; float:left; display:inline-block; }
div.template_half div.content_template label					{ color:#595a67; font-size:13px; width:50%; display:inline-block; padding:15px 25px 15px 0; vertical-align:top; }
div.template_half div.content_template input[type="text"],
div.template_half div.content_template input[type="password"],
div.template_half div.content_template select,
div.template_half div.content_template textarea					{ border:solid 1px #d9d9d9; color:#595a67; font-size:13px; font-family:Arial; padding:8px; margin:7px 0; width:150px; }
div.template_half div.content_template select					{ width:48%; }



/* BUTTONS */
button.link_back			{ color:#555562; border:none; background:transparent; font-size:13px; font-family:'Peugeot'; text-transform:uppercase; padding:10px; margin:0; cursor:pointer; float:left; }
button.link_back span		{ background:url(../images/skn_peugeot/buttons/btn_arrow_back_normal.png); background-repeat:no-repeat; background-position:0 1px; width:10px; height:10px; display:inline-block; margin:0 6px 0 0; }
button.botton_ahead			{ border:none; border-radius:4px; color:#fff; font-size:13px; font-family:'Peugeot'; text-transform:uppercase; background:#1db5dc; background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top, #1db5dc 0%, #00557f 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1db5dc), color-stop(100%,#00557f)); background:-webkit-linear-gradient(top, #1db5dc 0%,#00557f 100%); background:-o-linear-gradient(top, #1db5dc 0%,#00557f 100%); background:-ms-linear-gradient(top, #1db5dc 0%,#00557f 100%); background:linear-gradient(to bottom, #1db5dc 0%,#00557f 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db5dc', endColorstr='#00557f',GradientType=0 ); padding:10px; margin:0; cursor:pointer; float:right; }
button.botton_ahead span	{ background:url(../images/skn_peugeot/buttons/btn_arrow_forward_inbutton_normal.png); background-repeat:no-repeat; background-position:0 1px; width:10px; height:10px; display:inline-block; margin:0 0 0 6px; }
button:hover.botton_ahead	{ background:#00557f; background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTU3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZGI1ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #00557f 0%, #1db5dc 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00557f), color-stop(100%,#1db5dc)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #00557f 0%,#1db5dc 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #00557f 0%,#1db5dc 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #00557f 0%,#1db5dc 100%); /* IE10+ */ background:linear-gradient(to bottom,  #00557f 0%,#1db5dc 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00557f', endColorstr='#1db5dc',GradientType=0 ); /* IE6-8 */  }
button.link					{ border:none; background:none; color:#4d4f5b; font-size:12px; font-weight:bold; text-align:left; padding:0 0 0 25px; float:left; cursor:pointer; }
button.print				{ border:none; background:transparent; background-image:url(../images/skn_peugeot/icons/icon_print.png); color:#3b3a48; background-repeat:no-repeat; background-position:0; padding:0 0 0 22px; margin:0; position:relative; top:-48px; right:0; z-index:999; float:right; }

button.link_back:hover,
button.link_back:active,
button:hover,
button:active,
button.link:hover,
button.link:active,
button.print:hover,
button.print:active			{ outline:none; }


/* WHEEL MENU */
#wheel						{ background-color:#060c0f; background-image:url(../images/skn_peugeot/bgs/ws_wheel_halo_blue.jpg); background-position:top center; background-repeat:no-repeat; width:100%; min-width:1250px; height:500px; top:-20px; position:relative; overflow:hidden; }
div#content_wrapper			{ width:1250px; height:500px; margin:0 auto; }
div#app_logo				{ width:400px; position:relative; top:150px; left:780px; z-index:10; }
div#app_logo img			{ width:100%; }
div#wheel_container			{ width:100%; height:500px; position:relative; top:-500px; }
div#wheel_structure			{ background:url(../images/skn_peugeot/bgs/wheel_black_halo.png); background-repeat:no-repeat; background-position:50% 0; width:100%; min-width:1250px; height:500px; position:relative; top:0px; z-index:20; }
div.wrapper					{ width:1250px; margin:0 auto; }
button#pointsin,
button#carsecur,
button#services				{ color:#00d8ff; font-size:17px; font-family:'PeugeotLight'; text-shadow:rgba(0,0,0,0.8) 1px 1px 8px; border:none; background:transparent; background-position:0 0; background-repeat:no-repeat; height:64px; padding:0 0 0 102px; margin:0; cursor:pointer; }
button#pointsin				{ background-image:url(../images/skn_peugeot/buttons/btn_info.png); position:relative; top:39px; left:496px; z-index:11; }
button#carsecur				{ background-image:url(../images/skn_peugeot/buttons/btn_carsecur.png); position:relative; top:209px; left:339px; z-index:12; }
button#services				{ background-image:url(../images/skn_peugeot/buttons/btn_service.png); position:relative; top:396px; left:107px; z-index:13; }
button#pointsin:hover,
button#carsecur:hover,
button#services:hover		{ color:#fff; background-position:0 -64px; outline:none; }
button#pointsin:focus,
button#carsecur:focus,
button#services:focus		{ outline:none; }

div#wheel_animation_container		{ background:url(../images/skn_peugeot/bgs/wheel_whole.png); background-position:50% 0; background-repeat:no-repeat; width:100%; min-width:1250px; height:800px; top:-603px;; left:0px; position:relative; z-index:11; }


/* SERVICE SECTTION MENU */
section#service_section_menu								{ background-color:#fff;background-image:url(../images/skn_peugeot/bgs/subproduct_section_menu_base.png); background-repeat:repeat-x; background-position:center top; width:100%; height:53px; }
section#service_section_menu ul.subproduc_menu				{ background-image:url(../images/skn_peugeot/bgs/subproduct_section_menu_separator.png); background-repeat:no-repeat; background-position:left center; width:1000px; margin:0 auto; }
section#service_section_menu ul.subproduc_menu li			{ background-image:url(../images/skn_peugeot/bgs/subproduct_section_menu_separator.png); background-repeat:no-repeat; background-position:right center; color:#373743; font-size:13px; font-family:'PeugeotStyle'; display:inline-block; }
section#service_section_menu ul.subproduc_menu li a			{ color:#373743; line-height:13px; text-decoration:none; padding:20px 30px; display:inline-block; }
section#service_section_menu ul.subproduc_menu li a.active	{ color:#2caed6; }
section#service_section_menu ul.subproduc_menu li span		{ color:#2caed6; line-height:13px; text-decoration:none; padding:20px 30px; display:inline-block; }
section#service_section_menu ul.subproduc_menu li a:hover	{ color:#00aad5; }
section#service_section_menu ul.subproduc_menu li a:active	{}
div#under_shade												{ background-image:url(../images/skn_peugeot/bgs/under_shade.png); height:20px; position:relative; top:0; left:0; z-index:1401; }


/* CENTRAL CONTENT WHITE */
section#main_content_regular_page								{ background-color:#fff; background-image:url(../images/skn_peugeot/bgs/regular_page_degrade.png); background-repeat:repeat-x; background-position:center top; text-align:center; width:100%; padding:50px 0 25px; position:relative; top:-20px; display:inline-block; }
section#main_content_regular_page div.page_header				{ width:1000px; margin:0 auto; padding:10px 0; }
section#main_content_regular_page div.page_header h2			{ color:#2caed6; font-size:20px; font-family:'PeugeotLight'; line-height:30px; text-align:left; }
section#main_content_regular_page div.page_header p				{ color:#595a67; font-size:13px; font-family:Arial; line-height:18px; text-align:left; padding:6px 0; }

div.column1of3					{ text-align:left; width:313px; margin:0 0 0 30px; float:left; }
div.column1of3:first-of-type	{ margin:0; }
div.column1of3 h3				{ color:#3b3a48; font-size:20px; font-family:'PeugeotLight'; line-height:30px; margin:0 0 20px; display:inline-block; }

/* PAGE TEMPLATES */
div.template_baratleft,
div.template_half								{ width:1000px; margin-bottom:25px; display:inline-block; }
div.template_baratleft div.bar					{ width:200px; margin:0 25px 0 0; float:left; }
div.template_baratleft div.content_template		{ width:775px; margin:42px 0 0; float:left; }

div.template_half div.illustration				{ width:500px; float:left; }
div.template_half div.illustration img			{ width:479px; }
div.content_template							{ text-align:left; width:479px; margin:0 0 0 21px; float:left; }
div.content_template h2							{ color:#373743; font-size:20px; font-family:'Peugeot'; padding:4px 80px 10px 0; }
div.content_template p							{ color:#595a67; font-size:13px; padding:0 100px 18px 0; }

ul.selection_module						{ border:solid 1px #cdcdcd; border-radius:5px; background:#fff; }
ul.selection_module li					{ background:#ffffff; background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)); background:-webkit-linear-gradient(top, #ffffff 0%,#e8e8e8 100%); background:-o-linear-gradient(top, #ffffff 0%,#e8e8e8 100%); background:-ms-linear-gradient(top, #ffffff 0%,#e8e8e8 100%); background:linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); border-bottom:solid 1px #cdcdcd; color:#373743; font-size:12px; font-family:'Peugeot'; font-weight:600; line-height:12px; text-align:left; text-transform:uppercase; }
ul.selection_module li a				{ color:#373743; font-size:12px; font-family:'Peugeot'; font-weight:600; line-height:12px; text-decoration:none; width:100%; padding:14px; display:inline-block; }
ul.selection_module li a:hover			{ color:#00aad5; }
ul.selection_module li a.active			{ color:#00aad5; }
ul.selection_module li:first-of-type	{ border-top-right-radius:5px; border-top-left-radius:5px; }
ul.selection_module li:last-of-type		{ border-bottom-right-radius:5px; border-bottom-left-radius:5px;  }

div.template_half div.column				{ /* width using sizers */ background-image:url(../images/skn_peugeot/modal/divider_vertical.png); background-repeat:no-repeat; background-position:left center; background-size:100px 100%; float:left; }
div.template_half div.column:first-of-type	{ background-image:none; }

div.dashboard_item						{ width:350px; margin:0 auto 50px; display:inline-block; }
div.dashboard_item img.icon				{ padding:0 0 110px; float:left; vertical-align:top; display:inline-block; }
div.dashboard_item h3					{ text-align:left; float:left; width:285px; padding:25px 0 10px 25px; }
div.dashboard_item h3 a					{ color:#00aad5; font-size:14px; font-family:'Peugeot'; text-transform:uppercase; text-decoration:none; }
div.dashboard_item p					{ color:#595a67; font-size:13px; line-height:18px; font-weight:600; text-align:left; width:285px; float:left; padding:5px 0 15px 25px; }
div.dashboard_item button.link span		{ background-image:url(../images/skn_peugeot/icons/icon_arrow_in_text_button_gray.png); background-repeat:no-repeat; background-position:0 1px; width:11px; height:11px; margin:0 5px 0 0; display:inline-block; }

div.template_half h1											{ color:#3b3a48; font-size:20px; font-family:'PeugeotLight'; text-align:left; text-transform:uppercase; padding:0 0 25px; }
div.template_half p.bajada										{ color:#3b3a48; font-size:13px; font-weight:700; text-align:left; padding:0 0 25px; }
div.table_container												{}
div.table_container h2											{}
div.table_services												{ vertical-align:top; }
div.table_services ul.table_header								{ border:solid 1px #419fbe; background:#46b7db; background:-moz-linear-gradient(top, #46b7db 0%, #0b5a86 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#46b7db), color-stop(100%,#0b5a86)); background:-webkit-linear-gradient(top, #46b7db 0%,#0b5a86 100%); background:-o-linear-gradient(top, #46b7db 0%,#0b5a86 100%); background:-ms-linear-gradient(top, #46b7db 0%,#0b5a86 100%); background:linear-gradient(to bottom, #46b7db 0%,#0b5a86 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b7db', endColorstr='#0b5a86',GradientType=0 ); width:100%; display:inline-block; margin:0; vertical-align:top; }
div.table_services ul.table_header li							{ border-left:solid 1px #419fbe; color:#fff; font-size:13px; font-family:Arial; font-weight:bold; padding:15px 10px; vertical-align:middle; float:left; }
div.table_services ul.table_body								{ border-bottom:solid 1px #cfcfcf; border-right:solid 1px #cfcfcf; width:100%; display:inline-block; vertical-align:top; }
div.table_services ul.table_body:nth-child(2n+3)				{ background-color:#f7f7f7; }
div.table_services ul.table_body li								{ border-left:solid 1px #cfcfcf; border-top:solid 1px #cfcfcf; color:#3b3a48; font-size:13px; line-height:24px; font-family:Arial; font-weight:bold; padding:6px 10px; vertical-align:middle; float:left; cursor:pointer; }
div.table_services ul.table_body li.service_required	 		{ background-color:#ddf7ff; }
div.table_services ul.table_body li.service_not_required		{  }

.vehicleRowSelected,
.rowSelected													{ background:#ccf3ff; /* Old browsers */ background:-moz-linear-gradient(top,  #ccf3ff 0%, #a5e0ff 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccf3ff), color-stop(100%,#a5e0ff)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #ccf3ff 0%,#a5e0ff 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #ccf3ff 0%,#a5e0ff 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #ccf3ff 0%,#a5e0ff 100%); /* IE10+ */ background:linear-gradient(to bottom,  #ccf3ff 0%,#a5e0ff 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf3ff', endColorstr='#a5e0ff',GradientType=0 ); /* IE6-9 */ }

div.table_services ul.table_header li.cardesc,
div.table_services ul.table_body li.cardesc						{ width:150px; }
div.table_services ul.table_header li.kilometers,
div.table_services ul.table_body li.kilometers					{ width:150px; }
div.table_services ul.table_header li.services,
div.table_services ul.table_body li.services					{ width:150px; }
div.table_services ul.table_header li.lastservkm,
div.table_services ul.table_body li.lastservkm					{ width:300px; }
div.table_services ul.table_header li.lastservdate,
div.table_services ul.table_body li.lastservdate				{ width:245px; }

div.table_services ul.table_header li.cardesc2,
div.table_services ul.table_body li.cardesc2					{ width:142px; }
div.table_services ul.table_header li.kilometers2,
div.table_services ul.table_body li.kilometers2					{ width:96px; }
div.table_services ul.table_header li.services2,
div.table_services ul.table_body li.services2					{ width:131px; }
div.table_services ul.table_header li.lastservkm2,
div.table_services ul.table_body li.lastservkm2					{ width:212px; }
div.table_services ul.table_header li.lastservdate2,
div.table_services ul.table_body li.lastservdate2				{ width:173px; }
div.table_services ul.table_header li.waranty,
div.table_services ul.table_body li.waranty						{ width:94px; }
div.table_services ul.table_header li.waranty_kms,
div.table_services ul.table_body li.waranty_kms					{ width:149px; }

div.table_services ul.table_header li.dealer					{ width:248px; }
div.table_services ul.table_body li.dealer						{ width:248px; line-height:18px; min-height:49px; vertical-align:middle; }
div.table_services ul.table_header li.dealer_address			{ width:260px; }
div.table_services ul.table_body li.dealer_address				{ width:260px; line-height:18px; min-height:49px; vertical-align:middle; }
div.table_services ul.table_header li.dealer_phone				{ width:200px; }
div.table_services ul.table_body li.dealer_phone				{ width:200px; line-height:18px; min-height:49px; vertical-align:middle; }
div.table_services ul.table_header li.dealer_email				{ width:290px; }
div.table_services ul.table_body li.dealer_email				{ width:290px; line-height:18px; min-height:49px; vertical-align:middle; }

div.table_services ul.table_header li.fixed50					{ width:50px; }
div.table_services ul.table_body li.fixed50						{ width:50px; line-height:18px; min-height:49px; vertical-align:middle; }


div.results_content					{ border-top:solid 1px #d9d9d9; width:1000px; margin-bottom:50px; padding:20px 0 0 0; display:inline-block; }
div.results_content h3				{ color:#3b3a48; font-size:20px; font-family:'PeugeotLight'; text-align:left; text-transform:uppercase; width:100%; padding:0 0 25px; display:inline-block; }
div.results_content h3 span			{ color:#46b8dc; }




div.add_services_info								{ text-align:left; width:1000px; margin:50px 0; display:inline-block; }
div.add_services_info h2							{ color:#373743; font-size:20px; font-family:'PeugeotLight'; font-weight:bold; margin:0 0 25px; display:inline-block; }
div.add_cartoservices_info							{  }
div.add_cartoservices_info h2						{ color:#3b3a48; font-size:20px; font-family:'PeugeotLight'; text-align:left; text-transform:uppercase; padding:0 0 25px; }
div.form_with_car_image								{ background-image:url(../images/skn_peugeot/logos/iso.png); background-repeat:no-repeat; background-position:right top; background-size:50%; }
form.add_service_form								{  }
form.add_service_form div.add_service_form_wrapper,
div.add_service_form_wrapper						{ background-color:#f0f0f0; width:50%; min-height:289px; padding:25px 0; }
form.add_service_form label							{ padding:15px 25px; width:230px; }
form.add_service_form label.string_domain			{ color:#2ba4c9; font-weight:bold; padding:15px 0; }
form.add_service_form input[type="text"],
form.add_service_form select						{ width:224px; }

label.readOnly										{ color:#2ba4c9!important; font-weight:bold; padding:15px 0!important; }

/* COPYRIGHT */
section#copyright			{ display:none; }


/* FOOTER */
footer						{ color:#fff; position:relative; top:-20px; }

/* /////////////// taken from peugeot.fr */
.pgt_wrapper											{ width:100%; min-width:1250px; position:relative; display:block; background-repeat:repeat-x; }
#pgt_wrapper_footer										{ min-height:88px; background:none; z-index:99; }
#pgt_wrapper_footer>div									{ width:100%; left:0; margin:-14px 0 0 0; padding:14px 0 0 0; clear:both; }
#pgt_wrapper_footer>div 								{ background:url('../images/skn_peugeot/bgs/pgt-halo_footer.png') no-repeat center top transparent; position:absolute; }
#pgt_wrapper_footer #footer_main_row					{ background:url('../images/skn_peugeot/bgs/pgt-bg_footer.png') repeat-x left bottom; height:88px; display:block; }
#pgt_wrapper_footer #footer_main_row .pgt_inwrapper		{ width:960px; height:88px; margin:0 auto; padding:0; position:relative; }
#pgt_wrapper_footer #footer_main_row .footer_top		{ height:44px; }
.pgt_wrapper.main_site #pgt_footer_top_left				{ width:70%; }
#pgt_footer_top_left									{ width:50%; height:100%; float:left; display:inline-block; } 
#pgt_footer_top_left>ul									{ height:44px; margin-top:13px; display:block; }
#pgt_footer_top_left>ul>li								{ margin:0 12px 0 0; position:relative; display:block; float:left; }
#pgt_footer_top_left>ul>li>a							{ color:#474659; text-decoration:none; }
.button_light											{ font:11px Arial,sans-serif; vertical-align:middle; height:21px; display:inline-block;  }
.button_light .button_light_left						{ background:url('../images/skn_peugeot/buttons/btn_light_sides.png') no-repeat scroll left center transparent; width:6px; height:21px; vertical-align:top; float:left; display:block; }
.button_light .button_light_middle						{ background:#dfdfdf; line-height:21px; vertical-align:top;  height:20px; float:left; display:block;  }
.button_light .button_light_right						{ background:url('../images/skn_peugeot/buttons/btn_light_sides.png') no-repeat scroll right center transparent; width:6px; height:21px; vertical-align:top; float:left; display:block; }
.button_light:hover .button_light_left					{ background:url("../images/skn_peugeot/buttons/btn_light_sides_hover.png") no-repeat scroll left center transparent; }
.button_light:hover .button_light_middle				{ background:#2F303C; color:#dfdfdf; }
.button_light:hover .button_light_right					{ background:url("../images/skn_peugeot/buttons/btn_light_sides_hover.png") no-repeat scroll right center transparent; }
.pgt_wrapper.main_site #pgt_footer_top_right			{ width:30%; }
#pgt_footer_top_right									{ text-align:right; line-height:44px; vertical-align:middle; text-align:right; width:50%; height:44px; float:left; display:inline-block; }
#pgt_footer_top_right .social							{ display:inline-block; }
#pgt_footer_top_right a									{ margin-left:11px; }
#pgt_footer_top_right #share							{ line-height:44px; vertical-align:middle; height:44px; display:inline-block; }
#pgt_wrapper_footer #footer_main_row .footer_bottom		{ height:44px; font-size:11px; }
.pgt_wrapper.main_site #pgt_footer_bottom_left			{ width:60%; }
#pgt_footer_bottom_left									{ width:50%; float:left; }
#pgt_footer_bottom_left>ul								{ vertical-align:middle; }
#pgt_footer_bottom_left>ul>li							{ line-height:44px; display:inline; margin:0 10px 0 0; float:left; }
.liste_footer											{ padding:0; margin:0 5px 0 0; float:left; }
.liste_footer_liste										{ margin:66px 0 0 0; position:absolute; }
.liste_footer_liste ul									{ width:200px; float:left; }
.liste_footer_liste ul li								{ padding:0 0 10px 0; line-height:12px; }
.liste_footer_liste ul li a								{ color:#fff; text-decoration:none; }
.liste_footer_button									{ border:0 none; color:#fff; padding:0; display:inline; cursor:pointer; }
.liste_footer_button span.arrow							{ background:url("../images/skn_peugeot/buttons/liste_footer_arrow.png") no-repeat left center; background-position:-14px center; height:4px; width:8px; display:inline-block; vertical-align:middle; margin:0 0 0 5px; }
.pgt_wrapper.main_site #pgt_footer_bottom_right			{ width:40%; }
#pgt_footer_bottom_right								{ width:40%; float:right; display:inline-block; text-align:right; line-height:44px; }
#pgt_footer_bottom_right #find_dealer					{ display:inline-block; outline:none; }
#pgt_footer_bottom_right label							{ display:inline-block; vertical-align:middle; margin-right:2px; }
#find_dealer											{ display:inline-block; outline:none; }
#pgt_footer_bottom_right input[type="text"]				{ background:url('../images/skn_peugeot/bgs/input_search.png') no-repeat; border:none; height:21px; font:11px/21px Arial, sans-serif; color:#565565; width:110px; display:inline-block; vertical-align:middle; padding:0 0 0 4px; }
#pgt_footer_bottom_right input[type="submit"]			{ background:url('../images/skn_peugeot/buttons/input_submit.png') no-repeat; border:none; height:21px; width:27px; display:inline-block; padding:0; vertical-align:middle; margin:0 0 0 -7px; cursor:pointer; }
#stats													{ display:none; }
#stats													{ line-height:0; font-size:0; }






/* *************************************************************************************** */
/* ***************************** MEDIA QUERIES PARA WEBMOBILE **************************** */
/* *************************************************************************************** */

/* IPAD 2; */
@media only screen and (max-width:1024px) {
	header										{ display:none; }
	section#page_title							{ display:none; }
	
	div#under_shade								{ background-image:url(../images/skn_peugeot/bgs/ac_secondary_bar_halo.png); background-size: 100%; background-repeat: no-repeat; }
	
	#wheel										{ min-width:inherit; }
	div#content_wrapper							{ width:100% }
	div#app_logo								{ display: none; }
	div#wheel_container							{ width: 100%; }
	div#wheel_structure							{ min-width:inherit; }
	div.wrapper									{ width:100%; display:inline-block; text-align: center; }
	div#wheel_animation_container				{ min-width:inherit; }
	button#pointsin								{ left: 183px; }
	button#carsecur								{ left: 28px;}
	button#services								{ left: -206px; }
	
	#pgt_wrapper_footer										{ min-width:inherit; }
	#pgt_wrapper_footer #footer_main_row .pgt_inwrapper 	{ display: none; }

	/* Exclusive web mobile */
	header#action_bar							{ background:none; height:auto; display:inline-block; }
	section.action_bar							{ background:#373641; line-height:0px; width:100%; display:inline-block; vertical-align:top; }
	section.action_bar div.ac_link_back			{ display:inline-block; vertical-align:top; }
	section.action_bar div.ac_link_back a		{ color:transparent; background-image:url(../images/skn_peugeot/icons/mobile/ic_ac_back_white.png); background-position:center center; background-repeat:no-repeat; background-size:100% 50%; width:24px; line-height:48px; display:inline-block; }
	section.action_bar div.ac_logo_mobile		{ display:inline-block; vertical-align:top; }
	section.action_bar div.ac_logo_mobile a		{ display:inline-block; }
	section.action_bar div.ac_logo_mobile img	{ width:48px; padding:10px;}
	section.action_bar div.breadcrumb			{ display:none; }
	section.action_bar div.breadcrumb a			{ display:inline-block; }
	section.action_bar div.ac_page_title		{ text-align:center; width:90%; padding: 0 48px 0 0; display:inline-block; position:absolute; vertical-align:top; }
	section.action_bar div.ac_page_title h1		{ color:#2caed6; font-size:180%; font-family:'Peugeot'; text-transform:uppercase; line-height:48px; margin-right: 16px; display:inline-block;  }
	section.action_bar div.ac_button_menu 		{ position:absolute; right:0; margin-left:24px; display:inline-block; vertical-align:top; }
	section.action_bar div.ac_button_menu a		{ color:transparent; background-image:url(../images/skn_peugeot/icons/mobile/ic_ac_menu_white.png); background-position:center center; background-repeat:no-repeat; background-size:50% 50%; width:48px; line-height:48px; display:inline-block; }
	section.action_bar div.ac_logo_mobile a:hover,
	section.action_bar div.ac_link_back a:hover,
	section.action_bar div.ac_button_menu a:hover { background-color:#6b6b6f; }
	
	section.secondary_bar						{ background-image:url(../images/skn_peugeot/bgs/ac_secondary_bar.png); background-repeat:repeat-x; background-size:100% 100%; text-align:center; width:100%; height:84px; display:inline-block; }
	section.secondary_bar div.signature			{ background:url(../images/skn_peugeot/logos/signature.png); background-repeat:no-repeat; background-position:center center; width:175px; height:18px; margin:33px 0; display:inline-block; }
	div.avatar_container						{ background: url(../images/skn_peugeot/bgs/base_avatar.png) no-repeat center center; top:49px; right: 5px; position: absolute; z-index: 2; }
	div.avatar_container ul						{ display:inline-block; }
	div.avatar_container ul li.avatarLi			{ padding:20px 16px 16px; display:inline-block; }
	img#avatarImg								{ width:48px; height:48px; }
	img.avatar_base								{ background-color:#fff; }
	
	div#full_menu								{ position: fixed; position: fixed; top:15px!important; right:15px!important; left: inherit!important; display: inline-block; background: #4c4c58; padding: 25px; border-radius: 2px; z-index: 1500; -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5); box-shadow: 0 0 15px 5px rgba(0,0,0,0.5); }
	div#full_menu ul							{}
	div#full_menu ul li							{}
	div#full_menu ul li.home					{ display: none; }
	div#full_menu ul li.user					{ font-size: 15px; font-family: 'Peugeot'; padding: 0 0 18px; }
	div#full_menu ul li a						{ color: #fff; background: #9b9aaa; background: -moz-linear-gradient(top, #9b9aaa 0%, #8e8d9f 6%, #5d5c6a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9aaa), color-stop(6%,#8e8d9f), color-stop(100%,#5d5c6a)); background: -webkit-linear-gradient(top, #9b9aaa 0%,#8e8d9f 6%,#5d5c6a 100%); background: -o-linear-gradient(top, #9b9aaa 0%,#8e8d9f 6%,#5d5c6a 100%); background: -ms-linear-gradient(top, #9b9aaa 0%,#8e8d9f 6%,#5d5c6a 100%);  background: linear-gradient(to bottom, #9b9aaa 0%,#8e8d9f 6%,#5d5c6a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9aaa', endColorstr='#5d5c6a',GradientType=0 ); text-transform: uppercase; font-size: 15px; font-family: 'Peugeot';  text-decoration: none; width: 100%; padding: 13px 18px; margin: 4px 0; display: inline-block; -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5); box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);}
	div#full_menu ul li a:hover					{ color: #abadbd; background: #8e8d9f; /* Old browsers */ background: -moz-linear-gradient(top,  #8e8d9f 0%, #5d5c6a 5%, #9b9aaa 99%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e8d9f), color-stop(5%,#5d5c6a), color-stop(99%,#9b9aaa)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #8e8d9f 0%,#5d5c6a 5%,#9b9aaa 99%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #8e8d9f 0%,#5d5c6a 5%,#9b9aaa 99%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #8e8d9f 0%,#5d5c6a 5%,#9b9aaa 99%); /* IE10+ */ background: linear-gradient(to bottom,  #8e8d9f 0%,#5d5c6a 5%,#9b9aaa 99%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8d9f', endColorstr='#9b9aaa',GradientType=0 ); /* IE6-9 */ }

	button.dark									{ background-image: url(../images/skn_peugeot/buttons/btn_modal_close_dark.png); }

	/* */


}










