@charset "utf-8";

/* GENERAL */
body	{ color:#abadbd; }
a		{ color:#abadbd; }

/* HEADER */
header								{ background:url(../images/skn_peugeot/bgs/pgt-bg_header-B.png); background-repeat:repeat-x; width:100%; height:132px; }
#barre_transversale					{ width:960px; margin:0 auto; max-height:26px; overflow:hidden; }
ul.barre_transversale				{ float:right; }
ul.barre_transversale li 			{ float:left; }
ul.barre_transversale li a			{ background:url(../images/skn_peugeot/bgs/pgt-bg_transversal_btn.png) no-repeat scroll right center transparent; color:#FFF; font-family:'Peugeot'; font-size:13px; line-height:27px; text-decoration:none; text-transform:uppercase; vertical-align:middle; padding:0 19px 0 20px; display:inline-block; }
ul.barre_transversale li a.hub		{ color:#2ba4c9; }
ul.barre_transversale li a:hover,
ul.barre_transversale li a.current	{ color:#2ba4c9; }

#header_all									{ background:url(../images/skn_peugeot/bgs/pgt-bg_header_central-transversal.png) no-repeat 0 0; width:1250px; height:100px; margin:0 auto; }
#header_all div.logo						{ background:url(../images/skn_peugeot/logos/main_bar_logo.png); width:101px; height:80px; top:6px; left:190px; position:relative; }
#header_all div.signature					{ background:url(../images/skn_peugeot/logos/signature.png); background-repeat:no-repeat; background-position:0 0; width:175px; height:18px; top:-54px; left:315px; position:relative; }
#header_all div#main_menu					{ font:100% "Arial", sans-serif; width:790px; height:33px; bottom:29px; left:320px; position:relative; }
div#main_menu ul.main_menu_ul				{ height:36px; overflow:hidden; }
div#main_menu ul.main_menu_ul li			{ float:left; }
div#main_menu ul.main_menu_ul li.right		{ float:right; }
div#main_menu ul.main_menu_ul li a.special	{ color:#fff; background:url(../images/skn_peugeot/bgs/pgt-bg_useful.png); padding:0 30px; float:right; }
div#main_menu ul.main_menu_ul li a			{ color:#ACABC0; padding:0px 105px; height:36px; line-height:36px; font-size:11px; text-decoration:none; text-transform:uppercase; }
div#main_menu ul.main_menu_ul li a:hover	{ color:#fff; }


/* PAGE TITLE */
#page_title							{ background:url(../images/skn_peugeot/bgs/pgt-bg_page_title.png); background-repeat:repeat-x; background-position:0 0; }
#page_title div.page_title_wrapper	{ width:1250px; height:82px; margin:0 auto; }
#page_title div.breadcrumb			{ color:#abadbd; font-size:92%; font:11px "Arial","Verdana",sans-serif; line-height:24px; text-decoration:none; width:960px; margin:0 auto; }
#page_title div.breadcrumb span		{  }
#page_title div.title				{  }
#page_title div.title h1			{ color:#fff;font:32px/32px 'PeugeotLight',Arial, sans-serif; font-smooth:always!important; -webkit-font-smoothing:antialiased!important; text-shadow:1px 1px 1px rgba(0,0,0,0.004); margin:8px 0 0 0; padding:0 145px; }
#page_title div.avatar_container	{ background:url(../images/skn_peugeot/bgs/base_avatar.png) no-repeat right top; width:81px; height:81px; top:-66px; left:50%; padding-left:389px; position:relative; z-index:2; }
div.avatar_container ul				{ padding:17px 0 0 17px; }
div.avatar_container ul li.avatarLi	{  }
img#avatarImg						{ width:48px; height:48px; }

/* MODAL WINDOWS */
div.layerOnTop				{ background-image:url(../images/skn_peugeot/modal/trans_40.png); width:100%; height:100%; position:fixed; }
div.layerModal				{ 
display: inline-block;
position: fixed;
background: #fff;
width: 60%;
padding: 18px;
border-radius: 2px;
-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
box-shadow: 0 0 10px 2px rgba(0,0,0,0.5); }
section.modal_header		{ background-image: url(../images/skn_peugeot/modal/divider_horizontal.png);
background-repeat: no-repeat;
background-position: center bottom;
padding: 0 0 30px 0;
margin: 0 0 30px; }
section.modal_header button.close	{ border: none;
background: transparent;
background-image: url(../images/skn_peugeot/buttons/btn_modal_close.png);
background-repeat: no-repeat;
background-position: right 5px;
color: #4d4f5b;
font-size: 13px;
font-family: 'PeugeotLight';
line-height: 13px;
padding: 5px 25px 5px 0;
margin: 22px;
position: absolute;
top: 0px;
right: 0px;
cursor: pointer; }
section.modal_header button:hover	{ outline:none; }
section.modal_header button:active	{ outline:none; }
section.modal_header h2		{ color: #00aad5;
font-size: 20px;
font-family: 'PeugeotLight';
padding: 0 0 9px 0; }
section.modal_header h3		{ color: #373743;
font-size: 13px;
font-weight: bold;
padding: 6px 0; }
section.modal_header h4		{ color: #595a67;
font-size: 13px;
font-weight: normal;
padding: 4px 0; }
section.modal_content		{ display: inline-block; }
span.modal_subtitle			{ color: #373743;
font-size: 20px;
font-weight: normal;
font-family: 'Peugeot';
line-height: 20px;
padding: 0; }


/* FORMS */
form.modal_wrapper						{ background: #f0f0f0;
margin: 25px 0 0 0;
display: inline-block; }
form.modal_wrapper fieldset				{ width: 50%;
padding: 25px 0 25px 25px;
float: left;
display: inline-block; }
form.modal_wrapper fieldset::nth-child(2n+3)	{ padding: 25px 25px 25px 0; }
form.modal_wrapper fieldset.button_bar			{ background: #fff;
width: 100%;
padding: 25px 0 0 0; }


/* BUTTONS */
button.link_back			{ color:#555562; border:none; background:transparent; font-size: 13px;
font-family: 'Peugeot';
text-transform: uppercase; padding: 10px; margin:0; cursor:pointer; float:left; }
button.botton_ahead			{ border:none;
border-radius: 4px;
color: #fff;
font-size: 13px;
font-family: 'Peugeot';
text-transform: uppercase;
background: #1db5dc;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #1db5dc 0%, #00557f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1db5dc), color-stop(100%,#00557f));
background: -webkit-linear-gradient(top, #1db5dc 0%,#00557f 100%);
background: -o-linear-gradient(top, #1db5dc 0%,#00557f 100%);
background: -ms-linear-gradient(top, #1db5dc 0%,#00557f 100%);
background: linear-gradient(to bottom, #1db5dc 0%,#00557f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db5dc', endColorstr='#00557f',GradientType=0 );
padding: 10px; margin:0; cursor:pointer; float:right; }


/* WHEEL MENU */
#wheel						{ background-color:#060c0f; background-image:url(../images/skn_peugeot/bgs/ws_wheel_halo_blue.jpg); background-position:top center; background-repeat:no-repeat; width:100%; min-width:1250px; height:500px; overflow:hidden; }
div#content_wrapper			{ width:1250px; height:500px; margin:0 auto; }
div#app_logo				{ width:400px; position:relative; top:150px; left:780px; z-index:10; }
div#app_logo img			{ width:100%; }
div#wheel_container			{ width:100%; height:500px; position:relative; top:-500px; }
div#wheel_structure			{ background:url(../images/skn_peugeot/bgs/wheel_black_halo.png); background-repeat:no-repeat; background-position:50% 0; width:100%; min-width:1250px; height:500px; position:relative; top:0px; z-index:20; }
div.wrapper					{ width:1250px; margin:0 auto; }
button#pointsin,
button#carsecur,
button#services				{ color:#00d8ff; font-size:17px; font-family:'PeugeotLight'; text-shadow:rgba(0,0,0,0.8) 1px 1px 8px; border:none; background:transparent; background-position:0 0; background-repeat:no-repeat; height:64px; padding:0 0 0 102px; margin:0; cursor:pointer; }
button#pointsin				{ background-image:url(../images/skn_peugeot/buttons/btn_info.png); position:relative; top:39px; left:496px; z-index:11; }
button#carsecur				{ background-image:url(../images/skn_peugeot/buttons/btn_carsecur.png); position:relative; top:209px; left:339px; z-index:12; }
button#services				{ background-image:url(../images/skn_peugeot/buttons/btn_service.png); position:relative; top:396px; left:107px; z-index:13; }
button#pointsin:hover,
button#carsecur:hover,
button#services:hover		{ color:#fff; background-position:0 -64px; outline:none; }
button#pointsin:focus,
button#carsecur:focus,
button#services:focus		{ outline:none; }

div#wheel_animation_container				{ background:url(../images/skn_peugeot/bgs/wheel_whole.png); background-position:50% 0; background-repeat:no-repeat; width:100%; min-width:1250px; height:800px; top:-603px;; left:0px; position:relative; z-index:11; }
























