@charset "utf-8";

/* *************************************************************************************** */
/* ***************************** MEDIA QUERIES PARA WEBMOBILE **************************** */
/* *************************************************************************************** */

/* IPAD 2; */
@media only screen and (max-width:1024px) {
	body							{ background-image:url(../images/skn_peugeot/bgs/wm_halo_blue.jpg); background-repeat:no-repeat; background-position:center top; }
	header							{ background:none; display:inline-block; }
	#barre_transversale				{ display:none; }
	div#index_mobile_logo img		{ opacity:1; }
	#header_all						{ text-align:center; background:none; width:100%; display:inline-block; }
	#header_all div.logo			{ background:none; height:150px; top:0; left:0; display:inline-block; }
	#header_all div.logo img		{ width:auto; height:100%; }
	#header_all div.signature		{ display:none; }
	#header_all div#main_menu		{ display:none; }
	#page_title						{ display:none; }
	div#under_shade					{ display:none; }
	#wheel							{ display:none; }
	section#copyright				{ text-align:center; width:100%; display:inline-block; position:fixed; }
	section#copyright div#inter		{ margin:0 auto; }
	section#copyright div#inter img	{ width:auto; height:100%; }
	footer							{ display:none; }
	
	/* MODALS */
	section.modal_header h2				{ /*text-align:center; */ font-size:24px; }
	section.modal_header h3,
	section.modal_header h4				{ /*text-align:center;*/ }

	form.modal_wrapper div.column		{ background:#f0f0f0; text-align:center; width:100%; padding:15px 0 0; display:inline-block;  }
	form.modal_wrapper fieldset			{ width:100%; padding:0 25px; float:none; }
	fieldset#forgotPasswordLink,
	div#centradorModalesforgotPass form.modal_wrapper fieldset	{ background:#f0f0f0; }
	div#centradorModalesforgotPass form.modal_wrapper fieldset	{ padding:10px 25px 25px; }
	div.errorInForm												{ padding:0 25px; }
	form.modal_wrapper label			{ text-align:left; width:100%; padding:15px 0 0; }
	input[type="text"],
	input[type="password"],
	select,
	textarea, 
	form.modal_wrapper input[type="text"],
	form.modal_wrapper input[type="password"],
	form.modal_wrapper select,
	form.modal_wrapper textarea			{ width:100%; margin:0; }
	
	form.modal_wrapper fieldset label span a	{ padding:10px 0 25px; display:inline-block; }
	fieldset.button_bar							{}
	div#centradorModalesLogin form.modal_wrapper,
	div#centradorModalesforgotPass form.modal_wrapper	{ background:none; }

	div#loginLayer									{ display:inline-block!important; position:fixed!important; background:transparent!important; top:0; left:0; }
	div#centradorModalesLogin						{ display:inline-block!important; position:fixed!important; width:50%!important; min-width:320px; top:0px; left:0; }
	div#centradorModalesLogin section.modal_header button.close		{ display:none; }
	div#centradorModalesLogin section.modal_header h3				{ display:none; }
	
	button.link_back	{ border:none; border-radius:4px; background: #f2f2f2; /* Old browsers */ background: -moz-linear-gradient(top,  #f2f2f2 0%, #c7c7c7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #f2f2f2 0%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #f2f2f2 0%,#c7c7c7 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #f2f2f2 0%,#c7c7c7 100%); /* IE10+ */ background: linear-gradient(to bottom,  #f2f2f2 0%,#c7c7c7 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */ }

}


